.about_block {
  @extend %icon_pseudo;
  position: relative;
  padding: 107px 0 15px;

  &:before {
    @extend %hor_centr;
    content: unicode($icon-ufo);
    position: absolute;
    top: -117px;
    padding-left: 12px;
    font-size: 417px;
    line-height: 1;
    color: $violette;
  }

  .action_list {
    margin: 0 0 25px;
  }

  > p {
    letter-spacing: .025em;
    font-size: 17px;
    line-height: 22px;
  }
}

.about_action {
  margin-bottom: 24px;

  img {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
  }
}

.about_title {
  color: $violette;
  font: 52px/1 $RubikBold;
  letter-spacing: .021em;
  margin-bottom: 15px;
}

.about_team_holder {
  padding: 34px 0 32px 36px;
  margin-left: -16px;
  margin-right: 17px;
  position: relative;
  background: url(../i/footer_bg_2.svg) no-repeat 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: -33px;
    height: 6px;
    background: $violette;
  }
}

.about_team {
  list-style: none;

  li {
    + li {
      margin-top: 48px;
    }
  }
}

.team_unit {
  @extend %clearfix;
  letter-spacing: -.01em;
  color: #000;
  padding: 0 12px 10px 20px;
  border-left: 6px solid $violette;
}

.team_unit_name {
  font: 16px/1.1 $RubikBold;
  padding: 12px 0 8px;
}

.team_unit_post {
  opacity: .5;
  font: 14px $RubikMed;
}

.team_unit_info {
  padding-top: 22px;
}

.team_unit_photo {
  float: right;
  width: 71px;

  img {
    display: block;
    max-width: 100%;
  }

  + .team_unit_post,
  + .team_unit_name {
    margin-right: 100px;
  }
}

.about_info {
  position: relative;
  margin: 0 -16px;
}

.about_text {
  z-index: 1;
  position: relative;
  background: #fff;
  padding: 0 20px 0 16px;
  margin-bottom: 28px;

  p {
    font-size: 17px;
    line-height: 22px;
    letter-spacing: .023em;

    + p {
      margin-top: 20px;
    }
  }
}

.about_info_title {
  z-index: 2;
  position: relative;
  padding-top: 24px;
  margin: 16px 45px 20px 0;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: -45px;
    left: 0;
    bottom: 0;
    background: $violette url(../i/about_stars.png) no-repeat 100% 0;
  }

  .about_caption {
    @extend %icon_pseudo;
    z-index: 1;
    background: #fff;
    padding: 35px 14px 40px;
    letter-spacing: .075em;

    &:before {
      content: unicode($icon-ufo);
      position: absolute;
      bottom: -37px;
      right: -35px;
      font-size: 110px;
      line-height: 1;
    }
  }
}

.about_caption {
  position: relative;
  z-index: 1;
  font: 22px/26px $RubikBold;
  letter-spacing: .05em;
  color: #000;
}

.about_contacts {
  margin: 0 -16px 35px;
  background: #f8f8f8;
  padding: 35px 16px 40px;

  p {
    font-size: 17px;
    line-height: 22px;
    letter-spacing: .023em;
    margin-top: 15px;

    + p {
      margin-top: 20px;
    }
  }
}

.about_contacts_list {
  list-style: none;
  color: $violette;
  padding-top: 8px;

  @include respond-to-min($resp_step_2) {
    padding-top: 15px;
  }

  li {
    position: relative;
    margin-top: 31px;
    padding-left: 35px;

    &:before {
      position: absolute;
      top: -8px;
      left: -14px;
      width: 42px;
      height: 42px;
      font-size: 22px;
      line-height: 34px;
      text-align: center;
    }
  }
}

.contacts_link {
  color: $violette;
  font-size: 13px;
  letter-spacing: .065em;
}

.contacts_caption {
  font: 20px $RubikMed;
  margin-bottom: 1px;
}

.about_team_wrapper {
  margin-bottom: 30px;

  .about_title {
    padding-left: 18px;
    margin-bottom: 48px;
    letter-spacing: 0;
  }
}

.about_team {
  @extend %clearfix;
  list-style: none;

  li {
    .about_team_wrapper & {
      position: relative;
      margin-bottom: 18px;
      padding-top: 24px;

      + li {
        margin-top: 0;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          height: 1px;
          background: #ededed;
        }
      }
    }
  }
}
