.article_author {
  padding: 10px 17px 17px 0;
  font: 12px $RubikReg;
}

.article_author_link {
  @extend %firm_color;
  &:before {
    content: '@';
  }

  span {
    text-decoration: underline;
  }
}

.article_info {
  margin-left: -16px;
  padding-left: 16px;
  background: #f7f8f8;

  .article_author {
    padding-top: 12px;
    padding-bottom: 8px;
  }

  &._action_only {
    margin-bottom: 7px;
  }
}

.article_preview {
  position: relative;
  font: 17px/24px $RubikMed;
  padding: 20px 20px 13px 16px;
  margin-bottom: 28px;
  margin-left: -16px;
  border-bottom: 4px solid #000;

  @each $cls, $color in $firm-colors {
    .#{$cls} & {
      border-bottom-color: $color;
    }
  }
}

.article_subscribe_wide {
  margin: 20px 0 0 -16px;
}

.article_subscribe {
  @extend %icon_pseudo;
  position: relative;
  padding: 20px 125px 20px 26px;
  margin: 31px -16px 31px 20px;

  .subscribe_btn {
    letter-spacing: .025em;
  }

  &:before {
    content: unicode($icon-ufo);
    position: absolute;
    top: 0;
    right: 7px;
    font-size: 130px;
    line-height: 1;
    color: #fff;
  }

  &._stories {
    background: url(../i/subscribe_bg_blue.jpg) no-repeat 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

}

.article_tag_list {
  @extend %clearfix;
  list-style: none;
  margin-left: -22px;
  margin-bottom: 20px;

  li {
    float: left;
    padding-left: 22px;
    margin-top: 7px;
  }
}

.tag_link {
  @extend %firm_color;
  font: 13px/22px $RubikMed;
  letter-spacing: -.017em;
}

.article_telegram_section {
  background: #000;
  margin-left: -16px;
  padding: 19px;
  text-align: center;

  p {
    color: #fff;
    font: 16px/22px $RubikMed;
    margin-bottom: 12px;
  }
}

.article_telegram_block {
  font: 12px/14px $RubikReg;
  margin-bottom: 28px;

  span {
    opacity: .4;
  }
}

.telegram_link {
  @extend %firm_color;
  font: 12px/14px $RubikMed;
}

.related_title {
  position: relative;
  font: 18px/22px $RubikMed;
  padding: 20px 16px 18px;
  margin: 0 -16px 20px 0;
  color: #fff;
  letter-spacing: .022em;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &._news {
    background-image: url(../i/stories_bg.svg);
  }

  &._stories {
    background-image: url(../i/stories_bg.svg);
  }

  &._features {
    background-image: url(../i/features_bg.svg);
  }

  &._pool {
    background-image: url(../i/sharks_pool_bg.svg);
  }

  &._analysis {
    background-image: url(../i/pricewise_bg.svg);
  }

  &._pricewise {
    background-image: url(../i/pricewise_bg.svg);
  }

  &._crypto {
    background-image: url(../i/crypto.svg);
  }

  &._wiki {
    background-image: url(../i/wikicoin_bg.svg);
  }

  &._watch {
    background-image: url(../i/ico_bg.svg);
  }
}

.article_soc {
  @extend %clearfix;
  list-style: none;
  margin-left: -4px;
  padding-right: 10px;
  padding-bottom: 7px;

  img {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
  }

  ._action_only & {
    padding-top: 17px;
  }

  li {
    margin-bottom: 10px;
    padding-left: 4px;
    float: left;

    &:last-child {
      float: right;
    }
  }
}

.action_soc {
  list-style: none;

  &._brand {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #f8f8f8;
    margin-bottom: 24px;

    li {
      display: inline-block;
      vertical-align: top;
      padding: 4px;
    }
  }
}

.action_sh {
  @include transition_all(color .3s, background .3s);
  @extend %icon_pseudo;
  display: block;
  position: relative;
  cursor: pointer;
  width: 34px;
  height: 34px;
  text-align: center;
  border-radius: 17px;
  font: 12px/32px $RubikBold;
  background: #fff;
  border: 1px solid transparent;

  &:before {
    font-size: 17px;
    line-height: 32px;
  }

  ._brand & {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 22px;
    line-height: 40px;
    color: #fff;
  }

  &._active,
  &:hover {
    color: #fff !important;
  }

  &._r {
    width: 28px;
    height: 28px;
    margin-top: 3px;
    margin-right: 6px;
    line-height: 26px;

    &:before {
      content: unicode($icon-share-alt);
      font-size: 14px;
      line-height: 26px;
    }
  }

  &._f {
    &:before {
      content: unicode($icon-fb);
    }

    ._brand & {
      background: #385184;
    }
  }

  &._t {
    &:before {
      content: unicode($icon-tw);
    }

    ._brand & {
      background: #1da1f2;
    }
  }

  &._tg {
    &:before {
      content: unicode($icon-tg);
    }

    ._brand & {
      background: #08c;
    }
  }

  &._g {
    &:before {
      content: unicode($icon-gp);
    }
  }

  &._l {
    &:before {
      content: unicode($icon-in);
    }
  }

  &._i {
    &:before {
      content: unicode($icon-inst);
    }

    ._brand & {
      background: #ed4956;
    }
  }

  &._p {
    &:before {
      content: unicode($icon-pint);
    }
  }

  &._s {
    &:before {
      content: unicode($icon-stm);
    }
  }

  &._tm {
    &:before {
      content: unicode($icon-tmblr);
    }
  }

  &._rd {
    &:before {
      content: unicode($icon-rd);
    }

    ._brand & {
      background: #fa500e;
    }
  }

  @each $cls, $color in $firm-colors {
    .#{$cls} & {
      color: $color;

      &._active,
      &:hover {
        background: $color;
      }
    }
  }

  &._more {
    width: auto;
    min-width: 34px;
    padding: 0 10px 0 14px;
  }

  &._count {
    width: auto;
    margin-right: 5px;
    border-radius: 2px;
    padding: 0 10px;

    &:after,
    &:before {
      @include transition_all(border-color .3s);
      content: '';
      position: absolute;
      right: 100%;
      top: 50%;
      margin-top: -3px;
    }

    &:after {
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-right: 6px solid #fff;
      margin-right: -1px;
    }

    &:before {
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-right: 6px solid #fff;
    }

    @each $cls, $color in $firm-colors {
      .#{$cls} & {
        border-color: $color;

        &:before {
          border-right-color: $color;
        }

        &:hover {
          &:after {
            border-right-color: $color;
          }
        }
      }
    }
  }
}

.content_block {

  blockquote {
    position: relative;
    background: #f7f8f8;
    padding: 26px 16px 44px 28px;
    margin: 36px 0 23px -8px;

    p {
      @extend %firm_color;
      font: 20px/28px $RubikBold;
      letter-spacing: .012em;

      &:first-of-type {
        &:before {
          content: '\201C';
          position: absolute;
          color: #000;
          top: -16px;
          left: 9px;
          font: 90px/1 $cross_font_Georgia;
        }
      }

      &:last-of-type {
        &:after {
          content: '\201D';
          position: absolute;
          color: #000;
          bottom: -42px;
          right: 7px;
          font: 90px/1 $cross_font_Georgia;
        }
      }
    }

    i {
      position: absolute;
      bottom: 14px;
      left: 27px;
      opacity: .4;
      font-size: 13px;
      line-height: 22px;
      font-style: normal;
    }
  }

  h1, h3, h5, h2, h4, h6 {
    margin-top: 1em;
  }

  h1 {
    font: 22px $RubikBold;
    letter-spacing: .02em;
    margin-bottom: 18px;
  }

  h2 {
    font: 20px $RubikMed;
    letter-spacing: .025em;
    margin-bottom: 18px;
  }

  h3 {
    font: 18px $RubikBold;
    letter-spacing: .015em;
    margin-bottom: 16px;
  }

  h4 {
    font: 20px $RubikMed;
    letter-spacing: -.035em;
    margin-bottom: 18px;
  }

  h5 {
    font: 16px/1.4 $RubikMed;
    letter-spacing: .015em;
    margin-bottom: 16px;
  }

  h6 {
    font: 15px $RubikBold;
    letter-spacing: 0.01em;
    margin-bottom: 16px;
  }

  h1, h3, h5 {
    @extend %firm_color;
  }

  p {
    margin-bottom: 1em;
    font-size: 17px;
    line-height: 1.3;
    letter-spacing: .022em;
  }

  a {
    @extend %firm_color;
  }

  > ul {
    margin-top: 28px;
    list-style: none;

    > li {
      position: relative;
      padding-left: 32px;
      margin-bottom: 22px;
      line-height: 1.6;
      letter-spacing: .05em;

      &:before {
        @extend %firm_bg_color;
        content: '';
        position: absolute;
        left: 0;
        top: 5px;
        width: 12px;
        height: 12px;
        border-radius: 100%;
      }

      > ul {
        margin-top: 22px;
        list-style: none;

        > li {
          position: relative;
          padding-left: 14px;
          margin-bottom: 16px;

          &:before {
            @include transform_rotate(45);
            @extend %firm_bg_color;
            content: '';
            position: absolute;
            left: -10px;
            top: 7px;
            width: 8px;
            height: 8px;
            line-height: 1;
          }
        }
      }
    }
  }
}

.new_release_holder {
  padding-top: 24px;

  h2 {
    font: 22px $RubikMed;
    margin-bottom: 15px;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 25px;
  }
}

.release_form_holder {
  border: solid #f8f8f8;
  border-width: 1px 0;
  margin: 50px 0 25px;
  padding: 43px 0 8px;
}

.new_release_form {
  position: relative;
  padding-top: 28px;
  margin-top: 34px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: -16px;
    left: -16px;
    border-top: 1px solid rgba(0, 0, 0, .1);
  }

  .form_cell {
    margin-bottom: 20px;
  }
}

.release_summary {
  margin: 32px 0 10px;
  border-top: 1px solid #f8f8f8;
  padding: 18px 0;

  p {
    margin-top: 4px;
    font: 14px $RubikBold;
  }

  ._hash {
    color: #c0c0c0;
    font: 9px $RubikMed;
  }
}

.offer_block {
  background: #f6f7f7;
  margin: 4px 0 20px;
  padding: 15px 10px 20px;
  text-align: center;
  font: 16px/19px $RubikMed;

  p {

    + p {
      margin-top: 15px;
    }
  }
}
