//************  buttons

.btn_v1 {
  height: 40px;

  &.offer_btn {
    display: block;
    text-align: center;
    font: 14px/20px $RubikBold;
    padding: 10px 5px;
    margin: 0 22px;
    border-radius: 2px;
    text-transform: uppercase;

    .btn_icon {
      font-size: 16px;
      padding-left: 7px;
      vertical-align: -3px;
    }
  }

  &.subscribe_btn_email {
    display: inline-block;
    vertical-align: top;
    font: 14px/20px $RubikBold;
    padding: 10px 16px;
    border-radius: 2px;
    text-transform: uppercase;
  }

  &.more_btn {
    @extend %icon_pseudo;
    cursor: pointer;
    display: block;
    text-align: center;
    font: 12px/18px $RubikReg;
    padding: 10px;
    border-radius: 2px;

    &:after {
      //content: unicode($icon-triangle);
      //margin: 0 12px 0 -12px;
      //font-size: 9px;

      content: unicode($icon-triangle_r);
      font-size: 10px;
      line-height: 14px;
      display: inline-block;
      vertical-align: 0;
      margin-left: 4px;
      color: #ddd;
    }
  }

  &.subscribe_btn {
    display: block;
    width: 100%;
    font: 14px/20px $RubikBold;
    padding: 10px 5px;
    text-align: center;
    text-transform: uppercase;
  }
}

.btn_v2 {
  height: 34px;

  &.telegram_btn {
    display: inline-block;
    vertical-align: top;
    padding: 5px 12px;
    font: 14px/24px $RubikBold;

    span {
      padding: 0 5px;
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
    }

    .btn_icon {
      font-size: 20px;
    }
  }
}

.btn_v3 {
  height: 68px;

  &.subscr_btn {
    display: block;
    padding: 15px 12px;
    text-align: center;
    font: 15px/38px $RubikReg;
    color: #fff;

    &._tg {
      background: #139bd0;
    }

    &._fb {
      background: #3b5998;
    }

    &._tw {
      background: #1cb7eb;
    }

    > span {
      padding: 0 10px;
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
    }

    .btn_icon {
      font-size: 30px;
    }
  }
}

.btn_v4 {
  height: 40px;

  &.comment_btn {
    @extend %icon_pseudo;
    display: block;
    text-align: center;
    position: relative;
    font: 14px/38px $RubikBold;
    color: $clr_blue;

    &:after {
      content: unicode($icon-chevron_r_thin);
      transform: rotate(90deg);
      color: #eee;
      font-size: 20px;
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
      padding-bottom: 12px;
    }

    &:before {
      content: '';
      position: absolute;
      right: -16px;
      left: -16px;
      top: 0;
      height: 1px;
      background: #eee;
    }

    &:last-child {
      margin-bottom: -20px;
    }
  }

  &.subscribe_btn {
    @extend %icon_pseudo;
    display: inline-block;
    vertical-align: top;
    padding: 10px 22px;
    font: 15px/18px $RubikReg;
    color: #fff;
    border-radius: 2px;
    text-transform: uppercase;

    span {
      display: inline-block;
      vertical-align: middle;
    }

    &:after {
      font-size: 20px;
      display: inline-block;
      vertical-align: middle;
      padding-left: 15px;
    }

    &._fb {
      background: #385184;

      &:after {
        content: unicode($icon-fb);
      }

      &:hover {
        background: #43619e;
      }
    }

    &._tw {
      background: #1da1f2;

      &:after {
        content: unicode($icon-tw);
      }

      &:hover {
        background: #23c1ff;
      }
    }

    &._tg {
      background: #08c;

      &:after {
        content: unicode($icon-tg);
      }

      &:hover {
        background: #00a3f5;
      }
    }
  }

  &.create_release_btn {
    @extend %icon_pseudo;
    display: inline-block;
    vertical-align: top;
    padding: 9px 16px;
    border-radius: 2px;
    font: 14px/20px $RubikReg;
    text-transform: uppercase;

    &:after {
      content: unicode($icon-rocket);
      display: inline-block;
      vertical-align: 0;
      padding-left: 15px;
      font-size: 16px;
    }

    span {
      position: relative;
      z-index: 1;
    }
  }

  &.release_btn {
    @extend %firm_color;
    display: block;
    padding: 10px 29px;
    font: 14px/20px $RubikBold;
    background: #fff;
    text-align: center;
    border-radius: 2px;
    margin: 20px 23px 0 0;

    span {
      position: relative;
      z-index: 1;
    }
  }

  &.upload_btn {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    padding: 10px 21px;
    margin-bottom: 26px;
    margin-top: 13px;
    font: 14px/20px $RubikBold;
    background: #fff;
    text-align: center;
    border-radius: 2px;

    span {
      position: relative;
      z-index: 1;
    }
  }
}

.btn_blue {
  @include transition_all(background .3s);
  color: #fff;
  background: #179cdf;

  &:hover {
    background: darken(#179cdf, 5%);
  }
}

.transp_btn {
  background: none;
  border: 2px solid #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
}

.gray_btn {
  color: $clr_blue;
  border: 1px solid #eee;
}

.gray_btn_2 {
  @include transition_all(background .3s, color .3s);
  border: 2px solid rgba(0, 0, 0, .1);
  background: #fff;
  color: $violette;

  &:hover {
    background: $violette;
    color: #fff;
  }
}

.btn_violette_2 {
  @include transition_all(background .3s, color .3s);
  background: $violette;
  color: #fff;

  .error & {
    background: #e87272;
    pointer-events: none;
  }
}

.btn_violette_3 {
  @include transition_all(background .3s, color .3s);
  background: #5b3bec;
  color: #fff;
}

.btn_red {
  color: #fff;
  background: #f46b65;
}

.white_btn {
  background: #fff;
  color: $violette;
}
