//************  buttons

.btn_v1 {
  height: 48px;

  &.more_btn {
    @extend %icon_pseudo;
    cursor: pointer;
    display: block;
    text-align: center;
    font: 13px/18px $RubikMed;
    padding: 15px;

    &:before {
      content: $icon-triangle;
      margin: 0 12px 0 -12px;
      font-size: 9px;
    }
  }

  &.subscribe_btn {
    display: inline-block;
    vertical-align: top;
    letter-spacing: .05em;
    font: 20px/24px $RubikBold;
    padding: 12px 14px;

    .error & {
      opacity: .2;
      pointer-events: none;
    }
  }
}

.btn_v2 {
  height: 34px;

  &.telegram_btn {
    display: inline-block;
    vertical-align: top;
    padding: 5px 12px;
    font: 14px/24px $RubikBold;

    span {
      padding: 0 5px;
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
    }

    .btn_icon {
      font-size: 20px;
    }
  }
}

.btn_blue {
  @include transition_all(background .3s);
  color: #fff;
  background: #179cdf;

  &:hover {
    background: darken(#179cdf, 5%);
  }
}

.transp_btn {
  background: none;
  border: 2px solid #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
}

.gray_btn {
  color: $violette;
  background: #f7f8f8;
}

.btn_red {
  color: #fff;
  background: #f46b65;
}

.white_btn {
  background: #fff;
  color: $violette;
}
