//************  buttons

.btn_v1 {
  height: 40px;

  &.offer_btn {
    display: block;
    text-align: center;
    font: 14px/20px $RubikBold;
    padding: 10px 5px;
    margin: 0 22px;
    text-transform: uppercase;

    .btn_icon {
      font-size: 16px;
      padding-left: 7px;
    }
  }

  &.subscribe_btn_email {
    display: inline-block;
    vertical-align: top;
    font: 14px/20px $RubikBold;
    padding: 10px 16px;
    text-transform: uppercase;
  }

  &.more_btn {
    //@extend %icon_pseudo;
    cursor: pointer;
    display: block;
    text-align: center;
    font: 13px/18px $RubikMed;
    padding: 10px;

    &:after {
      //content: unicode($icon-triangle);
      //margin: 0 12px 0 -12px;
      //font-size: 9px;

      content: '';
      display: inline-block;
      vertical-align: 0;
      margin-left: 4px;
      border-top: 5px solid transparent;
      border-left: 6px solid #ddd;
      border-bottom: 5px solid transparent;
    }
  }

  &.subscribe_btn {
    display: inline-block;
    vertical-align: top;
    letter-spacing: .05em;
    font: 20px/24px $RubikBold;
    padding: 12px 14px;

    .error & {
      opacity: .2;
      pointer-events: none;
    }
  }
}

.btn_v2 {
  height: 34px;

  &.telegram_btn {
    display: inline-block;
    vertical-align: top;
    padding: 5px 12px;
    font: 14px/24px $RubikBold;

    span {
      padding: 0 5px;
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
    }

    .btn_icon {
      font-size: 20px;
    }
  }
}

.btn_v3 {
  height: 68px;

  &.subscr_btn {
    display: block;
    padding: 15px 12px;
    text-align: center;
    font: 15px/38px $RubikReg;
    color: #fff;

    &._tg {
      background: #139bd0;
    }

    &._fb {
      background: #3b5998;
    }

    &._tw {
      background: #1cb7eb;
    }

    > span {
      padding: 0 10px;
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
    }

    .btn_icon {
      font-size: 30px;
    }
  }
}

.btn_v4 {
  height: 40px;

  &.create_release_btn {
    display: block;
    width: 100%;
    padding: 9px 21px;
    border-radius: 2px;
    margin-top: 25px;
    font: 16px/20px $RubikBold;

    span {
      position: relative;
      z-index: 1;
    }
  }

  &.release_btn {
    @extend %firm_color;
    display: block;
    padding: 10px 29px;
    font: 14px/20px $RubikBold;
    background: #fff;
    text-align: center;
    border-radius: 2px;
    margin: 20px 23px 0 0;

    span {
      position: relative;
      z-index: 1;
    }
  }

  &.upload_btn {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    padding: 10px 21px;
    margin-bottom: 26px;
    margin-top: 13px;
    font: 14px/20px $RubikBold;
    background: #fff;
    text-align: center;
    border-radius: 2px;

    span {
      position: relative;
      z-index: 1;
    }
  }
}

.btn_blue {
  @include transition_all(background .3s);
  color: #fff;
  background: #179cdf;

  &:hover {
    background: darken(#179cdf, 5%);
  }
}

.transp_btn {
  background: none;
  border: 2px solid #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
}

.gray_btn {
  color: #415cba;
  border: 1px solid #eee;
}

.gray_btn_2 {
  @include transition_all(background .3s, color .3s);
  border: 2px solid rgba(0, 0, 0, .1);
  background: #fff;
  color: $violette;

  &:hover {
    background: $violette;
    color: #fff;
  }
}

.btn_violette_2 {
  @include transition_all(background .3s, color .3s);
  background: $violette;
  color: #fff;
}

.btn_violette_3 {
  @include transition_all(background .3s, color .3s);
  background: #5b3bec;
  color: #fff;
}

.btn_red {
  color: #fff;
  background: #f46b65;
}

.white_btn {
  background: #fff;
  color: $violette;
}
