.category_tip {
  @extend %icon_pseudo;
  position: relative;
  margin: 0 17px 24px -16px;
  padding: 25px 20px 15px 0;
  list-style: none;

  &:before {
    content: unicode($icon-ufo);
    position: absolute;
    right: -115px;
    top: 50%;
    margin-top: -72px;
    font-size: 200px;
    line-height: 1;
    pointer-events: none;
  }

  li {
    position: relative;
    padding-right: 20px;
    padding-left: 36px;
    color: #fff;
    margin-bottom: 12px;
    font: 24px/26px $RubikBold;
    //letter-spacing: .025em;

    &:before {
      content: '#';
      position: absolute;
      left: 16px;
      top: 0;
    }
  }

  @if ($amp_ver) {
    background: $violette;
  } @else {
    @each $cls, $color in $firm-colors {
      &.#{$cls} {
        background: $color;
      }
    }
  }
}

.category_link {
  @extend %icon_pseudo;
  display: inline-block;
  vertical-align: top;
  position: relative;
  height: 28px;
  border-radius: 14px;
  color: #fff;
  font: 12px/18px $RubikBold;
  //letter-spacing: .015em;
  padding: 7px 14px 3px 35px;
  margin-top: -14px;
  margin-bottom: 10px;

  &:before {
    content: unicode($icon-say);
    position: absolute;
    top: 6px;
    left: 8px;
    font-size: 16px;
  }
}

.category_tool {
  margin-top: -24px;
  margin-bottom: 14px;
  padding: 0 0 25px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: -16px;
    left: -16px;
    border-bottom: 8px solid;
  }

  p {
    font: 14px/1.6 $RubikBold;
    color: #000;
    margin-top: 5px;
    //letter-spacing: -.05em;
  }

  @if ($amp_ver) {
    &:before {
      border-bottom-color: $violette;
    }

    .category_link {
      background: $violette;
    }
  } @else {
    @each $cls, $color in $firm-colors {
      &.#{$cls} {
        &:before {
          border-bottom-color: $color;
        }

        .category_link {
          background: $color;
        }
      }
    }
  }
}
