.compare_holder {
  margin: 0 auto;
  max-width: 840px;

  .bread_crumbs {
    padding-left: 0;
    padding-right: 0;
  }

  .article_text._mr_-50 {
    margin-right: -50px;
  }

  h2 {
    font: 32px $RubikBold;
    margin-bottom: 30px;
  }
}

.compare_filter {
  background: #f8f8f8;
  padding: 20px 15px;
  margin: 0 -16px 10px;
}

.compare_filter_list {
  @extend %clearfix;
  list-style: none;

  li {
    + li {
      margin-top: 20px;
    }
  }
}

.compare_row {

  &._bdr {
    background: #f8f8f8;
    border-radius: 2px;
    overflow: hidden;
    margin-bottom: 20px;

    .compare_col {

      + .compare_col {
        border-top: 1px solid #e0e0e0;
      }
    }
  }

  &._description {
    margin-bottom: 15px;
    
    .compare_col {
      padding-bottom: 10px;
      
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: -16px;
        right: -16px;
        display: block;
        height: 1px;
        background: #f2f2f2;
      }

      + .compare_col {
        margin-top: 8px;
      }
    }
  }
}

.compare_currency {
  position: absolute;
  top: 0;
  left: 10px;
  color: #bdbdbd;
}

.compare_col {
  @extend %clearfix;
  font-size: 14px;
  line-height: 38px;
  position: relative;

  p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
  }
}

.compare_caption {
  color: #000;
  font: 14px/34px $RubikBold;
}

.compare_img {
  float: left;
  margin-right: 12px;
  margin-bottom: 10px;

  img {
    display: block;
    max-width: 100%;
  }
}

.compare_title {
  color: #000;
  font: 14px/18px $RubikBold;
  text-align: center;
  margin: 0 0 10px 0;
}

.compare_feature {
  background: #f8f8f8;

  > span {
    line-height: 18px;
    padding: 10px 0;
    display: inline-block;
    vertical-align: middle;
  }
  
  ._bdr & {
    padding: 0 50px;
  }

  &._cur {
    padding: 30px 0 0;
    
    &._last {
      padding-top: 38px;
    }
  }
}

.compare_points {
  position: absolute;
  top: 6px;
  left: 100%;
  padding-left: 5px;
  font-size: 10px;
  line-height: 13px;
}

.compare_option {
  @extend %icon_pseudo;
  position: relative;
  padding-left: 40px;
  line-height: 30px;

  &._pros {
    &:before {
      content: unicode($icon-check_circle);
      position: absolute;
      width: 20px;
      height: 20px;
      top: 5px;
      left: 16px;
      font-size: 20px;
      line-height: 1;
      text-align: center;
      color: #05af4f;
      font-weight: 100;
    }
  }

  &._cons {
    &:before {
      content: unicode($icon-close_circle);
      position: absolute;
      width: 20px;
      height: 20px;
      top: 5px;
      left: 16px;
      font-size: 20px;
      line-height: 1;
      text-align: center;
      color: #ff0a24;
      font-weight: 100;
    }
  }

  &._exchange {
    &:before {
      content: unicode($icon-buck_circle);
      position: absolute;
      width: 20px;
      height: 20px;
      top: 5px;
      left: 16px;
      font-size: 20px;
      line-height: 1;
      text-align: center;
      color: #333;
      font-weight: 100;
    }
  }

  &._url {
    &:before {
      content: unicode($icon-globe);
      position: absolute;
      width: 20px;
      height: 20px;
      top: 5px;
      left: 16px;
      font-size: 20px;
      line-height: 20px;
      text-align: center;
      color: $violette;
      font-weight: 100;
    }
  }

  &:first-child {
    margin-top: 25px;
  }
  
  &:last-child {
    padding-bottom: 7px;
  }
}

.compare_footer {
  padding: 12px 0 25px;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
}

.compare_link {
  color: #415cba;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &._unl {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.compare_counters {
  @extend %clearfix;
  padding: 0 18px 10px;
  line-height: 30px;

  dt {
    float: left;
    clear: both;
    font-family: $RubikBold;
  }

  dd {
    float: right;
  }
}

.compare_select_w {
  position: relative;
  margin-bottom: 20px;

  .select_arrow {
    top: 16px;
    right: 16px;
  }
}

.compare_select {
  display: block;
  height: 40px;
  width: 100%;
  color: #000;
  padding: 11px 8px;
  font: 15px/16px $RubikReg;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
}

.compare_legal {
  padding: 0 10px;
  font-size: 12px;
  line-height: 14px;
  color: #bbb;
  margin-bottom: 40px;
}

.compare_win {
  color: #05af4f;
}

.compare_lose {
  color: #ff0a24;
}

._fw_b {
  font-family: $RubikBold;
}