@if ($amp_ver) {
  $prefix: '';
}

.footer {
  @if ($amp_ver) {
    background: url(i/footer_bg_2.svg) no-repeat 50% 50%;
  } @else {
    background: url(../i/footer_bg_2.svg) no-repeat 50% 50%;
  }
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 32px 0 30px;
  text-align: center;
  position: relative;

  p {
    color: #fff;
    font: 12px $RubikMed;
  }

  .action_list {
    padding-top: 15px;
    margin: 0;

    li {

    }

    .action_link {
      color: #fff;

      &:before {
        font-size: 18px;
      }
    }
  }

  &._white {
    background: #fff;

    .footer_link {
      color: #000;
    }

    .action_list .action_link span,
    p {
      color: $violette;
    }
  }
}

.footer_menu {
  list-style: none;
  text-align: center;
  padding: 0 25px 12px;

  li {
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
    margin-bottom: 18px;
  }
}

.footer_link {
  color: #fff;
  text-decoration: underline;
  font: 16px $RubikMed;
  letter-spacing: -.03em;
}

.footer_logo {
  text-align: center;
  margin-bottom: 7px;
}

.go_top_holder {
  pointer-events: none;
  position: fixed;
  z-index: 4;
  bottom: 270px;
  height: 0;
  right: 0;
  left: 0;

  .section_inner {
    position: relative;
  }

  ._vis & {
    opacity: 1;
  }

  &._bottom {
    position: absolute;
    bottom: 100%;
  }
}

.go_top {
  @include transition_all(right .3s, opacity .3s);
  position: absolute;
  bottom: 0;
  opacity: 0;
  right: -65px;
  width: 56px;
  height: 56px;
  font-size: 20px;
  line-height: 58px;
  text-align: center;
  border-radius: 100%;
  color: #fff;
  background: #000;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50), 0 12px 14px 0 rgba(0, 0, 0, 0.50);

  @if ($amp_ver) {
  } @else {
    @extend %icon_pseudo;

    &:before {
      content: $icon-arrow-up;
    }
  }

  ._vis & {
    right: 16px;
    opacity: 1;
    pointer-events: all;
  }
}

.clr_violette {
  color: $violette;
}

.clr_red {
  color: $red;
}

.clr_blue {
  color: $blue;
}

.clr_green {
  color: $green;
}

$rectWidth: $content-max-w;

// **********  text

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.text_left {
  text-align: left;
}

.text_upper {
  text-transform: uppercase;
}

._unl {
  text-decoration: underline;
}
