.autocomplete_v1 {
  //display: block !important;
  max-width: 100%;
  background-color: transparent;
  border: 0;
  margin-top: 16px;
  box-shadow: none;

  .autocomplete-suggestion {
    @include transition_all(color .3s);
    @extend %clearfix;
    position: relative;
    padding: 9px 0;
    color: #fff;

    &.selected {
      background-color: transparent;
      color: #a7a7a7;
    }
  }

  .search_result {
    white-space: normal;
    padding-left: 37px;
    font: 16px/1.4 $RubikMed;
    //letter-spacing: -.021em;
  }

  .search_date {
    @extend .news_date;

    + .search_result {
      margin-right: 50px;
    }
  }
}

.autocomplete_v2 {
  //display: block !important;
  max-width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.1);
  z-index: 1;
  background: #fff;
  box-shadow: none;

  .autocomplete-suggestion {
    @include transition_all(color .3s);
    @extend %clearfix;
    position: relative;
    padding: 9px 0;
    color: #000;

    &.selected {
      background-color: transparent;
      color: $violette;
    }
  }

  .search_result {
    white-space: normal;
    font: 13px/1.2 $RubikMed;
    padding: 3px 16px;
  }

  .search_date {
    @extend .news_date;

    + .search_result {
      margin-right: 50px;
    }
  }
}

.search_input {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  color: #fff;
  border: 0;
  background: none;
  font: 14px/16px $RubikReg;
  height: 38px;
  padding: 11px 36px 11px 36px;
}

.input_v1 {
  @include transition_all(border-color .3s);
  display: block;
  height: 40px;
  width: 100%;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 2px;
  font: 14px/18px $RubikMed;
  padding: 9px 11px;

  &::-moz-placeholder {
    color: rgba(255, 255, 255, .5);
  }

  &::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .5);
  }

  &.error {
    border-color: #e87272;
  }
}

.input_v2 {
  @include transition_all(border-color .3s);
  display: block;
  height: 32px;
  width: 100%;
  color: #000;
  background: #fff;
  border: 2px solid rgba(0, 0, 0, .1);
  border-radius: 2px;
  font: 16px/20px $RubikMed;
  padding: 4px 14px;
}

.input_v3 {
  @include transition_all(border-color .3s);
  display: block;
  height: 40px;
  width: 100%;
  color: #000;
  border: 1px solid #ddd;
  border-radius: 2px;
  font: 14px/16px $RubikMed;
  padding: 10px 16px;

  &:hover {
    border-color: rgba(0, 0, 0, .16);
  }

  &.error {
    border-color: rgba(199, 41, 61, .4);
  }

  &.success {
    border-color: rgba(38, 109, 17, .4);
  }

  &[disabled] {
    background: #f8f8f8 !important;
    border: 1px solid rgba(0, 0, 0, .1) !important;
  }
}

textarea.input_v3 {
  height: 180px;
}

.input_v5 {
  @include transition_all(border-color .3s);
  display: block;
  height: 40px;
  width: 100%;
  color: $clr_black;
  border: 1px solid #ddd;
  border-radius: 2px;
  font: 14px/16px $RubikReg;
  padding: 11px 15px;
  background: #fff;

  &::-moz-placeholder {
    color: #bbb;
  }

  &::-webkit-input-placeholder {
    color: #bbb;
  }

  &.error {
    color: #e87272;
    border-color: #e87272;
  }

  &.success {
    color: #27ae60;
    border-color: #27ae60;
  }

  @include respond-to-min($resp_step_2) {
    padding: 10px 35px;
  }
}

.input_w {
  position: relative;

  &._has_currency {

    input {
      padding-right: 77px;
    }

    &:before {
      content: '';
      position: absolute;
      right: 67px;
      top: 0;
      bottom: 0;
      width: 2px;
      background: rgba(0, 0, 0, .1);
    }
  }
}

.label_v1 {
  color: #000;
  font: 13px $RubikMed;
  margin-bottom: 7px;
  display: inline-block;
  vertical-align: top;
}

.label_v2 {
  //letter-spacing: .02em;
  color: #000;
  font: 14px $RubikMed;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 3px;
}

.msg_block {
  line-height: 18px;
  font-size: 14px;
  padding-bottom: 5px;

  p {
    //letter-spacing: .02em;
    margin-bottom: 25px;
  }

  .subscribe_success_msg {
    height: 110px;

    &:after {
      width: 123px;
      height: 85px;
      margin: -54px 0 0 -61px;;
    }

    &:before {
      margin-top: -40px;
    }
  }
}

.block_title {
  font: 20px/26px $RubikBold;
  color: #202020;
  margin-bottom: 12px;
}

.msg_status {
  position: relative;
  margin: 18px 0 20px;

  &._success {
    height: 85px;
    background: url(../i/space.svg) no-repeat 50% 50%;
  }

  &._fail {

  }
}

.follow_caption {
  font: 20px/1.15 $RubikBold;
  padding: 20px 0 10px;
  margin-bottom: 15px;
  text-align: center;
}

.follow_tips {
  font: 16px/1.2 $RubikReg;
  margin-bottom: 20px;
  min-height: 110px;
  text-align: center;
}

.follow_counter {
  text-align: center;
  color: #bdbdbd;
  padding-top: 20px;
  padding-bottom: 20px;
  font: 14px/1.2 $RubikReg;
}

.follow_widget {
  margin-bottom: 20px;
  text-align: center;
}

.subscribe_success_msg {
  @extend %icon_pseudo;
  position: relative;
  display: none;
  height: 52px;
  text-align: center;

  &:after,
  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
  }

  &:after {
    content: '';
    background: url(../i/space.svg) no-repeat 50% 50%;
    width: 91px;
    height: 63px;
    margin: -26px 0 0 -44px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  &:before {
    content: unicode($icon-check_2);
    color: #27ae60;
    font-size: 28px;
    width: 22px;
    height: 22px;
    margin: -22px 0 0 -9px;
    z-index: 1;
  }

  .subscribe_success & {
    display: block;
  }

}

.dialog_v1 {
  position: fixed;
  max-width: 95%;

  .ui-widget-header {
    border: 0;
    background-color: transparent;
  }
}

.ui-widget-overlay {

  .overlay_v2 & {
    background: rgba(0, 0, 0, .8);
    opacity: 1;
  }
}

.ui-dialog {
  &.dialog_v2 {
    padding: 0;
    border: 0;
    border-radius: 2px;

    .ui-dialog-content {
      padding: 0;
    }
  }

  &.dialog_title_v1 {
    .ui-dialog-titlebar-close {
      @extend %icon_pseudo;
      background: none;
      border: 0;
      width: 20px;
      height: 20px;
      top: 20px;
      right: 15px;
      text-align: center;

      &:before {
        content: unicode($icon-close);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        color: #fff;
        font-size: 18px;
        line-height: 20px;
        text-indent: 0;
      }

      span {
        display: none;
      }
    }

    .ui-dialog-titlebar {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      border: 0;
      background: none;
      z-index: 1;
    }
  }

  &.dialog_title_v2 {

    .ui-dialog-title {
      width: 100%;
      padding: 0 10%;
    }

    .ui-dialog-titlebar {
      @extend .sh_title;
      border: none;
      background: none;
      z-index: 1;
      padding: 24px 0 0;
      border-radius: 2px 2px 0 0;
    }

    .ui-dialog-titlebar-close {
      @extend %icon_pseudo;
      background: none;
      border: 0;
      width: 24px;
      height: 24px;
      right: 5px;
      top: 18px;
      text-align: center;

      &:before {
        content: unicode($icon-close);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-indent: 0;
        color: #c8c8ca;
        font-size: 18px;
        line-height: 24px;
      }

      span {
        display: none;
      }
    }
  }
}

.bonus_img {
  border-radius: 2px 2px 0 0;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
  }
}

.bonus_caption {
  text-align: center;
  color: #000;
  font: 18px/21px $RubikBold;
  padding: 30px 10px 20px;
}

.bonus_controls {
  text-align: center;
  padding: 5px 10px 35px;
}

.gl_link {
  font: 14px $RubikReg;
  color: $clr_blue;
  text-decoration: none;
}
