.attention_block {
  display: block;
  text-decoration: none;
  padding: 36px 15px 13px 14px;
  margin: 14px 0;
  background: #fff;
  font: 14px/16px $RubikReg;
  position: relative;
  z-index: 1;
  border-radius: 2px;
  box-shadow: 0 1px 10px rgba(128, 128, 130, .2);

  &._warn {
    color: $clr_black;
  }
}

.attention_text {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font: 10px/12px $RubikBold;
  border-radius: 2px 0 2px 0;
  padding: 7px 12px 7px 12px;

  ._warn & {
    background: #ff3700;
  }
}

.top_story_caption {
  font: 13px $RubikMed;
  margin-top: 6px;
  margin-bottom: 17px;
  //letter-spacing: .013em;
  position: relative;
  z-index: 1;
}

.press_release_title {
  margin: 0 -16px 22px;
  padding: 20px 16px 18px;
  color: #fff;
  font: 24px $RubikBold;
  //letter-spacing: .025em;

  &._release {
    background: $pink;
  }
}

.article_reviews {
  list-style: none;
}

.main_block_slider {
  margin: 0 -16px;
  padding: 0 16px;

  .swiper-slide._small {
    width: 160px;

    .article_block._main {
      .article_stat {
        padding-top: 12px;
        font-size: 10px;
        line-height: 12px;

        li {
          margin-top: 2px;
        }
      }
    }

    .article_title .article_action {
      bottom: 20px;
      right: 8px;
    }

    .article_link {
      font: 12px/15px $RubikMed;
    }
  }
}

.swiper-pagination {
  &.main_pagination {
    margin: 7px 0 0;
    position: relative;
    text-align: left;

    .swiper-pagination-bullet {
      margin: 0 10px 0 0;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: -5px;
        bottom: -5px;
        left: -5px;
        right: -5px;
      }

      &.swiper-pagination-bullet-active {
        background: #4329ba;
      }
    }
  }
}

.article_block {
  position: relative;
  margin-bottom: 15px;
  background: #fff;
  box-shadow: 0 0 10px rgba(128, 128, 130, .2);
  border-radius: 2px;

  .swiper-slide & {
    display: flex;
    flex-flow: column;
    align-items: stretch;

    .article_title {
      flex: 1 0 auto;
      display: flex;
      flex-flow: column;

      p {
        flex: 1 0 auto;
      }
    }
  }

  &._main {
    .article_stat {
      padding-top: 32px;
    }

    .article_link {
      min-height: 38px;
      display: inline-block;
      vertical-align: top;
    }
  }

  &._top {
    padding-top: 12px;
    padding-bottom: 12px;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      top: 0;
      left: -16px;
      right: 0;
      background-repeat: no-repeat;
      background-position: 0 0;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    .article_title {
      padding-bottom: 25px;
    }

    &.story_block {
      &:after {
        background-image: url(../i/stories_bg.svg);
      }

      .top_story_caption {
        color: #fff;
      }
    }
  }

  &._review {
    @extend %clearfix;

    .article_title {
      background: none;
      padding: 4px 0 0;
    }

    .article_link {
      font: 18px/1.4 $RubikMed;
    }

    .article_stat {
      clear: both;
      padding-top: 7px;
    }

    .article_img {
      float: left;
      width: 88px;
      margin-bottom: 10px;

      + .article_title {
        margin-left: 104px;

        .article_link {
          font-size: 16px;
          //letter-spacing: -.015em;
        }
      }
    }
  }

  > p {
    font-size: 17px;
    line-height: 22px;
    //letter-spacing: .021em;
    margin-top: 21px;
    padding-right: 16px;

    + .article_author {
      margin-top: 10px;
    }
  }

}

.article_img_link {
  display: block;
  position: relative;
  z-index: 1;
}

.article_img {
  position: relative;
  overflow: hidden;
  border-radius: 2px;

  img {
    display: block;
    width: 100%;
  }

  ._main & {
    border-radius: 2px 2px 0 0;
  }

  ._article & {
    margin-left: -16px;
    padding-right: 17px;
  }

  @each $cls, $color in $firm-colors {
    .#{$cls} & {
      &:before {
        background: $color;
      }
    }
  }
}

.video_link {
  @extend %icon_pseudo;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  color: #fff;
  margin: -40px 0 0 -40px;

  &:before {
    -webkit-transform: translate(-40%, -50%) rotate(-90deg);
    -ms-transform: translate(-40%, -50%) rotate(-90deg);
    transform: translate(-40%, -50%) rotate(-90deg);
    content: unicode($icon-triangle);
    font-size: 26px;
    line-height: 1;
    position: absolute;
    top: 50%;
    left: 50%;
  }

  @each $cls, $color in $firm-colors {
    &.#{$cls} {
      background: transparentize($color, .2);
    }
  }
}

.article_date {
  @extend %icon_pseudo;
  position: relative;
  margin-bottom: 12px;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  font: 10px/12px $RubikBold;
  padding: 6px 10px 6px 26px;
  border-radius: 2px;

  &:before {
    content: unicode($icon-calendar);
    position: absolute;
    left: 7px;
    top: 4px;
    font-size: 14px;
  }

  &._mt_5 {
    margin-top: 5px;
  }

  @each $cls, $color in $firm-colors {
    &.#{$cls} {
      background: $color;
    }
  }
}

.article_title {
  z-index: 1;
  position: relative;
  padding: 10px 14px 20px 14px;
  background: #fff;
  border-radius: 0 2px 2px 0;
}

.article_link {
  font: 16px/19px $RubikBold;
  text-decoration: none;
  color: $clr_black;

  //@extend %firm_color;

  ._video & {
    font: 16px/1.4 $RubikMed;
    //letter-spacing: -.023em;
  }

  ._article & {
    color: #000;
    //letter-spacing: .08em;
  }
}

.article_theme {
  text-decoration: underline;

  .story_block & {
    color: $violette;
  }
}

.article_stat {
  @extend %clearfix;
  position: relative;
  clear: both;
  list-style: none;
  padding-top: 14px;
  color: rgba(0, 0, 0, .4);
  font: 12px/1.2 $RubikReg;

  > li {
    float: left;
    padding-right: 8px;

    &._wide {
      width: 100%;
    }

    &._fr {
      float: right;
      padding-right: 0;
    }

    &.stat_action {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  ._video & {
    padding-top: 5px;
  }

  &._mod_1 {
    margin-bottom: 15px;
  }

  .article_action ~ & {
    margin-right: 30px;
  }

  &._hero {
    padding-top: 0;
  }

  &._action {
    position: relative;
    padding-right: 30px;
  }
}

.article_stat_val {
  @extend %icon_pseudo;
  position: relative;
  display: inline-block;
  vertical-align: top;
  color: #bbb;

  &._stat_time {
    padding-left: 14px;

    &:before {
      content: unicode($icon-clock);
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -.4em;
      font-size: .9em;
      line-height: 1;
      color: #dadada;
    }
  }

  &._stat_views {
    padding-left: 16px;

    &:before {
      content: unicode($icon-eye_dot);
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -.5em;
      font-size: 1.1em;
      line-height: 1;
      color: #dadada;
    }
  }
}

a.article_stat_val {
  text-decoration: underline;
}

.article_action {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 57px;
  left: -16px;

  .article_tags + & {
    bottom: 92px;
  }

  ._main & {
    top: 16px;
  }

  .news_item & {
    top: auto;
    left: auto;
    bottom: 8px;
    right: 10px;

    .article_action_btn {
      position: relative;
      margin: 0;
      background: none;

      &:before {
        color: #ddd;
      }
    }
  }

  .article_title & {
    top: auto;
    left: auto;
    bottom: 15px;
    right: 12px;

    .article_action_btn {
      position: relative;
      margin: 0;
      background: #ddd;
    }
  }
}

.article_action_btn {
  float: left;
  margin-top: 16px;
  margin-left: 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 28px;
  background: rgba(0, 0, 0, .4);

  @if ($amp_ver) {

    .btn_icon {
      position: absolute;
      width: 14px;
      height: 14px;
      top: 6px;
      left: 6px;

      svg {
        width: 14px;
        height: 14px;

        path {
          fill: rgba(0, 0, 0, .4);
        }
      }
    }

  } @else {
    @extend %icon_pseudo;

    &:before {
      content: unicode($icon-share-alt);
      color: #fff;
    }
  }

}

.article_tags {
  position: absolute;
  z-index: 2;
  list-style: none;
  bottom: 0;
  left: 0;

  &._head {
    top: 0;
    bottom: auto;

    .article_tag {
      border-radius: 2px 0 2px 0;
    }
  }

  li {
    float: left;
    padding-right: 10px;
  }
}

.article_tag {
  position: relative;
  min-width: 24px;
  height: 24px;
  line-height: 22px;
  display: inline-block;
  vertical-align: top;
  border-radius: 0 2px 0 2px;
  color: #fff;
  text-decoration: none;

  span {
    display: inline-block;
    vertical-align: middle;
    //vertical-align: top;
    padding: 4px 10px 4px 1px;
    font: 10px/14px $RubikBold;
    //letter-spacing: .015em;
    text-transform: uppercase;
  }

  &._top {
    span {
      padding: 5px 15px;
    }
  }

  &:before {
    font-size: 16px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    //border-radius: inherit;
    display: inline-block;
    vertical-align: top;
    text-align: center;
  }

  &._wide {
    &:before {
      padding-left: 5px;
    }
  }

  @each $cls, $color in $firm-colors {
    &.#{$cls} {
      background: $color;
    }
  }
}

.article_controls {
  margin: 0 0 16px;
}

.group_line {
  height: 4px;
  margin: 22px -16px 5px;

  @each $cls, $color in $firm-colors {
    &.#{$cls} {
      background: $color;
    }
  }
}

.article_group_title_w {
  @extend %clearfix;
  margin-bottom: 5px;

  .article_group_title {
    float: left;
    margin-bottom: 0;
  }
}

.article_tip {
  clear: both;
  color: #000;
  font: 14px/16px $RubikReg;
  padding: 0 0 14px 33px;
}

.article_group_title {
  @extend %icon_pseudo;
  position: relative;
  color: $clr_black;
  font: 20px/23px $RubikBold;
  text-transform: uppercase;
  ////letter-spacing: .025em;
  padding: 10px 10px 10px 33px;
  margin: 0 0 5px;
  //background-position: 0 0;
  //background-repeat: no-repeat;
  //-webkit-background-size: cover;
  //-moz-background-size: cover;
  //-o-background-size: cover;
  //background-size: cover;

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  &:before {
    position: absolute;
    top: 8px;
    left: 0;
    border-radius: 100%;
    color: #fff;
    height: 26px;
    width: 26px;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
  }

  @each $cls, $color in $firm-colors {
    &.#{$cls} {
      &:before {
        background: $color;
      }
    }
  }

  @each $cls, $content in $firm-icons {
    &.#{$cls} {
      &:not([class^="icon-"]):not([class*=" icon-"]):before {
        content: unicode($content);
      }
    }
  }

  //&._news {
  //  background-image: url(../i/stories_bg.svg);
  //}
  //
  //&._stories {
  //  background-image: url(../i/stories_bg.svg);
  //}
  //
  //&._features {
  //  background-image: url(../i/features_bg.svg);
  //}
  //
  //&._pool {
  //  background-image: url(../i/sharks_pool_bg.svg);
  //}
  //
  //&._analysis {
  //  background-image: url(../i/pricewise_bg.svg);
  //}
  //
  //&._pricewise {
  //  background-image: url(../i/pricewise_bg.svg);
  //}
  //
  //&._crypto {
  //  background-image: url(../i/crypto.svg);
  //}
  //
  //&._wiki {
  //  background-image: url(../i/wikicoin_bg.svg);
  //}
  //
  //&._watch {
  //  background-image: url(../i/ico_bg.svg);
  //}
}

.artile_link {
  color: inherit;
  text-decoration: none;
}

.news_list {
  list-style: none;

  > li {
    margin-top: 12px;
    border-bottom: 1px solid #eee;

    &:last-child {
      border-bottom: 0;
    }
  }

  &._related {
    margin-right: -16px;

    > li {
      margin: 20px 0 26px;
    }
  }
}

.news_item {
  @extend %clearfix;
  position: relative;
  padding: 0 16px 14px;

  .article_img {
    float: left;
    width: 130px;
    margin-right: 10px;
  }

  &._wide {
    padding-left: 0;
    padding-right: 0;

    .article_stat {
      padding-top: 10px;
    }
  }
}

.news_date {
  float: right;
  width: 37px;
  padding-top: 7px;
  font: 12px/1.1 $RubikReg;

  .news_list & {
    color: rgba(0, 0, 0, .4);
  }

  ._related & {
    padding-top: 4px;
  }
}

.news_name {
  //@extend %firm_color;
  font: 14px/1.2 $RubikMed;
  color: $clr_black;

  ._related & {
    font-size: 16px;
    //letter-spacing: .01em;
  }
}

.comments_block {
  margin: 0 -16px;
  background: #f7f8f8;
}

