@import "includes/global_var";
//@import "fonts";
//@import "jquery.ui.all";
//@import "datapicker";
//@import "dialog_global";
@import "font_icons";
@import "../crypto_icons/variables";
//@import "main";
//@import "header";
@import "auto-complete";
@import "forms";
@import "buttons";
@import "sidebars";
@import "home";
@import "about";
@import "category";
@import "article";
@import "price";

//@import "tables";
@import "footer";
//@import "print";
