html, body {
  //height: 100%;
}

html {
  overflow-y: scroll;
}

body {
  font: 14px/1.2 $RubikReg;
  color: $clr_black;
  background: #fff;
  max-width: $body_width;
  margin: 0 auto;
  overflow: hidden;

  &.no_transition {
    * {
      -webkit-transition: none !important;
      -ms-transition: none !important;
      transition: none !important;
    }
  }
}

a {
  color: $violette;
}

.hide {
  display: none !important;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.mb {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.wrapper {
  @extend %global_flex_block_column_nowrap_center_stretch;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  padding: 50px 0 0;
  max-width: $body_width;
  margin: 0 auto;
}

.main_content {
  @include flex(1 0 auto);
  //min-height: 2000px;
  position: relative;
  padding-bottom: 20px;
}

.section_inner {
  width: 100%;
  max-width: $body_width;
  margin: 0 auto;
  padding: 0 16px;
}
