//*************************** sidebars

%sidebar {
  @include transition_all(transform .3s, opacity .3s);
  z-index: 5;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  width: $body_width;
  max-width: 100%;
  pointer-events: none;
  //opacity: 0;
}

.subscribe_holder {
  @extend %icon_pseudo;
  @extend %sidebar;
  @include transform_translate(-100%, 0);
  @extend %global_flex_block_column_nowrap_spb_stretch;
  padding-top: 48px;
  opacity: 0;
  z-index: 10;
  background: $violette;
  overflow: hidden;

  &:before {
    content: unicode($icon-ufo);
    position: absolute;
    pointer-events: none;
    color: #000;
    font-size: 610px;
    line-height: 1;
    right: -250px;
    top: -10px;
  }

  .subscribe_close {
    top: 15px;
    display: block;

    &:before {
      color: #fff;
    }
  }

  .footer_form {
    display: block;
  }

  .footer_msg,
  .footer_action,
  .footer_form {
    background: none !important;
  }

  .input_v1 {
    background: $violette;
  }

  .footer_msg {
    &._success {
      padding-top: 0;
    }

    &._fail {
      padding-top: 8px;
    }
  }

  .footer_action {
    color: #fff;

    p {
      font: 18px/24px $RubikMed;
      //letter-spacing: .025em;
    }
  }

  .action_link {
    color: #fff;
  }

  .subscribe_opened & {
    @include transform_translate(0, 0);
    opacity: 1;
    pointer-events: all;
  }
}

.subscribe_title {
  color: #fff;
  padding: 0 36px;
  font: 28px/32px $RubikBold;
  //letter-spacing: .025em;

  .subscribe_fail &,
  .subscribe_success & {
    display: none;
  }
}

.subscribe_block {
  @include flex(1 0 auto);
  overflow: hidden;
  position: relative;
}

.main_menu_holder {
  @extend %sidebar;
  @include transform_translate(100%, 0);
  @extend %global_flex_block_column_nowrap_spb_stretch;
  padding-top: 52px;

  &:before {
    @include transition_all(opacity .3s);
    opacity: 0;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $violette url(../i/meteo.svg) no-repeat 91% 81%;
  }

  .menu_opened & {
    @include transform_translate(0, 0);
    opacity: 1;
    pointer-events: all;

    &:before,
    .menu_footer,
    .search_block,
    .main_menu {
      opacity: 1;
    }
  }
}

.search_block {
  @include transition_all(transform .3s, opacity .3s);
  opacity: 0;
  margin: 0 15px 22px;
  position: relative;
  border-radius: 2px;
  background: rgba(255, 255, 255, .25);
}

.search_holder {
  @extend %sidebar;
  @include transform_translate(100%, 0);
  opacity: 0;
  padding: 16px 0;
  background: url(../i/search_bg.jpg) no-repeat 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .form_cell {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 16px;
      left: 16px;
      background: rgba(0, 0, 0, .5);
      border-radius: 24px;
    }
  }

  .search_opened & {
    @include transform_translate(0, 0);
    opacity: 1;
    pointer-events: all;
  }
}

.filter_btn {
  @include transition_all(font-size .2s);
  @extend %icon_pseudo;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  right: 16px;
  width: 36px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
  background: none;
  color: #fff;

  &:before {
    content: unicode($icon-search);
  }

  .search_input:focus + & {
    font-size: 24px;
  }

  .search_block & {
    right: auto;
    left: 0;
  }
}

.search_title {
  @include transition_all(opacity .3s);
  opacity: 0;
  color: #fff;
  padding: 14px 0 34px 20px;
  font: 24px $RubikBold;
  //letter-spacing: -.031em;

  .search_opened & {
    opacity: 1;
  }
}

// *********  menu

.main_menu_wrapper {
  @extend %clearfix;
  overflow-y: auto;
  padding: 0 35px;
  flex: 1 0 auto;
}

.main_menu {
  @include transition_all(opacity .3s);
  opacity: 0;
  list-style: none;
  text-align: left;
  float: left;
  width: 50%;
}

.menu_item {
  display: block;
  margin-bottom: 20px;
}

.menu_link {
  cursor: pointer;
  position: relative;
  display: block;
  text-decoration: none;
  color: #fff;
  font: 14px $RubikReg;
}

.menu_footer {
  @include transition_all(transform .3s, opacity .3s);
  border-top: 8px solid $violette;
  position: relative;
  overflow: hidden;
  opacity: 0;

  ._show_subscribe & {
    //@include transform_translate(-100%, 0);
    //opacity: 1;
    //pointer-events: all;
    //
    //.subscribe_close {
    //  display: block;
    //}
  }

  .menu_opened & {
    @include transform_translate(0, 0);

    .subscribe_close {
      display: none;
    }
  }
}

.footer_subscribe {
  background: #f7f8f8;
  padding: 20px 34px 22px;
  position: relative;

  &:before {
    content: '';
    z-index: 1;
    pointer-events: none;
    position: absolute;
    bottom: -60px;
    right: -15px;
    width: 113px;
    height: 73px;
    background: url(../i/ufo.svg) no-repeat 0 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

.subscribe_close {
  @extend %icon_pseudo;
  position: absolute;
  z-index: 1;
  top: 6px;
  right: 10px;
  width: 22px;
  height: 22px;
  display: none;

  &:before {
    content: unicode($icon-close);
    color: $violette;
    font-size: 22px;
    line-height: 1;
  }

  .open_subscribe & {
    display: block;
  }
}

.footer_form {
  display: none;
  padding: 36px 16px 16px 36px;
  background: $violette;

  .form_cell {
    margin-bottom: 12px;
  }

  .open_subscribe & {
    display: block;
  }

  .subscribe_fail &,
  .subscribe_success & {
    display: none;
  }
}

.footer_msg {
  display: none;
  background: $violette;
  padding: 42px 36px 24px;

  p {
    color: #f7f8f8;
    font: 16px/1.3 $RubikMed;
    //letter-spacing: -.021em;
  }

  &._success {
    padding-top: 46px;
    background: url(../i/success_bg.jpg) no-repeat 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .msg_icon {
      font-size: 50px;
    }

    .subscribe_success & {
      display: block;
    }
  }

  &._fail {
    .subscribe_fail & {
      display: block;
    }
  }
}

.footer_msg_title {
  font: 20px/2 $RubikBold;
  color: #fff;
  //letter-spacing: .017em;
  margin-bottom: 20px;

  span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
}

.msg_icon {
  font-size: 40px;
  padding-right: 30px;
}

.subscribe_link {
  color: $violette;
  font: 16px $RubikMed;
  text-decoration: underline;
  //letter-spacing: -.017em;
}

.footer_action {
  position: relative;
  padding: 10px 34px 35px;
  background: #fff;

  p {
    font: 20px/1.2 $RubikBold;
    //letter-spacing: .017em;
    margin-bottom: 16px;
  }

  .open_subscribe & {
    display: none;
  }

  .main_menu_holder & {
    background: $violette_dark;
    padding: 18px 20px 18px;

    .action_link {
      color: #fff;

      &:before {
        line-height: 24px;
      }
    }
  }
}

.action_list {
  @extend %global_flex_block_row_nowrap_space_between_stretch;
  text-align: center;
  list-style: none;
  margin: 0 -12px;

  li {
    @include flex(1 0 auto);
    height: 24px;
    border-left: 1px solid #4a34a8;

    &:first-child {
      border-left: 0;
    }
  }
}

.action_link {
  @extend %icon_pseudo;
  display: inline-block;
  vertical-align: top;
  position: relative;
  color: $violette;

  &:before {
    display: block;
  }

  span {
    font: 13px $RubikMed;
    //letter-spacing: -.017em;
    margin-top: 12px;
    display: inline-block;
    vertical-align: top;
    text-decoration: underline;
  }

  &._w {
    &:before {
      content: unicode($icon-tw);
    }
  }

  &._t {
    &:before {
      content: unicode($icon-tg);
    }
  }

  &._f {
    &:before {
      content: unicode($icon-fb);
    }
  }

  &._rd {
    &:before {
      content: unicode($icon-rd);
    }
  }

  &._r {
    &:before {
      content: unicode($icon-rss);
    }
  }

  &._y {
    &:before {
      content: unicode($icon-youtube);
    }
  }
}

.sh_holder {
  @extend %sidebar;
  @include transform_translate(100%, 0);
  opacity: 0;
  padding: 16px 0;
  background: rgba(0, 0, 0, .6);
  z-index: 10;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  .sh_opened & {
    @include transform_translate(0, 0);
    opacity: 1;
    pointer-events: all;
  }
}

.sh_block {
  position: relative;
  background: #fff url(../i/space_ship.svg) no-repeat 95% 87%;
  padding: 9px 14px 0;
  border-radius: 5px;

  .search_title {
    opacity: 1;
    padding: 9px 70px 22px 16px;
  }

  .action_soc {
    @extend %clearfix;
    margin-right: -30px;

    li {
      width: 50%;
      float: left;
      margin-bottom: 13px;
      padding-left: 5px !important;
    }
  }

  .action_sh {
    background: none;
    text-align: left;
    color: #fff;
    width: auto;

    &:before {
      display: inline-block;
      vertical-align: middle;
      width: 34px;
      text-align: center;
    }
  }

  .action_sh_text {
    display: inline-block;
    vertical-align: middle;
    font: 14px/1 $RubikMed;
    border-bottom: 1px solid #fff;
    margin-left: 5px;
  }
}

.sh_close_btn {
  @extend %icon_pseudo;
  position: absolute;
  right: 5px;
  top: 10px;
  text-align: center;
  width: 24px;
  height: 24px;

  &:before {
    content: unicode($icon-close);
    color: #c8c8ca;
    font-size: 18px;
    line-height: 24px;
  }
}

.sh_title {
  text-align: center;
  font: 16px/19px $RubikBold;
  //letter-spacing: -.001em;
}

.subscribe_form {
  @extend %clearfix;
  padding: 10px 15px 30px;

  .form_cell {
    float: left;
    width: 36%;

    .input_v1 {
      border-radius: 2px 0 0 2px;
    }

    .btn_v1 {
      border-radius: 0 2px 2px 0;
    }

    &:first-child {
      width: 64%;
    }
  }

  .subscribe_success {
    .form_cell {
      display: none;
    }
  }
}

.subscribe_form_footer {
  text-align: center;
  background: #f6f7f7;
  padding: 22px 5px 8px;

  p {
    font: 16px/19px $RubikBold;
    margin-bottom: 5px;
  }
}

.action_block {
  padding: 0 16px;
}

.action_target {
  @extend %clearfix;
  border: solid #251050;
  border-width: 2px 0;
  margin-bottom: 14px;
}

.action_img {
  float: left;
  margin-right: 24px;
  padding-top: 16px;
  margin-bottom: 20px;

  img {
    display: block;
    max-width: 100%;
  }
}

.action_title {
  color: #fff;
  font: 16px/22px $RubikMed;
  margin-bottom: 10px;
  padding-top: 12px;
}

.article_action_footer {
  @include transition_all(transform .3s);
  transform: translate(0, 100%);
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 6;

  ._show_subscribe & {
    transform: translate(0, 0);
  }
}
