%icon_pseudo {

  &:after,
  &:before { /* use !important to prevent issues with browser extensions that change fonts */
    font-family: $icomoon-font-name !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.top_info {
  @extend %clearfix;
  margin: 0 -16px;
  padding: 4px 6px 5px;
  background: #f6f7f7;
  margin-bottom: 12px;
}

.currency_switcher {
  position: relative;
  float: right;
  padding-right: 23px;
  margin-right: 43px;
}

.currency_info {
  //margin-left: 45px;
  font-family: $RubikReg;
}

.currency_info_table {
  font: 12px $RubikReg;

  .swiper-slide {

    @if ($amp_ver) {

    } @else {
      float: left;
      width: auto !important;
    }
  }
}

.currency_info_cell {
  padding-right: 16px;
  padding-top: 6px;
  //min-width: 62px;
  position: relative;
  text-decoration: none;
  display: block;
  line-height: 17px;
  color: $clr_black;

  p {
    display: inline-block;
    vertical-align: top;
  }

  @if ($amp_ver) {
    html body & {
      width: auto;
    }
  } @else {
    width: auto !important;
  }

  //&:before {
  //  content: '';
  //  position: absolute;
  //  top: 0;
  //  bottom: 0;
  //  width: 1px;
  //  background: #ebebeb;
  //
  //  @if ($amp_ver) {
  //    right: 5px;
  //  } @else {
  //    right: 10px;
  //  }
  //}

  .currency_val {
    font-size: 14px;
    color: #828282;
  }

  .currency_link {
    position: relative;
    text-decoration: none;
    color: #000;
    font-size: 14px;
  }

  .trend {
    position: relative;
    white-space: nowrap;
    color: #828282;
    padding: 0 4px;
    text-decoration: none;
    font-size: 14px;

    //@if ($amp_ver) {
    //  svg {
    //    width: 11px;
    //    height: 11px;
    //  }
    //} @else {
    //  @extend %icon_pseudo;
    //
    //  &:after {
    //    font-size: 8px;
    //    padding-left: 1px;
    //    vertical-align: 1px;
    //  }
    //}

    &._up {
      color: #27ae60;

      //@if ($amp_ver) {
      //  svg path {
      //    fill: #27ae60;
      //  }
      //} @else {
      //
      //  &:before {
      //    //background: rgba(46, 155, 14, 0.9);
      //  }
      //
      //  &:after {
      //    content: unicode($icon-asc);
      //  }
      //}
    }

    &._down {
      color: #eb5757;

      //@if ($amp_ver) {
      //  svg path {
      //    fill: #eb5757;
      //  }
      //} @else {
      //
      //  &:before {
      //    //background: #ff0a24;
      //  }
      //
      //  &:after {
      //    content: unicode($icon-desc);
      //  }
      //}
    }
  }
}

html body .currency_select {
  @include transition_all(background .3s, color .3s);
  display: block;
  min-width: 48px;
  padding-left: 10px;
  margin: 5px 0 0;
  font: 14px $RubikBold;
  color: #000;
  border: none;
  position: relative;
  background: none;
  border-radius: 0;

  ~ .select_arrow {
    top: 4px;
    right: 8px;
    font-size: 18px;
  }

  &:focus {
    //background: #000;
    //color: #fff;

    + .select_arrow {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);

      svg {
        fill: #fff;
      }
    }

    ~ .select_overlay {
      height: 10000px;
    }
  }
}

.lang_block {
  z-index: 7;
  position: absolute;
  left: 5px;
  top: 0;
}

.lang_select {
  @include transition_all(border .3s, color .3s);
  display: block;
  padding: 2px 16px 0 7px;
  font: 16px/46px $RubikMed;
  color: #fff;
  position: relative;
  background: transparent;
  border: 0;
  border-radius: 0;
  height: 48px;
  text-transform: uppercase;

  + .select_arrow {
    color: #fff;
    line-height: 32px;
  }

  &:hover {
    background: $violette_2;
  }

  &:focus {
    background: $violette_2;

    + .select_arrow {
      -webkit-transform: rotate(180deg) translate(0, 4px);
      -ms-transform: rotate(180deg) translate(0, 4px);
      transform: rotate(180deg) translate(0, 4px);
    }

    ~ .select_overlay {
      height: 10000px;
    }
  }
}

.select_arrow {
  @include transition_all(transform .3s, color .3s);
  position: absolute;
  top: 10px;
  right: 5px;
  font-size: 14px;
  color: #000;
  pointer-events: none;
  transform-origin: 50% 50%;

  @if ($amp_ver) {
    svg {
      width: 12px;
      height: 12px;
      fill: $violette;
    }
  } @else {
    @extend %icon_pseudo;
    &:before {
      content: unicode($icon-chevron-right);
      display: block;
      position: relative;
      transform: rotate(90deg);
      line-height: 1;
      transform-origin: 50% 50%;
    }
  }
}

.select_overlay {
  //@include transition_all(height .3s);
  background: rgba(255, 255, 255, .8);
  position: absolute;
  top: 100%;
  margin-top: 10px;
  left: -6px;
  width: 100vw;
  height: 0;
  z-index: 4;
  pointer-events: none;
}
