.top_info {
  @extend %clearfix;
  margin: 0 -16px;
  padding: 12px 6px 8px;
  background: #f7f8f8;
  margin-bottom: 12px;
}

.currency_switcher {
  position: relative;
  float: left;
  width: 40px;
}

.currency_info {
  margin-left: 40px;
  font-family: $RubikReg;
}

.currency_info_table {
  display: table;
  width: 100%;
  font-size: 12px;
}

.currency_info_cell {
  display: table-cell;
  vertical-align: top;
  padding-left: 6px;

  span {
    padding-right: 4px;
  }

  p {

    + p {
      margin-top: 5px;
    }
  }
}

.currency_select {
  @include transition_all(background .3s, color .3s);
  display: block;
  width: 48px;
  height: 48px;
  padding-left: 6px;
  margin: -8px 0 -8px -6px;
  font: 24px $RubikMed;
  color: $violette !important;
  border: none;
  position: relative;
  background: #f7f8f8 !important;

  &:focus {
    background: #000;
    color: #fff;

    + .select_arrow {
      -webkit-transform: rotate(180deg) translate(0, 4px);
      -ms-transform: rotate(180deg) translate(0, 4px);
      transform: rotate(180deg) translate(0, 4px);
    }

    ~ .select_overlay {
      height: 10000px;
    }
  }
}

.select_arrow {
  @include transition_all(transform .3s, color .3s);
  @extend %icon_pseudo;
  position: absolute;
  top: 10px;
  right: 7px;
  font-size: 10px;
  color: $violette;
  pointer-events: none;
  transform-origin: 50% 50%;

  &:before {
    content: $icon-triangle;
  }
}

.select_overlay {
  //@include transition_all(height .3s);
  background: rgba(255, 255, 255, .8);
  position: absolute;
  top: 100%;
  margin-top: 10px;
  left: -6px;
  width: 100vw;
  height: 0;
  z-index: 4;
  pointer-events: none;
}


