include mixins.pug
doctype html
html(lang='ru')
    +dev_head('Crypto поиск')

    body.no_transition
        .wrapper
            .main_content
                .section_inner
                    +top_info(true)

                    .huston_problem
                        h1 404
                        p Houston, we have a problem! <br>We couldn't find the page you're looking for.

                    .article_block.story_block._main
                        .article_img
                            ul.article_tags
                                li
                                    a.icon-say.article_tag._pricewise(href='#')
                                        span PRISEWISE
                            a.article_img_link(href='#'): img(src='i/bear.jpg')

                        .article_title
                            .article_action: .article_action_inner
                                a.article_action_btn.actionBtn(href='#')
                            p: a.article_link(href='#') Reddit No Longer Accepting Bitcoin Payments

                            +article_st()

                    .article_block.story_block._main
                        .article_img
                            ul.article_tags
                                li
                                    a.icon-say.article_tag._pricewise(href='#')
                                        span PRISEWISE
                            a.article_img_link(href='#'): img(src='i/bear.jpg')

                        .article_title
                            .article_action: .article_action_inner
                                a.article_action_btn.actionBtn(href='#')
                            p: a.article_link(href='#') Reddit No Longer Accepting Bitcoin Payments

                            +article_st()

                    .article_block.story_block._main
                        .article_img
                            ul.article_tags
                                li
                                    a.icon-say.article_tag._pricewise(href='#')
                                        span PRISEWISE
                            a.article_img_link(href='#'): img(src='i/bear.jpg')

                        .article_title
                            .article_action: .article_action_inner
                                a.article_action_btn.actionBtn(href='#')
                            p: a.article_link(href='#') Reddit No Longer Accepting Bitcoin Payments

                            +article_st()

                    .article_block.story_block._main
                        .article_img
                            a.article_img_link(href='#'): img(src='i/bear.jpg')

                        .article_title
                            .article_action: .article_action_inner
                                a.article_action_btn.actionBtn(href='#')
                            p: a.article_link(href='#') Reddit No Longer Accepting Bitcoin Payments

                            +article_st()

            .nav_holder
                +header()
                +main_menu()
                +search()

            +footer(false, true)

        +scripts()
