include mixins.pug
doctype html
html(lang='ru')
    +dev_head('Crypto about')

    body.no_transition
        .wrapper
            .main_content
                .section_inner
                    +top_info(true)

                    h1.block_title About Us

                    .article_container
                        p CryptoComes is a news platform that covers the crypto industry and community, Blockchain, AI and all new generation tech. Keeping you tuned to the latest, we also run price analyses and forecasts, reviews, opinions, interviews, feature stories and investigations. Our CryptoTips and reference information will help you cope with crypto economics and learn more.

                        p CryptoComes was founded by editors with extensive experience in both high-quality journalism and the crypto industry. We have developed some very successful projects but we are not satisfied with the current situation when many publications compromise the truth selling out to the highest bidder and twisting their reporting because of the easy money taken from advertisers.

                        p The crypto community deserves better. Our journalism is built upon accuracy, impartiality, independence and accountability. We adhere to the principles of honesty and integrity, committed to deal fairly and openly with our audience. As journalists, we have a responsibility not to mislead.

                        p We appreciate when members of our audience share with us their expertise through social media or by other means. Stay tuned and let’s build a better community together!

                    .about_contacts
                        h2.block_title Contacts
                        p We are also giving you useful tips and reference information that will help you deal with such a complex and burgeoning industry.
                        ul.about_contacts_list
                            li.icon-feather
                                .contacts_caption Editorial
                                a.contacts_link(href='mailto:editorial@cryptocomes.com') editorial@cryptocomes.com
                            li.icon-lamp
                                .contacts_caption Partnerships
                                a.contacts_link(href='mailto:partners@cryptocomes.com') partners@cryptocomes.com
                            li.icon-vial
                                .contacts_caption Advertising
                                a.contacts_link(href='mailto:sales@cryptocomes.com') sales@cryptocomes.com
                            li.icon-heart
                                .contacts_caption Other
                                a.contacts_link(href='mailto:hello@cryptocomes.com') hello@cryptocomes.com

                    .about_team_wrapper
                        h2.block_title Persons

                        ul.about_team
                            +loop_while(6)
                                li
                                    .team_unit
                                        a.team_unit_photo(href='author.html')
                                            img(src='i/dan.jpg')
                                        .team_unit_info
                                            a.team_unit_name(href='author.html') Daniel Osten
                                            .team_unit_post Financial analyst
                                li
                                    .team_unit
                                        a.team_unit_photo(href='author.html')
                                            img(src='i/dan.jpg')
                                        .team_unit_info
                                            a.team_unit_name(href='author.html') Darryn Pollack
                                            .team_unit_post Reporter, columnist

            .nav_holder
                +header()
                +main_menu()
                +search()

            +footer(false, true)

        +scripts()
