include mixins.pug
doctype html
html(lang='ru')
    +dev_head('Crypto article')

    body.no_transition
        .wrapper
            .main_content
                .section_inner
                    +top_info()

                    ul.bread_crumbs
                        li: a.crumb_link(href='#') Cryptocomes
                        li: a.crumb_link(href='#') News

                    .article_container
                        .article_caption Chinese Conglomerate Fosun to Invest $3.2 Bln in AI, Biotech, Fintech

                        ul.article_stat
                            li
                                a.article_stat_val(href='#') John Doe
                            li
                                span.article_stat_val._stat_time 2h
                            li
                                span.article_stat_val._stat_views 212

                        figure
                            .article_img
                                ul.article_tags
                                    li
                                        a.icon-say.article_tag._news(href='#')
                                            span News
                                a.article_img_link(href='#'): img(src='i/article_new.jpg')

                        .article_lead._news Fosun is planning to invest 100 bln Yuan($16 bln) in AI, biotech and fintech areas over next decade.

                        p Fosun is planning to invest 100 bln Yuan ($16 bln) in&nbsp;
                            a(href='#') Artificial Intelligence
                            | , biotech and fintech areas over next decade. The company’s main focus will be India and Africa and Portuguese-speaking markets

                        p Fosun is planning to invest 100 bln Yuan ($16 bln) in&nbsp;
                            a(href='#') Artificial Intelligence
                            | , biotech and fintech areas over next decade. The company’s main focus will be India and Africa and Portuguese-speaking markets

                        p Fosun is planning to invest 100 bln Yuan ($16 bln) in&nbsp;
                            a(href='#') Artificial Intelligence
                            | , biotech and fintech areas over next decade.

                        p
                            a.btn_v4.subscribe_btn._tw(href='#')
                                span follow US on TWITTER

                        ul.article_tag_list
                            li: a.tag_link(href='#') #Fosun
                            li: a.tag_link(href='#') #AI
                            li: a.tag_link(href='#') #Investments
                            li: a.tag_link(href='#') #Fintech
                            li: a.tag_link(href='#') #Biotech

                        ul.article_stat
                            li
                                a.article_stat_val(href='#') John Doe
                            li
                                span.article_stat_val._stat_time 2h
                            li
                                span.article_stat_val._stat_views 212

                    a.btn_v4.comment_btn(href='#') Click to leave your comment

                    .article_line._news

                    .article_container
                        .article_caption Chinese Conglomerate Fosun to Invest $3.2 Bln in AI, Biotech, Fintech

                        ul.article_stat
                            li
                                a.article_stat_val(href='#') John Doe
                            li
                                span.article_stat_val._stat_time 2h
                            li
                                span.article_stat_val._stat_views 212

                        figure
                            .article_img
                                ul.article_tags
                                    li
                                        a.icon-say.article_tag._pricewise(href='#')
                                            span PRISEWISE
                                a.article_img_link(href='#'): img(src='i/article_new.jpg')

                        .article_lead._pricewise Fosun is planning to invest 100 bln Yuan($16 bln) in AI, biotech and fintech areas over next decade.

                        .article_contents Contents

                        ul.contents_list
                            li: a.contents_link(href='#') Bitcoinization of space
                            li: a.contents_link(href='#') Cryptocurrencies running away from Earth
                            li: a.contents_link(href='#') Internet 2.0
                            li: a.contents_link(href='#') States are going there, too

                        p Fosun said this investment would not be affected by control on outbound investment imposed by the government because it is compliant with both Chinese laws and other countries’ local laws. Investment imposed by the government because it is compliant with both Chinese laws and other countries’ local laws.

                        blockquote(cite='#')
                            p As is often the case in such situations, the activation of protective stop-losses placed by investors at purchase price levels accelerated the fall even more.
                            i Patrick Johnes

                        p Fosun said this investment would not be affected by control on outbound investment imposed by the government because it is compliant with both Chinese laws and other countries’ local laws.

                    .article_block.story_block._main
                        .article_img
                            ul.article_tags._head
                                li
                                    span.article_tag._stories.icon-attach
                                        span SEE RELATED
                            a.article_img_link(href='#'): img(src='i/bear.jpg')

                        .article_title
                            .article_action: .article_action_inner
                                a.article_action_btn.actionBtn(href='#')
                            p: a.article_link(href='#') Reddit No Longer Accepting Bitcoin Payments
                            ul.article_stat
                                li
                                    a.article_stat_val(href='#') John Doe
                                li
                                    span.article_stat_val._stat_time 2h
                                li
                                    span.article_stat_val._stat_views 212

                    .article_container

                        .article_info
                            .article_author.text_right
                                span Photo by Sarah Perez ( @sarahintampa )

                            +article_soc('_pool')

                        .article_preview iGaming platform provider Cash Bet has partnered with Arsenal Football Club in a deal that will promote the firm's new crypto token.

                        p The South Korean government announced today it will move to prohibit domestic cryptocurrency exchanges from allowing users to make transactions through anonymous accounts, local news sources report.

                        p As part of what appears to be a series of updates designed to improve oversight of industry practices, the government will also seek to bar banks from issuing new virtual accounts to cryptocurrency exchanges.

                        p According to the South Korean news agency Yonhap, the announcements were made by Hong Nam-ki, the minister of the Office for Government&nbsp;Policy Coordination, after discussion with vice ministers from other governmental bodies regarding the recent rise in cryptocurrency interest and ownership domestically.

                        .article_subscribe._stories
                            a.transp_btn.btn_v1.subscribe_btn.subscribeAsideBtn(href='#') Subscribe

                        p Hong’s announcement came just after an hour since the head of South Korea’s financial regulator warned against the bitcoin bubble during a meeting with the press.

                        p "I bet the bubble in bitcoin will burst later," said Choe Heung-sik, the governor of the Financial Supervisory Service (FSS).

                        p Hong told the news source that only accounts with real and matching identity can be allowed for deposit and withdrawals.

                        .content_block: blockquote(cite='#')
                            p Do not mind anything that anyone tells you about anyone else. Judge everyone and everything for yourself.
                            i Henry James

                        p The government's ban on using anonymous accounts, effectively a mandate that exchange providers perform know-your-customer (KYC) due diligence, is seen as the latest move to curb the trading activity around cryptocurrencies in the country.

                        p It can also be seen as the result of recent events in which government bodies were reportedly considering measures to halt what they called an "overheating of virtual currency speculation."

                        p According to the report, the Financial Intelligence Unit and the Financial Supervisory Service will implement the regulation and supervise exchanges to abide the new rule.

                        p Image of South Korean Won via CoinDesk archive.

                        p The leader in blockchain news, CoinDesk is an independent media outlet that strives for the highest journalistic standards and abides by a strict set of editorial policies. Have breaking news or a story tip to send to our journalists? Contact us at news@coindesk.com.

                        .content_block
                            h1 H1 &nbsp;-&nbsp; Foundagyon: Stoleg Coyncheck Funds Not Sent to Exchanges
                            p When President Trump delivers his first State of the Union address on Tuesday at 9 p.m. ET, his most fervent supporters.
                            h2 H2 &nbsp;-&nbsp; When Pgysident Trump delivers his first State of the Union
                            p When President Trump delivers his first State of the Union address on Tuesday at 9 p.m. ET, his most fervent supporters.
                            h3 H3 &nbsp;-&nbsp; the most high-profile moment of his presidency with a soft speech
                            p When President Trump delivers his first State of the Union address on Tuesday at 9 p.m. ET, his most fervent supporters.
                            h4 H4 &nbsp;-&nbsp; the most high-profile moment of his presidency with a soft speech his most fervent supporters
                            p When President Trump delivers his first State of the Union address on Tuesday at 9 p.m. ET, his most fervent supporters.
                            h5 H5 &nbsp;-&nbsp; the most high-profile moment of his presidency with a soft speech his most fervent supporters
                            p When President Trump delivers his first State of the Union address on Tuesday at 9 p.m. ET, his most fervent supporters.
                            h6 H6 &nbsp;-&nbsp; the most high-profile moment of his presidency with a soft speech his most fervent supporters
                            p When President Trump delivers his first State of the Union address on Tuesday at 9 p.m. ET, his most fervent supporters. #[a(href='#') link]

                            h6 List &nbsp;-&nbsp; the most high-profile mom

                            ul
                                li: span When President Trump delivers his first State of the Union address on Tuesday at 9 p.m.
                                li
                                    span Soft speech that bends more to the predilections of the political establishment to the populist army that sent him there to drain the swamp.

                                    ul
                                        li: span When President Trump delivers his first State of the Union address on Tuesday at 9 p.m.  that bends more to the predilections
                                        li: span Union address on Tuesday at 9 p.m.  that bends more to the predilections

                        .article_author
                            span by Sarah Perez (&nbsp;
                            a.article_author_link(href='#')
                                span sarahintampa
                            span &nbsp;)

                        ul.article_tag_list
                            li: a.tag_link(href='#') #hotnews
                            li: a.tag_link(href='#') #korea
                            li: a.tag_link(href='#') #exchange

                        .article_telegram_block
                            p ! Get more awesome news in our&nbsp;&nbsp;
                            a.telegram_link(href='#') Telegram channel

                        .article_subscribe_wide
                            a.btn_v3.subscr_btn._tg(href='#')
                                span.btn_icon.icon-tg
                                span Join CryptoComes #[span._unl Telegram channel]
                        .article_subscribe_wide
                            a.btn_v3.subscr_btn._fb(href='#')
                                span.btn_icon.icon-fb
                                span Join CryptoComes #[span._unl Facebook page]
                        .article_subscribe_wide
                            a.btn_v3.subscr_btn._tw(href='#')
                                span.btn_icon.icon-tw
                                span Join CryptoComes #[span._unl on Twitter]

                        //-.article_telegram_section
                            p ! Get more awesome news in our Telegram channel
                            a.btn_v2.btn_blue.telegram_btn(href='#')
                                span Subscribe telegram
                                span.icon-tg.btn_icon

                        .article_info._action_only
                            +article_soc('_pool')

                        ul.article_stat._mod_1
                            li
                                span.article_stat_val._stat_views 212
                            li
                                span.article_stat_val Jan 10, 2018 at 10:00

                    .related_title._stories Related Articles and News

                    ul.news_list._related._stories
                        +loop_while(3)
                            li
                                .news_item
                                    .news_date 2 min<br>ago
                                    a.news_name(href='#') Russia's Sberbank Has Launched&nbsp;a&nbsp;Blockchain Lab

                            li
                                .news_item
                                    .news_date 1 hr<br>ago
                                    a.news_name(href='#') PBoC Official Calls for Wider Ban on Chinese Crypto Trading

                    .comments_block

            .nav_holder
                +header()
                +main_menu(true)
                +search()

            +footer()

        +scripts(true)
