include mixins.pug
doctype html
html(lang='ru')
    +dev_head('Crypto article')

    body.no_transition
        .wrapper
            .main_content
                .section_inner
                    +top_info()

                    ul.bread_crumbs
                        li: a.crumb_link(href='#') Cryptocomes
                        li: a.crumb_link(href='#') News

                    .article_container
                        h1.article_caption Chinese Conglomerate Fosun to Invest $3.2 Bln in AI, Biotech, Fintech

                        ul.article_stat
                            li
                                a.article_stat_val(href='#') John Doe
                            li
                                span.article_stat_val._stat_time 2h
                            li
                                span.article_stat_val._stat_views 212

                        figure
                            .article_img
                                ul.article_tags
                                    li
                                        a.icon-say.article_tag._news(href='#')
                                            span News
                                a.article_img_link(href='#'): img(src='i/article_new.jpg')

                        .article_lead._news Fosun is planning to invest 100 bln Yuan($16 bln) in AI, biotech and fintech areas over next decade.

                        #subscribeTrigger

                        p Fosun is planning to invest 100 bln Yuan ($16 bln) in&nbsp;
                            a(href='#') Artificial Intelligence
                            | , biotech and fintech areas over next decade. The company’s main focus will be India and Africa and Portuguese-speaking markets

                        p Fosun is planning to invest 100 bln Yuan ($16 bln) in&nbsp;
                            a(href='#') Artificial Intelligence
                            | , biotech and fintech areas over next decade. The company’s main focus will be India and Africa and Portuguese-speaking markets

                        p Fosun is planning to invest 100 bln Yuan ($16 bln) in&nbsp;
                            a(href='#') Artificial Intelligence
                            | , biotech and fintech areas over next decade.

                        p
                            a.btn_v4.subscribe_btn._tw(href='#')
                                span follow US on TWITTER

                        ul.article_tag_list
                            li: a.tag_link(href='#') #Fosun
                            li: a.tag_link(href='#') #AI
                            li: a.tag_link(href='#') #Investments
                            li: a.tag_link(href='#') #Fintech
                            li: a.tag_link(href='#') #Biotech

                        ul.article_stat
                            li
                                a.article_stat_val(href='#') John Doe
                            li
                                span.article_stat_val._stat_time 2h
                            li
                                span.article_stat_val._stat_views 212

                    a.btn_v4.comment_btn(href='#') Click to leave your comment

                    .article_line._news

                    .article_container
                        h2.article_caption Chinese Conglomerate Fosun to Invest $3.2 Bln in AI, Biotech, Fintech

                        ul.article_stat
                            li
                                a.article_stat_val(href='#') John Doe
                            li
                                span.article_stat_val._stat_time 2h
                            li
                                span.article_stat_val._stat_views 212

                        figure
                            .article_img
                                ul.article_tags
                                    li
                                        a.icon-say.article_tag._pricewise(href='#')
                                            span PRISEWISE
                                a.article_img_link(href='#'): img(src='i/article_new.jpg')

                        .article_lead._pricewise Fosun is planning to invest 100 bln Yuan($16 bln) in AI, biotech and fintech areas over next decade.

                        .article_contents Contents

                        ul.contents_list
                            li: a.contents_link(href='#') Bitcoinization of space
                            li: a.contents_link(href='#') Cryptocurrencies running away from Earth
                            li: a.contents_link(href='#') Internet 2.0
                            li: a.contents_link(href='#') States are going there, too

                        p Fosun said this investment would not be affected by control on outbound investment imposed by the government because it is compliant with both Chinese laws and other countries’ local laws. Investment imposed by the government because it is compliant with both Chinese laws and other countries’ local laws.

                        blockquote(cite='#')
                            p As is often the case in such situations, the activation of protective stop-losses placed by investors at purchase price levels accelerated the fall even more.
                            i Patrick Johnes

                        p Fosun said this investment would not be affected by control on outbound investment imposed by the government because it is compliant with both Chinese laws and other countries’ local laws.

                    .article_block.story_block._main
                        .article_img
                            ul.article_tags._head
                                li
                                    span.article_tag._stories.icon-attach
                                        span SEE RELATED
                            a.article_img_link(href='#'): img(src='i/bear.jpg')

                        .article_title
                            .article_action: .article_action_inner
                                a.article_action_btn.actionBtn(href='#')
                            p: a.article_link(href='#') Reddit No Longer Accepting Bitcoin Payments
                            ul.article_stat
                                li
                                    a.article_stat_val(href='#') John Doe
                                li
                                    span.article_stat_val._stat_time 2h
                                li
                                    span.article_stat_val._stat_views 212

                    .article_container
                        p Fosun said this investment would not be affected by control on outbound investment imposed by the government because it is compliant.

                        .article_related
                            .article_img
                                a.article_img_link(href='article.html'): img(src='i/bear.jpg')
                            ul.related_tags
                                li: a.icon-attach.article_tag._wide._news(href='#')
                                    span SEE RELATED

                            h4.article_related_caption Market Growth Fizzles Out, Bitcoin Price Stuck at $9,000 and what comes next
                            ul.article_stat._action
                                li
                                    a.article_stat_val(href='#') John Doe
                                li
                                    span.article_stat_val._stat_time 2h
                                li
                                    span.article_stat_val._stat_views 212
                                li.stat_action
                                    .article_action: .article_action_inner
                                        a.article_action_btn.actionBtn(href='#')

                        h1 H1 Chinese Conglomerate Fosun to Invest $3.2 Bln in AI

                        p Fosun said this investment would not be affected by control on outbound investment imposed by the government because it is compliant with both Chinese laws and other countries’ local laws.

                        h2 H2 Chinese Conglomerate Fosun to Invest $3.2 Bln in AI

                        p Fosun said this investment would not be affected by control on outbound investment imposed by the government because it is compliant with both Chinese laws and other countries’ local laws.

                        h3 H3 Chinese Conglomerate Fosun to Invest $3.2 Bln in AI


                        p Fosun said this investment would not be affected by control on outbound investment imposed by the government because it is compliant with both Chinese laws and other countries’ local laws.

                        h4 H4 Chinese Conglomerate Fosun to Invest $3.2 Bln in AI

                        h5 H5 Chinese Conglomerate Fosun to Invest $3.2 Bln in AI

                        h6 H6 Chinese Conglomerate Fosun to Invest $3.2 Bln in AI technologies

                        p Fosun said this investment would not be affected by control on outbound investment imposed by the government because it is compliant with both Chinese laws and other countries’ local laws.

                        img(src='i/diagram.png')
                        i How bitcoin price fall down

                        p Fosun said this investment would not be affected by control on outbound investment imposed by the government because it is compliant with both Chinese laws and other countries’ local laws.

                        ul
                            li Fosun said this investment would not be affected by control
                            li
                                p Fosun said this investment would not be affected by control

                                ul
                                    li Fosun said this investment would not be
                                    li Fosun said this investment would not be affected

                        ol
                            li Fosun said this investment would not be affected by control
                            li
                                p Fosun said this investment would not be affected by control

                                ol
                                    li Fosun said this investment would not be
                                    li Fosun said this investment would not be affected

                        p Fosun said this investment would not be affected by control on outbound investment imposed by the government because it is compliant with both Chinese laws and other countries’ local laws  the government
                        p
                            a.btn_v4.subscribe_btn._tw(href='#')
                                span follow US on TWITTER

                        ul.article_tag_list
                            li: a.tag_link(href='#') #Fosun
                            li: a.tag_link(href='#') #AI
                            li: a.tag_link(href='#') #Investments
                            li: a.tag_link(href='#') #Fintech
                            li: a.tag_link(href='#') #Biotech

                        ul.article_stat
                            li
                                a.article_stat_val(href='#') John Doe
                            li
                                span.article_stat_val._stat_time 2h
                            li
                                span.article_stat_val._stat_views 212

                    a.btn_v4.comment_btn(href='#') Click to leave your comment

            .nav_holder
                +header()
                +main_menu(true)
                +search()
                +article_share()

            +footer(false, true)

        +scripts(true)
