include mixins.pug
doctype html
html(lang='ru')
    +dev_head('Crypto article')

    body.no_transition
        .wrapper
            .main_content
                .section_inner
                    +top_info()

                    .article_block.story_block._main._pool._article
                        ul.article_stat._mod_1
                            li
                                span.article_stat_val._stat_views 212
                            li
                                span.article_stat_val Jan 10, 2018 at 10:00

                        a.article_link(href='#') Blockchain and the Rise of Transaction Techno

                        .article_author
                            span by Sarah Perez (&nbsp;
                            a.article_author_link(href='#')
                                span sarahintampa
                            span &nbsp;)

                        .article_img
                            ul.article_tags
                                li
                                    span.icon-shark.article_tag._pool._wide
                                        span Shark Pool
                            .article_img_link: img(src='i/sberbank.jpg')

                        .article_info
                            .article_author.text_right
                                span Photo by Sarah Perez ( @sarahintampa )

                            +article_soc('_pool')

                        .article_preview iGaming platform provider Cash Bet has partnered with Arsenal Football Club in a deal that will promote the firm's new crypto token.

                        p The South Korean government announced today it will move to prohibit domestic cryptocurrency exchanges from allowing users to make transactions through anonymous accounts, local news sources report.

                        p As part of what appears to be a series of updates designed to improve oversight of industry practices, the government will also seek to bar banks from issuing new virtual accounts to cryptocurrency exchanges.

                        p According to the South Korean news agency Yonhap, the announcements were made by Hong Nam-ki, the minister of the Office for Government&nbsp;Policy Coordination, after discussion with vice ministers from other governmental bodies regarding the recent rise in cryptocurrency interest and ownership domestically.

                        .article_subscribe._stories
                            a.transp_btn.btn_v1.subscribe_btn.subscribeAsideBtn(href='#') Subscribe

                        p Hong’s announcement came just after an hour since the head of South Korea’s financial regulator warned against the bitcoin bubble during a meeting with the press.

                        p "I bet the bubble in bitcoin will burst later," said Choe Heung-sik, the governor of the Financial Supervisory Service (FSS).

                        p Hong told the news source that only accounts with real and matching identity can be allowed for deposit and withdrawals.

                        .content_block: blockquote(cite='#')
                            p Do not mind anything that anyone tells you about anyone else. Judge everyone and everything for yourself.
                            i Henry James

                        p The government's ban on using anonymous accounts, effectively a mandate that exchange providers perform know-your-customer (KYC) due diligence, is seen as the latest move to curb the trading activity around cryptocurrencies in the country.

                        p It can also be seen as the result of recent events in which government bodies were reportedly considering measures to halt what they called an "overheating of virtual currency speculation."

                        p According to the report, the Financial Intelligence Unit and the Financial Supervisory Service will implement the regulation and supervise exchanges to abide the new rule.

                        p Image of South Korean Won via CoinDesk archive.

                        p The leader in blockchain news, CoinDesk is an independent media outlet that strives for the highest journalistic standards and abides by a strict set of editorial policies. Have breaking news or a story tip to send to our journalists? Contact us at news@coindesk.com.

                        .content_block
                            h1 H1 &nbsp;-&nbsp; Foundagyon: Stoleg Coyncheck Funds Not Sent to Exchanges
                            p When President Trump delivers his first State of the Union address on Tuesday at 9 p.m. ET, his most fervent supporters.
                            h2 H2 &nbsp;-&nbsp; When Pgysident Trump delivers his first State of the Union
                            p When President Trump delivers his first State of the Union address on Tuesday at 9 p.m. ET, his most fervent supporters.
                            h3 H3 &nbsp;-&nbsp; the most high-profile moment of his presidency with a soft speech
                            p When President Trump delivers his first State of the Union address on Tuesday at 9 p.m. ET, his most fervent supporters.
                            h4 H4 &nbsp;-&nbsp; the most high-profile moment of his presidency with a soft speech his most fervent supporters
                            p When President Trump delivers his first State of the Union address on Tuesday at 9 p.m. ET, his most fervent supporters.
                            h5 H5 &nbsp;-&nbsp; the most high-profile moment of his presidency with a soft speech his most fervent supporters
                            p When President Trump delivers his first State of the Union address on Tuesday at 9 p.m. ET, his most fervent supporters.
                            h6 H6 &nbsp;-&nbsp; the most high-profile moment of his presidency with a soft speech his most fervent supporters
                            p When President Trump delivers his first State of the Union address on Tuesday at 9 p.m. ET, his most fervent supporters.

                            h6 List &nbsp;-&nbsp; the most high-profile mom

                            ul
                                li: span When President Trump delivers his first State of the Union address on Tuesday at 9 p.m.
                                li
                                    span Soft speech that bends more to the predilections of the political establishment to the populist army that sent him there to drain the swamp.

                                    ul
                                        li: span When President Trump delivers his first State of the Union address on Tuesday at 9 p.m.  that bends more to the predilections
                                        li: span Union address on Tuesday at 9 p.m.  that bends more to the predilections

                        .article_author
                            span by Sarah Perez (&nbsp;
                            a.article_author_link(href='#')
                                span sarahintampa
                            span &nbsp;)

                        ul.article_tag_list
                            li: a.tag_link(href='#') #hotnews
                            li: a.tag_link(href='#') #korea
                            li: a.tag_link(href='#') #exchange

                        .article_telegram_block
                            p ! Get more awesome news in our&nbsp;&nbsp;
                            a.telegram_link(href='#') Telegram channel

                        .article_telegram_section
                            p ! Get more awesome news in our Telegram channel
                            a.btn_v2.btn_blue.telegram_btn(href='#')
                                span Subscribe telegram
                                span.icon-tg.btn_icon

                        .article_info._action_only
                            +article_soc('_pool')

                        ul.article_stat._mod_1
                            li
                                span.article_stat_val._stat_views 212
                            li
                                span.article_stat_val Jan 10, 2018 at 10:00

                    .related_title._stories Related Articles and News

                    ul.news_list._related._stories
                        +loop_while(3)
                            li
                                .news_item
                                    .news_date 2 min<br>ago
                                    a.news_name(href='#') Russia's Sberbank Has Launched&nbsp;a&nbsp;Blockchain Lab

                            li
                                .news_item
                                    .news_date 1 hr<br>ago
                                    a.news_name(href='#') PBoC Official Calls for Wider Ban on Chinese Crypto Trading

                    .comments_block

            .nav_holder
                +header()
                +main_menu(true)
                +search()

            +footer()

        +scripts(true)
