include mixins.pug
doctype html
html(lang='ru')
    +dev_head('Crypto category 2')

    body.no_transition
        .wrapper
            .main_content
                .section_inner
                    +top_info()

                    .article_group_title._release
                        h1: a.artile_link(href='#') PRESS RELEASES

                    .offer_block._mb_20
                        p Have something interesting?
                        p
                            a.btn_v1.btn_violette_2.offer_btn(href='#')
                                span SubMit A PRESS RELEASE
                                span.btn_icon.icon-rocket

                    +loop_while(4)
                        .article_block.story_block._main
                            .article_img
                                a.article_img_link(href='#'): img(src='i/bear.jpg')

                            .article_title
                                .article_action: .article_action_inner
                                    a.article_action_btn.actionBtn(href='#')
                                p: a.article_link(href='#') Reddit No Longer Accepting Bitcoin Payments
                                ul.article_stat
                                    li
                                        span.article_stat_val Zurich Switzerland
                                    li
                                        span.article_stat_val._stat_views 212


            .nav_holder
                +header()
                +main_menu()
                +search()

            +footer(false, true)

        +scripts()
