include mixins.pug
doctype html
html(lang='ru')
    +dev_head('Crypto compare')

    body.no_transition
        .wrapper
            .main_content
                .section_inner
                    +top_info(true)

                    ul.bread_crumbs
                        li: a.crumb_link(href='#') Cryptocomes
                        li: a.crumb_link(href='#') Cryptocurrencies comparison
                    
                    h1.block_title._compare Compare Bitcoin (BTC) vs Ripple (XRP)

                    .article_container._fz_14
                        p Select two cryptocurrencies in the form below and get a comparison list by 20 parametres

                    form.validateMe(action='#' data-prompts='true')
                        .compare_filter
                            ul.compare_filter_list
                                li
                                    .compare_select_w
                                        select.compare_select
                                            option Bitcoin (BTC)
                                            option Ripple (XRP)
                                        .select_arrow
                                li
                                    .compare_select_w
                                        select.compare_select
                                            option Bitcoin (BTC)
                                            option Ripple (XRP)
                                        .select_arrow

                            .text_center
                                a.btn_violette.btn_v1.compare_btn(href='#'): span COMPARE NOW
                            
                        .compare_row._description
                            .compare_col
                                .compare_caption BITCOIN (BTC)
                                .compare_img
                                    img(src='i/compare_btc.jpg')
                                p Bitcoin is a consensus network that enables a new payment system and a completely digital money. <br>It is the first decentralized peer-to-peer payment network that is powered by its users with no central authority or middlemen. 
                                
                            .compare_col
                                .compare_caption RIPPLE (XRP)
                                .compare_img
                                    img(src='i/compare_xrp.jpg')
                                p Bitcoin is a consensus network that enables a new payment system and a completely digital money. <br>It is the first decentralized peer-to-peer payment network that is powered by its users with no central authority or middlemen. 
                                
                        .compare_title Founded year
                        .compare_row.text_center._bdr
                            .compare_col
                                .compare_currency BTC
                                .compare_feature 2009
                            .compare_col
                                .compare_currency XRP
                                .compare_feature 2009

                        .compare_title Hash algorithm
                        .compare_row.text_center._bdr
                            .compare_col
                                .compare_currency BTC
                                .compare_feature SHA 256 (SHA 2 based)
                            .compare_col
                                .compare_currency XRP
                                .compare_feature SHA 512 (SHA 2 based)

                        .compare_title Mining avalability
                        .compare_row.text_center._bdr
                            .compare_col
                                .compare_currency.compare_win
                                    span BTC
                                    .compare_points._left +1
                                .compare_feature Yes
                            .compare_col
                                .compare_currency XRP
                                .compare_feature No

                        .compare_title Advantages
                        .compare_row._bdr
                            .compare_col
                                .compare_feature._cur
                                    .compare_currency.compare_win
                                        span BTC
                                        .compare_points._left +1
                                    .compare_option._pros First decentralized digital currency 
                                    .compare_option._pros Payment freedom 
                                    .compare_option._pros Choose your own fees 
                                    .compare_option._pros Fewer risks for merchant 
                                    .compare_option._pros Security and control 
                                    .compare_option._pros Transparent and neutral  
                            .compare_col
                                .compare_feature._cur
                                    .compare_currency.compare_win
                                        span XRP
                                        .compare_points._left +1
                                    .compare_option._pros First decentralized digital currency 
                                    .compare_option._pros Payment freedom 
                                    .compare_option._pros Choose your own fees 
                                    .compare_option._pros Fewer risks for merchant 
                                    .compare_option._pros Security and control 
                                    .compare_option._pros Transparent and neutral

                        .compare_title Disadvantages
                        .compare_row._bdr
                            .compare_col
                                .compare_feature._cur
                                    .compare_currency
                                        span BTC
                                    .compare_option._cons Degree of acceptance 
                                    .compare_option._cons Volatility 
                                    .compare_option._cons Ongoing development
                            .compare_col
                                .compare_feature._cur._last
                                    .compare_currency.compare_win
                                        span XRP
                                        .compare_points._left +1

                        .compare_title Investment risks
                        .compare_row.text_center._bdr
                            .compare_col
                                .compare_currency BTC
                                .compare_feature Middle
                            .compare_col
                                .compare_currency XRP
                                .compare_feature Low

                        .compare_title Technologies
                        .compare_row.text_center._bdr
                            .compare_col
                                .compare_currency BTC
                                .compare_feature Blockchain, mining
                            .compare_col
                                .compare_currency XRP
                                .compare_feature: span Real-Time Payments Across 27 Countries

                        .compare_title Highest block time
                        .compare_row.text_center._bdr
                            .compare_col
                                .compare_currency BTC
                                .compare_feature 10 min
                            .compare_col
                                .compare_currency XRP
                                .compare_feature n\a

                        .compare_title Supported on popular exchanges
                        .compare_row._bdr
                            .compare_col
                                .compare_feature._cur
                                    .compare_currency.compare_win
                                        span BTC
                                        .compare_points._left +1
                                    .compare_option._exchange
                                        a.compare_link(href='#') https://binance.com 
                                    .compare_option._exchange
                                        a.compare_link(href='#') https://gemini.com 
                                    .compare_option._exchange
                                        a.compare_link(href='#') https://binance.com 
                                    .compare_option._exchange
                                        a.compare_link(href='#') https://gemini.com 
                                    .compare_option._exchange
                                        a.compare_link(href='#') https://binance.com 
                                    .compare_option._exchange
                                        a.compare_link(href='#') https://gemini.com  
                            .compare_col
                                .compare_feature._cur
                                    .compare_currency
                                        span XRP
                                    .compare_option._exchange
                                        a.compare_link(href='#') https://binance.com 
                                    .compare_option._exchange
                                        a.compare_link(href='#') https://gemini.com 
                                    .compare_option._exchange
                                        a.compare_link(href='#') https://binance.com 
                                    .compare_option._exchange
                                        a.compare_link(href='#') https://binance.com 
                                    .compare_option._exchange
                                        a.compare_link(href='#') https://gemini.com 
                                    .compare_option._exchange
                                        a.compare_link(href='#') https://binance.com 

                        .compare_title Links
                        .compare_row._bdr
                            .compare_col
                                .compare_feature._cur
                                    .compare_currency
                                        span BTC
                                    .compare_option._url
                                        a.compare_link(href='#') https://bitcoin.org 
                                    .compare_option._url
                                        a.compare_link(href='#') https://twitter.com/bitcoin 
                                    .compare_option._url
                                        a.compare_link(href='#') https://facebook.com/bitcoin 
                                    .compare_option._url
                                        a.compare_link(href='#') https://github.com/bitcoin 
                            .compare_col
                                .compare_feature._cur
                                    .compare_currency
                                        span XRP
                                    .compare_option._url
                                        a.compare_link(href='#') https://bitcoin.org 
                                    .compare_option._url
                                        a.compare_link(href='#') https://twitter.com/bitcoin 
                                    .compare_option._url
                                        a.compare_link(href='#') https://facebook.com/bitcoin 
                                    .compare_option._url
                                        a.compare_link(href='#') https://github.com/bitcoin
                                        
                        .compare_title Community members and followers
                        .compare_row._bdr
                            .compare_col
                                .compare_feature._cur
                                    .compare_currency.compare_win
                                        span BTC
                                        .compare_points._left +1
                                    .compare_counters
                                        dt Twitter:
                                        dd 849,000
                                        dt Facebook:
                                        dd 99,453
                                        dt Github:
                                        dd 32,142
                            .compare_col
                                .compare_feature._cur
                                    .compare_currency
                                        span XRP
                                    .compare_counters
                                        dt Twitter:
                                        dd 849,000
                                        dt Facebook:
                                        dd 99,453
                                        dt Github:
                                        dd 32,142

                        .compare_title General market data
                        .compare_row._bdr
                            .compare_col
                                .compare_feature._cur
                                    .compare_currency
                                        span BTC
                                    .compare_counters
                                        dt Price:
                                        dd $750
                                        dt Capitalization:
                                        dd $127,330,000
                                        dt Circulating supply:
                                        dd 21,000,000
                            .compare_col
                                .compare_feature._cur
                                    .compare_currency
                                        span XRP
                                    .compare_counters
                                        dt Price:
                                        dd $750
                                        dt Capitalization:
                                        dd $127,330,000
                                        dt Circulating supply:
                                        dd 21,000,000

                        .compare_title Prices changes stats
                        .compare_row._bdr
                            .compare_col
                                .compare_feature._cur
                                    .compare_currency
                                        span BTC
                                    .compare_counters
                                        dt 24h trading volume:
                                        dd $500,000,000
                                        dt Last day:
                                        dd
                                            span.compare_lose -3.21%
                                        dt Last week:
                                        dd
                                            span.compare_win +1.21%
                                        dt Last 30 days:
                                        dd
                                            span.compare_win +3.23%
                                        dt Last year:
                                        dd
                                            span.compare_win +120%

                            .compare_col
                                .compare_feature._cur
                                    .compare_currency.compare_win
                                        span XRP
                                        .compare_points._left +1
                                    .compare_counters
                                        dt 24h trading volume:
                                        dd $500,000,000
                                        dt Last day:
                                        dd
                                            span.compare_lose -3.21%
                                        dt Last week:
                                        dd
                                            span.compare_win +1.21%
                                        dt Last 30 days:
                                        dd
                                            span.compare_win +3.23%
                                        dt Last year:
                                        dd
                                            span.compare_win +120%

                        .compare_title Overall winner is Bitcoin (BTC)
                        .compare_row.text_center._bdr
                            .compare_col
                                .compare_feature
                                    .compare_currency
                                        span BTC
                                    .compare_win._fw_b 5 points

                            .compare_col
                                .compare_feature
                                    .compare_currency
                                        span XRP
                                    .compare_lose._fw_b 3 points

                        .compare_footer
                            a.compare_link._unl(href='#') Back to top and compare another pair

                        .compare_legal
                            p Сryptocomes does not endorse and is not responsible for or liable for any content, accuracy, quality, advertising, products or other materials on this page. Readers should do their own research before taking any actions related to the company. Write us if you want to correct any info about cryptocurrency to #[a.compare_link(href='mailto:info@cryptocomes.com') info@cryptocomes.com] 

            .nav_holder
                +header()
                +main_menu()
                +search()

            +footer(false, true)

        +scripts()
