include mixins.pug
doctype html
html(lang='ru')
    +dev_head('Crypto главная')

    body.no_transition
        .wrapper
            .main_content
                .section_inner
                    +top_info()

                    ul.bread_crumbs
                        li: a.crumb_link(href='#') Cryptocomes
                        li: a.crumb_link(href='#') CryptoEvents

                    .article_container
                        .article_date._event._mt_5 21 MARCH - 24 MARCH

                        h1.article_caption Chinese Conglomerate Fosun to Invest $3.2 Bln in AI, Biotech, Fintech

                        ul.article_stat
                            li
                                span.article_stat_val Zurich Switzerland
                            li
                                span.article_stat_val._stat_views 212

                        figure
                            .article_img
                                a.article_img_link(href='#'): img(src='i/article_new.jpg')

                        .article_lead._event Fosun is planning to invest 100 bln Yuan($16 bln) in AI, biotech and fintech areas over next decade.

                        h2 Description

                        p Fosun is planning to invest 100 bln Yuan ($16 bln) in #[a(href='#') Artificial Intelligence], biotech and fintech areas over next decade. The company’s main focus will be India and Africa and Portuguese-speaking markets

                        p Fosun is planning to invest 100 bln Yuan ($16 bln) in #[a(href='#') Artificial Intelligence], biotech and fintech areas over next decade. The company’s main focus will be India and Africa and Portuguese-speaking markets

                        .article_info_holder
                            dl.article_info
                                dt Place:
                                dd New York, USA

                                dt Start Date:
                                dd 1 Oct 2017

                                dt End Date:
                                dd 2 Oct 2017

                                dt Ticket from:
                                dd $100

                                dt Ticket to:
                                dd $100

                                dt Website:
                                dd
                                    a(href='#') https://cocacola.com

                                dt Сontacts:
                                dd Leah Callon-Butler Chief Impact Officer #[a(href='mailto:leah@intimate.io') leah@intimate.io]
                                
                                dt Social Links:
                                dd._wide
                                    ul.action_soc._brand_2
                                        li
                                            a.action_sh._t(href='#' data-network="twitter" class='st-custom-button')
                                                span Twitter
                                        li
                                            a.action_sh._st(href='#' data-network="steemit" class='st-custom-button')
                                                span SteemIt
                                        li
                                            a.action_sh._f(href='#' data-network="facebook" class='st-custom-button')
                                                span Facebook
                                        li
                                            a.action_sh._g(href='#' data-network="googleplus" class='st-custom-button')
                                                span Google+
                                        li
                                            a.action_sh._tg(href='https://t.me/cryptocomes')
                                                span Telegram
                                        li
                                            a.action_sh._y(href='https://t.me/cryptocomes')
                                                span Youtube
                                        li
                                            a.action_sh._l(href='#' data-network="linkedin" class='st-custom-button')
                                                span LinkedIn
                                        li
                                            a.action_sh._gh(href='#' data-network="github" class='st-custom-button')
                                                span Github
                                        li
                                            a.action_sh._rd(href='#' data-network="reddit" class='st-custom-button')
                                                span Reddit
                                        li
                                            a.action_sh._rss(href='#')
                                                span Other
                                        li
                                            a.action_sh._m(href='#')
                                                span Medium

                        h2 Schedule

                        p Fosun is planning to invest 100 bln Yuan ($16 bln) in #[a(href='#') Artificial Intelligence], biotech and fintech areas over next decade. The company’s main focus will be India and Africa and Portuguese-speaking markets

                        .article_container
                            h2._no_margin Speakers

                            ul.speakers_list
                                li: a.speaker_link(href='#') John Smith, enterpreneur
                                li: a.speaker_link(href='#') Mike O’Neil, cyptoluck founder
                                li: a.speaker_link(href='#') John Smith, enterpreneur
                                li: a.speaker_link(href='#') Mike O’Neil, cyptoluck founder
                                li: a.speaker_link(href='#') Mike O’Neil, cyptoluck founder

                        p
                            a.btn_v4.subscribe_btn._tw(href='#')
                                span follow US on TWITTER

                    a.btn_v4.comment_btn(href='#') Click to leave your comment

            .nav_holder
                +header()
                +main_menu()
                +search()

            +footer(false, true)

        +scripts()
