include mixins.pug
doctype html
html(lang='ru')
    +dev_head('Crypto article')

    body.no_transition
        .wrapper
            .main_content
                .section_inner
                    +top_info(true)

                    h1.block_title Daniel Ostin

                    ul.article_stat._hero
                        li
                            span.article_stat_val._stat_time 2h
                        li
                            span.article_stat_val._stat_views 212

                    .article_container
                        figure
                            .article_img
                                a.article_img_link(href='#'): img(src='i/hero.jpg')

                        p Darryn Pollock is a seasoned journalist from Durban, South Africa. He has worked for a number of print publications, made the transition to digital, and is fully ingrained in the cryptocurrency space. Anti-banking, he is a believer in the disruptive potential of the Blockchain

                        p
                            a(href='#') See CryptoComes Editorial

                        h2.block_title Author articles

                    +loop_while(4)
                        .article_block.story_block._main
                            .article_img
                                a.article_img_link(href='#'): img(src='i/bear.jpg')

                            .article_title
                                .article_action: .article_action_inner
                                    a.article_action_btn.actionBtn(href='#')
                                p: a.article_link(href='#') Reddit No Longer Accepting Bitcoin Payments
                                ul.article_stat
                                    li
                                        a.article_stat_val(href='#') John Doe
                                    li
                                        span.article_stat_val._stat_time 2h
                                    li
                                        span.article_stat_val._stat_views 212

            .nav_holder
                +header()
                +main_menu(true)
                +search()
                +article_share()

            +footer(false, true)

        +scripts(true)
