include mixins.pug
doctype html
html(lang='ru')
    +dev_head('Crypto главная')

    body.no_transition
        .wrapper
            .main_content
                .section_inner
                    +top_info()

                    .article_group_title._news
                        h1: a.artile_link(href='#') News

                    .article_block.story_block._main
                        .article_img
                            a.article_img_link(href='#'): img(src='i/bear.jpg')

                        .article_title
                            .article_action: .article_action_inner
                                a.article_action_btn.actionBtn(href='#')
                            p: a.article_link(href='#') Reddit No Longer Accepting Bitcoin Payments
                            ul.article_stat
                                li
                                    a.article_stat_val(href='#') John Doe
                                li
                                    span.article_stat_val._stat_time 2h
                                li
                                    span.article_stat_val._stat_views 212

                    ul.news_list
                        +loop_while(3)
                            li
                                .news_item
                                    p: a.news_name(href='#') EOS Bounces Back Despite John Oliver Slam, Up 35 Percent This Week
                                    .article_action: .article_action_inner
                                        a.article_action_btn.actionBtn(href='#')

                                    ul.article_stat
                                        li
                                            a.article_stat_val(href='#') John Doe
                                        li
                                            span.article_stat_val._stat_time 2h
                                        li
                                            span.article_stat_val._stat_views 212

                    .article_controls
                        a.btn_v1.more_btn.gray_btn(href='#') View All

                    .group_line._stories

                    .article_group_title._stories
                        h2: a.artile_link(href='#') stories

                    .article_block.story_block._main
                        .article_img
                            ul.article_tags
                                li
                                    span.article_tag._stories._top
                                        span TOP STORY
                            a.article_img_link(href='#'): img(src='i/bear.jpg')

                        .article_title
                            .article_action: .article_action_inner
                                a.article_action_btn.actionBtn(href='#')
                            p: a.article_link(href='#') Reddit No Longer Accepting Bitcoin Payments
                            ul.article_stat
                                li
                                    a.article_stat_val(href='#') John Doe
                                li
                                    span.article_stat_val._stat_time 2h
                                li
                                    span.article_stat_val._stat_views 212

                    ul.news_list
                        li
                            .news_item._wide
                                .article_img
                                    ul.article_tags
                                        li
                                            a.icon-say.article_tag._features(href='#')
                                                span Features
                                    a.article_img_link(href='#'): img(src='i/bear.jpg')

                                p: a.news_name(href='article.html') Market Growth Fizzles Out, Bitcoin Price Stuck at $9,000
                                .article_action: .article_action_inner
                                    a.article_action_btn.actionBtn(href='#')

                                ul.article_stat
                                    li
                                        a.article_stat_val(href='#') John Doe
                                    li
                                        span.article_stat_val._stat_time 2h
                                    li
                                        span.article_stat_val._stat_views 212
                        li
                            .news_item._wide
                                .article_img
                                    ul.article_tags
                                        li
                                            a.icon-say.article_tag._pricewise(href='#')
                                                span PRISEWISE
                                    a.article_img_link(href='#'): img(src='i/bear.jpg')

                                p: a.news_name(href='article.html') Market Growth Fizzles Out, Bitcoin Price Stuck at $9,000
                                .article_action: .article_action_inner
                                    a.article_action_btn.actionBtn(href='#')

                                ul.article_stat
                                    li
                                        a.article_stat_val(href='#') John Doe
                                    li
                                        span.article_stat_val._stat_time 2h
                                    li
                                        span.article_stat_val._stat_views 212
                        li
                            .news_item._wide
                                .article_img
                                    ul.article_tags
                                        li
                                            a.icon-say.article_tag._wiki(href='#')
                                                span WIKICOIN
                                    a.article_img_link(href='#'): img(src='i/bear.jpg')

                                p: a.news_name(href='article.html') Market Growth Fizzles Out, Bitcoin Price Stuck at $9,000
                                .article_action: .article_action_inner
                                    a.article_action_btn.actionBtn(href='#')

                                ul.article_stat
                                    li
                                        a.article_stat_val(href='#') John Doe
                                    li
                                        span.article_stat_val._stat_time 2h
                                    li
                                        span.article_stat_val._stat_views 212

                    .article_controls
                        a.btn_v1.more_btn.gray_btn(href='#') View All

                    .group_line._release

                    .article_group_title._release
                        h2: a.artile_link(href='#') PRESS RELEASES

                    //-.swiper-container.mainBlockSlider.main_block_slider
                        .currency_info_table.swiper-wrapper
                            +loop_while(4)
                                .swiper-slide
                    .article_block.story_block._main
                        .article_img
                            a.article_img_link(href='#'): img(src='i/bear.jpg')

                        .article_title
                            .article_action: .article_action_inner
                                a.article_action_btn.actionBtn(href='#')
                            p: a.article_link(href='#') Reddit No Longer Accepting Bitcoin Payments
                            ul.article_stat
                                li
                                    a.article_stat_val(href='#') John Doe
                                li
                                    span.article_stat_val._stat_time 2h
                                li
                                    span.article_stat_val._stat_views 212

                    .swiper-container.smallBlockSlider.main_block_slider
                        .swiper-pagination.main_pagination

                        .currency_info_table.swiper-wrapper
                            +loop_while(4)
                                .swiper-slide._small
                                    .article_block.story_block._main
                                        .article_img
                                            a.article_img_link(href='#'): img(src='i/bear.jpg')

                                        .article_title
                                            .article_action: .article_action_inner
                                                a.article_action_btn.actionBtn(href='#')
                                            p: a.article_link(href='#') Initial Coin Offerings Are For Everyone, Not Only the Rich
                                            ul.article_stat
                                                li._wide
                                                    span.article_stat_val CocaCola Inc
                                                li
                                                    span.article_stat_val._stat_time 2h
                                                li
                                                    span.article_stat_val._stat_views 212

                    .offer_block
                        p Have something interesting
                        p
                            a.btn_v1.btn_violette_2.offer_btn(href='#')
                                span SubMit A PRESS RELEASE
                                span.btn_icon.icon-rocket

                    .group_line._pricewise

                    .article_group_title._pricewise
                        h2: a.artile_link(href='#') PRICEWISE

                    .article_block.story_block._main
                        .article_img
                            a.article_img_link(href='#'): img(src='i/bear.jpg')

                        .article_title
                            .article_action: .article_action_inner
                                a.article_action_btn.actionBtn(href='#')
                            p: a.article_link(href='#') Reddit No Longer Accepting Bitcoin Payments
                            ul.article_stat
                                li
                                    a.article_stat_val(href='#') John Doe
                                li
                                    span.article_stat_val._stat_time 2h
                                li
                                    span.article_stat_val._stat_views 212

                    ul.news_list
                        ul.news_list
                            li
                                .news_item._wide
                                    .article_img
                                        a.article_img_link(href='#'): img(src='i/bear.jpg')

                                    p: a.news_name(href='article.html') Market Growth Fizzles Out, Bitcoin Price Stuck at $9,000
                                    .article_action: .article_action_inner
                                        a.article_action_btn.actionBtn(href='#')

                                    ul.article_stat
                                        li
                                            a.article_stat_val(href='#') John Doe
                                        li
                                            span.article_stat_val._stat_time 2h
                                        li
                                            span.article_stat_val._stat_views 212
                            li
                                .news_item._wide
                                    .article_img
                                        a.article_img_link(href='#'): img(src='i/bear.jpg')

                                    p: a.news_name(href='article.html') Market Growth Fizzles Out, Bitcoin Price Stuck at $9,000
                                    .article_action: .article_action_inner
                                        a.article_action_btn.actionBtn(href='#')

                                    ul.article_stat
                                        li
                                            a.article_stat_val(href='#') John Doe
                                        li
                                            span.article_stat_val._stat_time 2h
                                        li
                                            span.article_stat_val._stat_views 212

                    .article_controls
                        a.btn_v1.more_btn.gray_btn(href='#') View All

                    #subscribeTrigger

                    .group_line._watch

                    .article_group_title._watch
                        h3: a.artile_link(href='#') ICO Watch

                    //-.swiper-container.mainBlockSlider.main_block_slider
                        .currency_info_table.swiper-wrapper
                            +loop_while(4)
                                .swiper-slide
                    .article_block.story_block._main
                        .article_img
                            a.article_img_link(href='#'): img(src='i/bear.jpg')

                        .article_title
                            .article_action: .article_action_inner
                                a.article_action_btn.actionBtn(href='#')
                            p: a.article_link(href='#') Reddit No Longer Accepting Bitcoin Payments
                            ul.article_stat
                                li
                                    a.article_stat_val(href='#') John Doe
                                li
                                    span.article_stat_val._stat_time 2h
                                li
                                    span.article_stat_val._stat_views 212

                    .swiper-container.smallBlockSlider.main_block_slider
                        .swiper-pagination.main_pagination

                        .currency_info_table.swiper-wrapper
                            +loop_while(4)
                                .swiper-slide._small
                                    .article_block.story_block._main
                                        .article_img
                                            a.article_img_link(href='#'): img(src='i/bear.jpg')

                                        .article_title
                                            .article_action: .article_action_inner
                                                a.article_action_btn.actionBtn(href='#')
                                            p: a.article_link(href='#') Initial Coin Offerings Are For Everyone, Not Only the Rich
                                            ul.article_stat
                                                li._wide
                                                    span.article_stat_val CocaCola Inc
                                                li
                                                    span.article_stat_val._stat_time 2h
                                                li
                                                    span.article_stat_val._stat_views 212

                    .article_controls
                        a.btn_v1.more_btn.gray_btn(href='#') View All

                    .group_line._crypto

                    .article_group_title._crypto
                        h3: a.artile_link(href='#') CryptoTips

                    .article_block.story_block._main
                        .article_img
                            a.article_img_link(href='#'): img(src='i/bear.jpg')

                        .article_title
                            .article_action: .article_action_inner
                                a.article_action_btn.actionBtn(href='#')
                            p: a.article_link(href='#') Reddit No Longer Accepting Bitcoin Payments
                            ul.article_stat
                                li
                                    a.article_stat_val(href='#') John Doe
                                li
                                    span.article_stat_val._stat_time 2h
                                li
                                    span.article_stat_val._stat_views 212

                    ul.news_list
                        ul.news_list
                            li
                                .news_item._wide
                                    .article_img
                                        a.article_img_link(href='#'): img(src='i/bear.jpg')

                                    p: a.news_name(href='article.html') Market Growth Fizzles Out, Bitcoin Price Stuck at $9,000
                                    .article_action: .article_action_inner
                                        a.article_action_btn.actionBtn(href='#')

                                    ul.article_stat
                                        li
                                            a.article_stat_val(href='#') John Doe
                                        li
                                            span.article_stat_val._stat_time 2h
                                        li
                                            span.article_stat_val._stat_views 212
                            li
                                .news_item._wide
                                    .article_img
                                        a.article_img_link(href='#'): img(src='i/bear.jpg')

                                    p: a.news_name(href='article.html') Market Growth Fizzles Out, Bitcoin Price Stuck at $9,000
                                    .article_action: .article_action_inner
                                        a.article_action_btn.actionBtn(href='#')

                                    ul.article_stat
                                        li
                                            a.article_stat_val(href='#') John Doe
                                        li
                                            span.article_stat_val._stat_time 2h
                                        li
                                            span.article_stat_val._stat_views 212

                    .article_controls
                        a.btn_v1.more_btn.gray_btn(href='#') View All

                    .group_line._event

                    .article_group_title._event
                        h3: a.artile_link(href='#') Events

                    .article_block.story_block._main
                        .article_img
                            a.article_img_link(href='#'): img(src='i/bear.jpg')

                        .article_title
                            .article_action: .article_action_inner
                                a.article_action_btn.actionBtn(href='#')
                            .article_date._event 21 MARCH
                            p: a.article_link(href='#') Reddit No Longer Accepting Bitcoin Payments
                            ul.article_stat
                                li
                                    span.article_stat_val Zurich Switzerland
                                li
                                    span.article_stat_val._stat_views 212

                    ul.news_list
                        li
                            .news_item
                                .article_date._event 21 MARCH - 24 MARCH

                                p: a.news_name(href='#') EOS Bounces Back Despite John Oliver Slam, Up 35 Percent This Week
                                .article_action: .article_action_inner
                                    a.article_action_btn.actionBtn(href='#')

                                ul.article_stat
                                    li
                                        span.article_stat_val Zurich Switzerland
                                    li
                                        span.article_stat_val._stat_views 212
                        li
                            .news_item
                                .article_date._event 21 MARCH

                                p: a.news_name(href='#') EOS Bounces Back Despite John Oliver Slam, Up 35 Percent This Week
                                .article_action: .article_action_inner
                                    a.article_action_btn.actionBtn(href='#')

                                ul.article_stat
                                    li
                                        span.article_stat_val Zurich Switzerland
                                    li
                                        span.article_stat_val._stat_views 212

                    .article_controls
                        a.btn_v1.more_btn.gray_btn(href='#') View All

                    .offer_block
                        p Want to publish on CryptoComes?
                        p
                            a.btn_v1.btn_violette_2.offer_btn(href='#')
                                span Subit NEW CRYPTOEVENT
                                span.btn_icon.icon-rocket

            .nav_holder
                +header()
                +main_menu()
                +search()

            +footer(false, true)

        +scripts()
