include mixins.pug
doctype html
html(lang='ru')
    +dev_head('Crypto главная')

    body.no_transition
        .wrapper
            .main_content
                .section_inner
                    +top_info()

                    .attention_block._warn
                        p Indonesia Central Bank: Cryptocurrency Payments 'Not Legitimate'

                    .article_block.story_block._main._stories
                        .article_img
                            ul.article_tags
                                li
                                    span.icon-crypto.article_tag._top
                            .article_action: .article_action_inner.fixMe(data-sticky-class='_stuck')
                                a.article_action_btn.actionBtn(href='#' )
                            img(src='i/sberbank.jpg')

                        .article_title
                            a.article_link.clr_violette(href='#') Blockchain and the Rise of Transaction Technol…
                            ul.article_stat
                                li
                                    span.article_stat_val._stat_views 212
                                li
                                    span.article_stat_val 2 minutes ago

                        ul.news_list
                            li
                                .news_item
                                    .news_date 2 min<br>ago
                                    .news_name Russia's Sberbank Has Launched a Blockchain Lab

                            li
                                .news_item
                                    .news_date 1 hr<br>ago
                                    .news_name KFC Canada Is Accepting Bitcoin for Fried Chicken

                            li
                                .news_item
                                    .news_date 2 hr<br>ago
                                    .news_name Ukraine Forms Cryptocurrency Oversigh…

                            li
                                .news_item
                                    .news_date 1 day<br>ago
                                    .news_name Arizona Lawmakers Want to Let People Pay Taxes i…

                            li
                                .news_item
                                    .news_date 29 hr<br>ago
                                    .news_name US State Regulators Hit BitConnect With Second …

                    .article_controls
                        a.btn_v1.more_btn.gray_btn(href='#') More news

                    .article_block.story_block._top
                        .top_story_caption Top story
                        .article_img
                            .article_action: .article_action_inner.fixMe(data-sticky-class='_stuck')
                                a.article_action_btn.actionBtn(href='#' )
                            img(src='i/tennessee.jpg')

                        .article_title
                            a.article_link(href='#') Tennessee Might Also Recognize Blockchain Data Through Propose…
                            ul.article_stat
                                li
                                    a.article_theme(href='#') Explorer the theme

                    #subscribeTrigger
                    .article_group_title._stories
                        span Stories

                    .article_block
                        .article_img
                            ul.article_tags
                                li
                                    span.icon-shark.article_tag._pool
                            .article_action: .article_action_inner.fixMe(data-sticky-class='_stuck')
                                a.article_action_btn.actionBtn(href='#' )
                            img(src='i/sachs.jpg')

                        .article_title
                            a.article_link(href='#') Goldman Sachs: Bitcoin Could Be Viable Mon…
                            ul.article_stat
                                li
                                    span.article_stat_val._stat_views 212
                                li
                                    span.article_stat_val 2 minutes ago
                                li
                                    span.article_stat_val Ariel Deschapell

                    .article_block
                        .article_img
                            ul.article_tags
                                li
                                    span.icon-say.article_tag._pricewise
                            .article_action: .article_action_inner.fixMe(data-sticky-class='_stuck')
                                a.article_action_btn.actionBtn(href='#' )
                            img(src='i/sachs.jpg')

                        .article_title
                            a.article_link(href='#') China's Internet Finance Association Warns on …
                            ul.article_stat
                                li
                                    span.article_stat_val._stat_views 212
                                li
                                    span.article_stat_val 2 minutes ago
                                li
                                    span.article_stat_val Ariel Deschapell

                    .article_block
                        .article_img
                            a.video_link._stories(href='#')
                            img(src='i/biosensor.jpg')

                        .article_title._video
                            a.article_link(href='#') Biosensor Analysis Tool - Human Behaviour Research Synchroniz…
                            ul.article_stat
                                li
                                    span.article_stat_val._stat_views 212
                                li._fr
                                    span.article_stat_val 13:45

                    .article_controls
                        a.btn_v1.more_btn.gray_btn(href='#') More stories

                    .article_group_title._features
                        span Features

                    .article_block._main._features
                        .article_img
                            .article_action: .article_action_inner.fixMe(data-sticky-class='_stuck')
                                a.article_action_btn.actionBtn(href='#' )
                            img(src='i/sachs.jpg')

                        .article_title
                            a.article_link(href='#') 2018: The Year Blockchain, AI and IoT…
                            ul.article_stat
                                li
                                    span.article_stat_val._stat_views 212
                                li
                                    span.article_stat_val 2 minutes ago
                                li
                                    span.article_stat_val Ariel Deschapell

                    ul.article_reviews._features
                        li
                            .article_block._features._review
                                .article_img
                                    img(src='i/regulators.jpg')

                                .article_title
                                    a.article_link(href='#') US State Regulators Hit BitConnect With Second Cease-And-Desist
                                ul.article_stat
                                    li
                                        span.article_stat_val._stat_views 212
                                    li
                                        span.article_stat_val 2 minutes ago
                                    li
                                        span.article_stat_val Sujha Sund…

                        li
                            .article_block._features._review
                                .article_title
                                    a.article_link(href='#') 2018: The Year Blockchain, AI and IoT Converge
                                ul.article_stat
                                    li
                                        span.article_stat_val._stat_views 212
                                    li
                                        span.article_stat_val 2 minutes ago
                                    li
                                        span.article_stat_val Sujha Sund…

                        li
                            .article_block._features._review
                                .article_img
                                    img(src='i/arizona.jpg')

                                .article_title
                                    a.article_link(href='#') Arizona Lawmakers Want to Let People Pay Taxes in Bitcoin
                                ul.article_stat
                                    li
                                        span.article_stat_val._stat_views 212
                                    li
                                        span.article_stat_val 2 minutes ago
                                    li
                                        span.article_stat_val Sujha Sund…

                    .article_controls
                        a.btn_v1.more_btn.gray_btn.clr_red(href='#') More features

                    .article_group_title._pool
                        span Sharks pool

                    .article_block._main._pool
                        .article_img
                            .article_action: .article_action_inner.fixMe(data-sticky-class='_stuck')
                                a.article_action_btn.actionBtn(href='#' )
                            img(src='i/sachs.jpg')

                        .article_title
                            a.article_link(href='#') Atomic Action: Will 2018 Be the Year of the Cros…
                            ul.article_stat
                                li
                                    span.article_stat_val._stat_views 212
                                li
                                    span.article_stat_val 2 minutes ago
                                li
                                    span.article_stat_val Ariel Deschapell

                    ul.article_reviews._pool
                        li
                            .article_block._pool._review
                                .article_img
                                    img(src='i/regulators.jpg')

                                .article_title
                                    a.article_link(href='#') US State Regulators Hit BitConnect With Second Cease-And-Desist
                                ul.article_stat
                                    li
                                        span.article_stat_val._stat_views 212
                                    li
                                        span.article_stat_val 2 minutes ago
                                    li
                                        span.article_stat_val Sujha Sund…

                        li
                            .article_block._pool._review
                                .article_title
                                    a.article_link(href='#') 2018: The Year Blockchain, AI and IoT Converge
                                ul.article_stat
                                    li
                                        span.article_stat_val._stat_views 212
                                    li
                                        span.article_stat_val 2 minutes ago
                                    li
                                        span.article_stat_val Sujha Sund…

                        li
                            .article_block._pool._review
                                .article_img
                                    img(src='i/arizona.jpg')

                                .article_title
                                    a.article_link(href='#') Arizona Lawmakers Want to Let People Pay Taxes in Bitcoin
                                ul.article_stat
                                    li
                                        span.article_stat_val._stat_views 212
                                    li
                                        span.article_stat_val 2 minutes ago
                                    li
                                        span.article_stat_val Sujha Sund…

                    .article_controls
                        a.btn_v1.more_btn.gray_btn.clr_blue(href='#') More  «Sharks pool»

                    .article_group_title._analysis
                        span Price analysis

                    .article_block._main._analysis
                        .article_img
                            .article_action: .article_action_inner.fixMe(data-sticky-class='_stuck')
                                a.article_action_btn.actionBtn(href='#' )
                            img(src='i/sachs.jpg')

                        .article_title
                            a.article_link(href='#') Atomic Action: Will 2018 Be the Year of the Cros…
                            ul.article_stat
                                li
                                    span.article_stat_val._stat_views 212
                                li
                                    span.article_stat_val 2 minutes ago
                                li
                                    span.article_stat_val Ariel Deschapell

                    ul.article_reviews._analysis
                        li
                            .article_block._analysis._review
                                .article_img
                                    img(src='i/regulators.jpg')

                                .article_title
                                    a.article_link(href='#') US State Regulators Hit BitConnect With Second Cease-And-Desist
                                ul.article_stat
                                    li
                                        span.article_stat_val._stat_views 212
                                    li
                                        span.article_stat_val 2 minutes ago
                                    li
                                        span.article_stat_val Sujha Sund…

                        li
                            .article_block._analysis._review
                                .article_title
                                    a.article_link(href='#') 2018: The Year Blockchain, AI and IoT Converge
                                ul.article_stat
                                    li
                                        span.article_stat_val._stat_views 212
                                    li
                                        span.article_stat_val 2 minutes ago
                                    li
                                        span.article_stat_val Sujha Sund…

                        li
                            .article_block._analysis._review
                                .article_img
                                    img(src='i/arizona.jpg')

                                .article_title
                                    a.article_link(href='#') Arizona Lawmakers Want to Let People Pay Taxes in Bitcoin
                                ul.article_stat
                                    li
                                        span.article_stat_val._stat_views 212
                                    li
                                        span.article_stat_val 2 minutes ago
                                    li
                                        span.article_stat_val Sujha Sund…

                    .article_controls
                        a.btn_v1.more_btn.gray_btn.clr_red(href='#') More «Price analysis»

            .nav_holder
                +header()
                +main_menu()
                +search()

            +footer()

        +scripts()
