block vars
    - var prod = true;
    - var prod = false;

mixin dev_head(page_title)
    head
        title=page_title
        |
        | <!-- saved from url=(0014)about:internet -->
        meta(charset='utf-8')
        meta(name='viewport', content="width=device-width, initial-scale=1.0")
        meta(name="SKYPE_TOOLBAR", content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="format-detection", content="telephone=no")
        meta(name="theme-color", content="#3d0ba9")

        - if (prod)
            style
                include ../styles/header_global.css

mixin loop_while(counter)
    -i=0;
    while i < counter
        -i++;
        block

mixin action_list()
  ul.action_list
    li: a.action_link._w(href='#')
      - if (amp)
        .action_link_icon
          +svg_icon('tw')
      span Twitter
    li: a.action_link._t(href='#')
      - if (amp)
        .action_link_icon
          +svg_icon('tg')
      span Telegram
    li: a.action_link._f(href='#')
      - if (amp)
        .action_link_icon
          +svg_icon('fb')
      span Facebook
    li: a.action_link._r(href='#')
      - if (amp)
        .action_link_icon
          +svg_icon('rss')
      span RSS

mixin footer(white)
    .footer(class= white ? '_white' : '')
        .section_inner
            ul.footer_menu
                li: a.footer_link(href='#') News
                li: a.footer_link(href='#') Features
                li: a.footer_link(href='#') Sharks pool
                li: a.footer_link(href='#') Price analysis
                li: a.footer_link(href='#') Share insight
                li: a.footer_link(href='about.html') About us

            .footer_logo
                a.logo(href='index.html')
                    - if (amp)
                        amp-img(src= white ? 'i/logo_f_v.png' : 'i/logo_c.svg', width='198', height='113', alt='logo')
                    - else
                        img(src= white ? 'i/logo_f_v.png' : 'i/logo_c.svg')

            p Follow us with:

            +action_list()

        .go_top_holder.goTopHolder
            .section_inner
                a.go_top.goTop(href='#')

mixin top_info()
    .top_info
        .currency_switcher
            select.currency_select
                option &#8364;
                option &#36;
                option &#8381;
                option &#163;
            .select_arrow
                - if (amp)
                    +svg_icon('triangle')
            .select_overlay
        .currency_info
            .currency_info_table
                .currency_info_cell
                    p
                        span BTC
                        span.clr_red_2 (-8.82%)
                    p
                        span.currency_val 2636.79
                .currency_info_cell
                    p
                        span BCH
                        span.clr_green (+10.82%)
                    p
                        span.currency_val 3236.51
                .currency_info_cell
                    p
                        span ETH
                        span.clr_red_2 (-8.82%)
                    p
                        span.currency_val 26236.79

mixin main_menu(subscribe)
    - if (subscribe)
        .subscribe_holder
            a.subscribe_close.subscribeAsideBtn(href='#')
            .subscribeBlock.subscribe_block
                .subscribe_title You can get more hot news and ideas.

                .footer_form
                    form.validateMe.formParent.subscribeForm(action='#')
                        .form_cell.formCell
                            .input_w
                                input.input_v1.forceValidation(placeholder='Enter your email' class='validate[required]')

                        .form_cell
                            button.btn_v1.subscribe_btn.white_btn Subscribe

                .footer_msg._success
                    .footer_msg_title
                        span.icon-check.msg_icon
                        br
                        span Subscription<br>enabled

                .footer_msg._fail
                    .footer_msg_title
                        span.icon-close.clr_red.msg_icon
                        span Error
                    p Something went wrong,<br>try again

            .footer_action
                p Follow us with:

                +action_list()

    .main_menu_holder(layout= (amp ? 'nodisplay' : null))
        ul.main_menu
            li.menu_item
                a.menu_link(href='#') News
            li.menu_item
                a.menu_link(href='#') Features
            li.menu_item
                a.menu_link(href='#') Sharks pool
            li.menu_item
                a.menu_link(href='price.html') Price analysis
            li.menu_item
                a.menu_link(href='#') Share insight
            li.menu_item
                a.menu_link(href='about.html') About us

        .menu_footer.subscribeBlock
            .footer_subscribe
                a.subscribe_close.subscribeClose(href='#')
                a.subscribe_link.subscribeLink(href='#') Subscribe with your email

            .footer_action
                p Follow us with:

                +action_list()

            .footer_form
                form.validateMe.formParent.subscribeForm(action='#')
                    .form_cell.formCell
                        .input_w
                            input.input_v1.forceValidation(placeholder='Enter your email' class='validate[required]')

                    .form_cell
                        button.btn_v1.subscribe_btn.white_btn Subscribe

            .footer_msg._success
                .footer_msg_title
                    span.icon-check.msg_icon
                    br
                    span Subscription<br>enabled

            .footer_msg._fail
                .footer_msg_title
                    span.icon-close.clr_red.msg_icon
                    span Error
                p Something went wrong,<br>try again

    .sh_holder
        .search_title Share
        a.menu_close_btn.actionBtn(href='#')
        .action_block
            .action_target
                .action_img
                    img(src='i/action_img.jpg')
                .action_title US State Regulators Hitt BitConnect With Second Cease-And-Desist

            ul.action_soc
                li: a.action_sh._f(href='#' data-network="facebook" class='st-custom-button')
                    span.action_sh_text Facebook
                li: a.action_sh._t(href='#' data-network="twitter" class='st-custom-button')
                    span.action_sh_text Twitter
                li: a.action_sh._rd(href='#' data-network="reddit" class='st-custom-button')
                    span.action_sh_text Reddit
                li: a.action_sh._l(href='#' data-network="linkedin" class='st-custom-button')
                    span.action_sh_text Linkedin
                li: a.action_sh._i(href='#' data-network="instagram" class='st-custom-button')
                    span.action_sh_text Instagram
                li: a.action_sh._p(href='#' data-network="pinterest" class='st-custom-button')
                    span.action_sh_text Pinterest
                li: a.action_sh._s(href='#' data-network="pinterest" class='st-custom-button')
                    span.action_sh_text Pinterest
                li: a.action_sh._tm(href='#' data-network="tumblr" class='st-custom-button')
                    span.action_sh_text Tumblr
                li: a.action_sh._tg(href='#')
                    span.action_sh_text Telegram

mixin article_soc(cls)
    ul.article_soc(class= cls)
        li: a.action_sh._r._active(href='#')
        li: a.action_sh._f(href='#' data-network="facebook" class='st-custom-button')
        li: a.action_sh._t(href='#' data-network="twitter" class='st-custom-button')
        li: a.action_sh._g(href='#' data-network="googleplus" class='st-custom-button')

        li: a.action_sh._rd(href='#' data-network="reddit" class='st-custom-button')
        li: a.action_sh._l(href='#' data-network="linkedin" class='st-custom-button')
        li: a.action_sh._i(href='#' data-network="instagram" class='st-custom-button')
        li: a.action_sh._p(href='#' data-network="pinterest" class='st-custom-button')
        li: a.action_sh._s(href='#' data-network="pinterest" class='st-custom-button')
        li: a.action_sh._tm(href='#' data-network="tumblr" class='st-custom-button')

        li: a.action_sh._more(href='#') more…
        li: a.action_sh._count(href='#') 250k

mixin search()
    .search_holder
        .search_title Search
        form(action='#')
            .form_cell
                input.completeIt.search_input(placeholder='search...')
                button.filter_btn

mixin header()
    .header
        .section_inner
            a.menu_btn.menuBtn(href='#' on= (amp ? 'tap:header-sidebar.toggle' : null) aria-label= (amp ? 'open sidebar' : null))
                span
            .logo_block
                a.logo(href='index.html')
                    - if (amp)
                        amp-img(src='i/logo_h.svg', width='168', height='52', alt='logo')
                    - else
                        img(src='i/logo_h.svg')


            a.search_btn.searchBtn(href='#' on= (amp ? 'tap:search-sidebar.toggle' : null) aria-label= (amp ? 'open sidebar' : null))
                - if (amp)
                    span.search_btn_icon
                        +svg_icon('search')

mixin widget_history()
    | <script type="text/javascript">
    | baseUrl = "https://widgets.cryptocompare.com/";
    | var scripts = document.getElementsByTagName("script");
    | var embedder = scripts[ scripts.length - 1 ];
    | var cccTheme = {"General":{"borderWidth":"2px","borderColor":"#F8F8F8"},"Rows":{"borderColor":"#F8F8F8","upColor":"#266D11","downColor":"#C7293D"}};
    | (function (){
    | var appName = encodeURIComponent(window.location.hostname);
    | if(appName == ""){appName="local";}
    | var s = document.createElement("script");
    | s.type = "text/javascript";
    | s.async = true;
    | var theUrl = baseUrl+'serve/v1/coin/histo_week?fsym=BTC&tsym=USD';
    | s.src = theUrl + ( theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
    | embedder.parentNode.appendChild(s);
    | })();
    | </script>

mixin widget_chart()
    | <script type="text/javascript">
    | baseUrl = "https://widgets.cryptocompare.com/";
    | var scripts = document.getElementsByTagName("script");
    | var embedder = scripts[ scripts.length - 1 ];
    | var cccTheme = {"General":{"borderWidth":"2px","borderColor":"#F8F8F8"},"Tabs":{"borderColor":"#F8F8F8","activeBorderColor":"#5C29C7"}};
    | (function (){
    | var appName = encodeURIComponent(window.location.hostname);
    | if(appName == ""){appName="local";}
    | var s = document.createElement("script");
    | s.type = "text/javascript";
    | s.async = true;
    | var theUrl = baseUrl+'serve/v3/coin/chart?fsym=BTC&tsyms=USD,EUR,CNY,GBP';
    | s.src = theUrl + ( theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
    | embedder.parentNode.appendChild(s);
    | })();
    | </script>

mixin widget_summary()
    | <script type="text/javascript">
    | baseUrl = "https://widgets.cryptocompare.com/";
    | var scripts = document.getElementsByTagName("script");
    | var embedder = scripts[ scripts.length - 1 ];
    | (function (){
    | var appName = encodeURIComponent(window.location.hostname);
    | if(appName == ""){appName="local";}
    | var s = document.createElement("script");
    | s.type = "text/javascript";
    | s.async = true;
    | var theUrl = baseUrl+'serve/v1/coin/summary?fsym=BTC&tsyms=USD,EUR,CNY,GBP,RUB';
    | s.src = theUrl + ( theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
    | embedder.parentNode.appendChild(s);
    | })();
    | </script>

mixin widget_converter()
    | <script type="text/javascript">
    | baseUrl = "https://widgets.cryptocompare.com/";
    | var scripts = document.getElementsByTagName("script");
    | var embedder = scripts[ scripts.length - 1 ];
    | var cccTheme = {"General":{"background":"#F8F8F8","borderWidth":"0","headerTextColor":"#5C29C7","headerTextSize":"16px"}};
    | (function (){
    | var appName = encodeURIComponent(window.location.hostname);
    | if(appName == ""){appName="local";}
    | var s = document.createElement("script");
    | s.type = "text/javascript";
    | s.async = true;
    | var theUrl = baseUrl+'serve/v1/coin/converter?fsym=BTC&tsyms=USD,EUR,CNY,GBP,RUB';
    | s.src = theUrl + ( theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
    | embedder.parentNode.appendChild(s);
    | })();
    | </script>

mixin svg_icon(icon)
    if (icon === 'triangle')
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
        <path d="M88.629 63.127h334.75c34.647 0 62.736 28.087 62.736 62.735 0 12.033-3.461 23.811-9.969 33.933l-167.375 260.27c-18.74 29.142-57.556 37.574-86.698 18.832-7.553-4.857-13.976-11.281-18.832-18.832l-167.375-260.27c-18.741-29.142-10.309-67.957 18.832-86.698 10.121-6.508 21.901-9.969 33.932-9.969z"></path>
        </svg>
    if (icon === 'close')
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
        <path d="M256 192.736l158.163-158.162 63.264 63.264-158.163 158.162 158.163 158.163-63.264 63.264-158.163-158.163-158.162 158.163-63.264-63.264 158.162-158.163-158.162-158.162 63.264-63.264 158.162 158.162z"></path>
        </svg>
    if (icon === 'rss')
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
        <path d="M94.773 356.797c-16.794 0-31.069 5.877-42.825 17.634s-17.634 26.031-17.634 42.825c0 16.795 5.877 31.069 17.633 42.825s26.031 17.634 42.826 17.634c16.794 0 31.069-5.877 42.826-17.634s17.633-26.031 17.633-42.825c0-16.795-5.876-31.069-17.633-42.825s-26.031-17.634-42.826-17.634zM56.041 195.57c-5.877-0.422-10.918 1.364-15.117 5.355-4.407 3.778-6.611 8.71-6.611 14.799v42.508c0 5.247 1.732 9.762 5.196 13.539s7.821 5.877 13.068 6.298c48.072 4.62 89.166 23.986 123.281 58.097s53.481 75.209 58.097 123.281c0.422 5.247 2.52 9.603 6.298 13.067s8.293 5.196 13.54 5.196h42.509c6.089 0 11.022-2.204 14.8-6.611 3.568-3.568 5.354-8.084 5.354-13.539v-1.574c-2.729-33.589-11.178-65.709-25.351-96.356s-33.222-57.834-57.154-81.557c-23.722-23.931-50.91-42.984-81.557-57.154s-62.767-22.621-96.356-25.351zM55.411 34.343c-5.668-0.422-10.601 1.469-14.8 5.668-4.199 3.777-6.298 8.606-6.298 14.486v45.029c0 5.459 1.837 10.129 5.51 14.011s8.135 5.93 13.385 6.139c45.134 2.52 88.013 13.122 128.635 31.803s75.889 42.984 105.806 72.897c29.916 29.916 54.215 65.183 72.897 105.805s29.39 83.501 32.12 128.635c0.209 5.247 2.257 9.708 6.139 13.385s8.452 5.51 13.698 5.51h45.029c5.877 0 10.705-2.099 14.486-6.298 3.777-3.777 5.668-8.397 5.668-13.856v-0.943c-2.729-55-15.325-107.642-37.788-157.922s-53.322-94.942-92.579-133.986c-39.048-39.257-83.71-70.117-133.986-92.579s-102.918-35.059-157.922-37.788z"></path>
        </svg>

    if (icon === 'tw')
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
        <path d="M249.212 165.15l1.018 16.794-16.974-2.056c-61.786-7.883-115.763-34.615-161.593-79.513l-22.406-22.278-5.771 16.451c-12.221 36.671-4.413 75.4 21.049 101.448 13.579 14.394 10.523 16.451-12.901 7.883-8.148-2.742-15.277-4.798-15.956-3.77-2.376 2.399 5.772 33.588 12.221 45.925 8.827 17.136 26.819 33.93 46.51 43.869l16.635 7.883-19.689 0.343c-19.010 0-19.689 0.343-17.653 7.54 6.79 22.277 33.609 45.925 63.483 56.207l21.048 7.198-18.332 10.967c-27.158 15.765-59.070 24.676-90.981 25.361-15.277 0.343-27.837 1.714-27.837 2.741 0 3.427 41.416 22.62 65.519 30.161 72.309 22.277 158.197 12.682 222.699-25.361 45.831-27.075 91.659-80.884 113.047-132.978 11.542-27.761 23.085-78.484 23.085-102.818 0-15.765 1.019-17.822 20.029-36.672 11.202-10.967 21.728-22.963 23.764-26.39 3.394-6.513 3.055-6.513-14.259-0.686-28.856 10.281-32.93 8.91-18.671-6.513 10.524-10.967 23.085-30.846 23.085-36.671 0-1.028-5.093 0.686-10.863 3.77-6.111 3.427-19.69 8.569-29.875 11.653l-18.332 5.827-16.635-11.311c-9.166-6.169-22.067-13.023-28.856-15.079-17.313-4.798-43.793-4.112-59.409 1.371-42.435 15.423-69.254 55.179-66.198 98.706z"></path>
        </svg>
    if (icon === 'fb')
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
        <path d="M292.895 479.658v-223.685h66.166l8.768-77.082h-74.936l0.113-38.581c0-20.105 2.047-30.876 32.99-30.876h41.365v-77.091h-66.176c-79.488 0-107.466 37.394-107.466 100.278v46.28h-49.548v77.083h49.548v223.675h99.175z"></path>
        </svg>
    if (icon === 'tg')
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
        <path d="M405.587 415.378l65.365-307.693c3.188-12.754 1.594-22.32-4.783-28.697s-12.754-6.377-22.32-3.188l-384.217 148.266c-7.972 3.188-14.348 6.377-17.538 11.16s-3.188 7.972-1.594 11.16c1.594 3.188 6.377 6.377 14.348 7.972l98.844 30.292 227.98-143.484c6.377-4.782 11.16-4.782 14.348-3.188 1.594 1.594 1.594 3.188-1.594 6.377l-184.935 168.992-7.972 102.033c6.377 0 12.754-3.188 20.726-9.566l47.828-46.233 98.844 73.337c20.726 11.16 31.885 4.783 36.668-17.538z"></path>
        </svg>

    if (icon === 'search')
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
        <path fill="#000" d="M467.675 467.675c-16.435 16.434-43.072 16.434-59.507 0l-74.255-74.255c-30.527 19.584-66.614 31.252-105.577 31.252-108.426 0-196.336-87.897-196.336-196.336s87.91-196.335 196.336-196.335c108.44 0 196.336 87.895 196.336 196.335 0 38.95-11.683 75.050-31.253 105.591l74.256 74.255c16.433 16.434 16.433 43.058 0 59.492zM228.336 88.096c-77.447 0-140.24 62.779-140.24 140.239s62.793 140.24 140.24 140.24c77.46 0 140.24-62.779 140.24-140.24s-62.779-140.239-140.24-140.239z"></path>
        </svg>

    if (icon === 'ufo')
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
        <path d="M159.017 398.443c-0.032-0.202-0.116-0.414-0.088-0.607 0.359-2.526 0.687-5.054 1.118-7.569 0.319-1.854 0.768-3.688 1.163-5.527 0.363-1.693 0.696-3.392 1.11-5.073 0.518-2.116 1.106-4.214 1.66-6.322 0.464-1.765 0.913-3.531 1.381-5.296 0.261-0.976 0.553-1.948 0.825-2.923 0.177-0.632 0.335-1.269 0.523-1.899 0.887-2.972 1.781-5.941 2.668-8.913 0.282-0.943 0.534-1.897 0.832-2.834 0.44-1.382 0.923-2.752 1.363-4.137 0.286-0.908 0.516-1.836 0.794-2.747 0.483-1.573 0.984-3.143 1.476-4.714 0.286-0.911 0.557-1.828 0.854-2.733 0.463-1.409 0.956-2.806 1.41-4.217 0.291-0.906 0.532-1.828 0.813-2.738 0.415-1.343 0.841-2.683 1.267-4.022 0.333-1.052 0.671-2.104 1.012-3.151 0.463-1.414 0.936-2.825 1.396-4.241 0.275-0.853 0.516-1.716 0.794-2.565 0.488-1.478 0.998-2.948 1.484-4.425 0.298-0.906 0.56-1.825 0.856-2.732 0.441-1.356 0.903-2.708 1.341-4.065 0.294-0.908 0.558-1.825 0.843-2.736 0.439-1.401 0.879-2.797 1.327-4.196 0.327-1.023 0.656-2.046 0.996-3.064 0.46-1.381 0.938-2.755 1.391-4.137 0.286-0.877 0.532-1.77 0.817-2.647 0.463-1.417 0.951-2.827 1.414-4.245 0.296-0.906 0.563-1.824 0.849-2.731 0.554-1.765 1.107-3.527 1.669-5.291 0.563-1.767 1.143-3.527 1.702-5.296 0.621-1.962 1.234-3.922 1.839-5.887 0.54-1.76 1.042-3.536 1.592-5.296 0.457-1.459 0.972-2.895 1.434-4.351 0.305-0.964 0.563-1.946 0.843-2.918 0.144-0.505 0.291-1.007 0.452-1.564-0.853-0.228-1.599-0.108-2.332-0.070-2.012 0.107-4.034 0.151-6.030 0.404-1.885 0.238-3.774 0.234-5.662 0.335-1.649 0.089-3.296 0.202-4.942 0.313-3.089 0.206-6.175 0.429-9.268 0.621-2.822 0.177-5.646 0.331-8.471 0.464-3.546 0.167-7.101 0.196-10.637 0.488-3.631 0.298-7.269 0.315-10.903 0.497-2.944 0.148-5.892 0.219-8.838 0.309-4.239 0.128-8.481 0.181-12.715 0.375-9.776 0.452-19.558 0.224-29.334 0.266-3.941 0.015-7.885 0-11.825-0.089-3.638-0.083-7.27-0.274-10.907-0.43-1.561-0.067-3.122-0.153-4.684-0.248-1.86-0.113-3.727-0.17-5.577-0.39-2.712-0.324-5.414-0.731-8.109-1.184-1.648-0.278-3.297-0.627-4.903-1.091-2.633-0.76-5.291-1.495-7.551-3.162-1.41-1.038-2.383-2.339-2.61-4.119-0.022-0.177-0.074-0.355-0.153-0.509-1.101-2.151-1.15-4.468-0.858-6.762 0.331-2.594 1.73-4.655 3.798-6.233 0.8-0.61 1.648-1.19 2.553-1.622 1.278-0.612 2.379-1.446 3.426-2.367 1.445-1.268 3.048-2.308 4.706-3.251 2.456-1.399 4.947-2.746 7.481-3.999 2.834-1.4 5.714-2.708 8.606-3.984 2.669-1.179 5.376-2.278 8.078-3.389 1.868-0.768 3.752-1.499 5.629-2.243 2.139-0.85 4.275-1.711 6.425-2.54 0.808-0.31 1.648-0.528 2.469-0.809 1.18-0.404 2.358-0.817 3.529-1.234 0.843-0.301 1.686-0.609 2.516-0.936 1.302-0.509 2.594-0.991 3.733-1.885 0.849-0.668 1.942-1.028 2.926-1.524 2.472-1.244 4.942-2.495 7.421-3.727 1.307-0.651 2.639-1.255 3.945-1.911 2.37-1.189 4.713-2.427 7.093-3.595 3.572-1.751 6.491-4.428 9.651-6.76 0.978-0.722 1.929-1.484 2.846-2.285 1.412-1.232 2.758-2.535 4.181-3.75 0.827-0.708 1.494-1.515 2.063-2.435 1.363-2.202 2.708-4.418 4.147-6.573 1.503-2.25 3.106-4.432 4.662-6.645 1.044-1.484 2.063-2.988 3.137-4.453 1.161-1.583 2.306-3.186 3.581-4.675 2.558-2.992 5.174-5.936 7.815-8.857 2.583-2.855 5.665-5.106 8.959-7.081 1.484-0.89 2.944-1.822 4.409-2.748 1.966-1.244 4.030-2.294 6.14-3.268 1.222-0.564 2.435-1.155 3.676-1.677 1.756-0.736 3.541-1.393 5.297-2.126 1.628-0.683 3.23-1.43 4.849-2.131 1.475-0.639 2.954-1.281 4.447-1.874 2.231-0.888 4.547-1.51 6.869-2.1 2.089-0.528 4.206-0.942 6.306-1.426 1.309-0.301 2.605-0.658 3.914-0.958 1.313-0.301 2.636-0.553 3.952-0.838 1.021-0.221 2.036-0.465 3.056-0.675 0.736-0.151 1.475-0.276 2.22-0.39 1.099-0.168 2.202-0.301 3.3-0.469 1.239-0.191 2.476-0.408 3.714-0.612 0.119-0.019 0.233-0.059 0.355-0.074 1.522-0.168 3.046-0.324 4.566-0.493 1.4-0.154 2.797-0.322 4.198-0.481 0.39-0.044 0.778-0.095 1.167-0.121 2.429-0.162 4.863-0.278 7.288-0.486 1.61-0.138 3.207-0.427 4.816-0.597 0.926-0.097 1.863-0.083 2.793-0.133 3.6-0.193 7.2-0.433 10.8-0.573 2.555-0.1 5.115-0.092 7.673-0.081 2.104 0.008 4.212 0.038 6.313 0.153 2.189 0.12 4.355 0.478 6.496 0.948 1.37 0.301 2.723 0.675 4.088 0.979 1.341 0.296 2.704 0.509 4.039 0.825 1.661 0.391 3.324 0.794 4.954 1.293 1.623 0.497 3.2 1.15 4.817 1.673 0.991 0.322 2.041 0.472 3.031 0.796 1.356 0.444 2.76 0.719 4.052 1.414 1.76 0.945 3.558 1.873 5.438 2.525 2.483 0.867 4.31 2.61 6.31 4.147 0.471 0.363 0.955 0.71 1.45 1.044 2.018 1.373 3.978 2.841 6.079 4.075 1.868 1.098 3.41 2.583 5.151 3.824 0.972 0.694 1.748 1.601 2.618 2.407 2.123 1.969 4.026 4.156 6.12 6.147 1.272 1.208 2.659 2.294 4.014 3.414 0.918 0.76 1.88 1.466 2.793 2.233 1.365 1.143 2.82 2.058 4.565 2.57 1.127 0.331 2.168 0.963 3.235 1.492 1.007 0.501 1.997 1.041 2.998 1.555 1.272 0.656 2.529 1.351 3.834 1.938 0.914 0.411 1.886 0.72 2.855 0.991 1.554 0.439 3.202 0.434 4.738 1.014 0.635 0.239 1.341 0.303 2.022 0.399 1.577 0.226 3.113 0.595 4.627 1.101 0.537 0.181 1.11 0.28 1.675 0.355 1.577 0.208 3.16 0.38 4.74 0.572 1.639 0.197 3.276 0.404 4.914 0.607 0.090 0.011 0.178 0.030 0.268 0.043 1.69 0.244 3.377 0.499 5.065 0.728 1.248 0.17 2.5 0.296 3.749 0.464 0.947 0.127 1.892 0.286 2.837 0.441 1.272 0.208 2.545 0.408 3.812 0.633 0.796 0.139 1.583 0.331 2.378 0.48 2.125 0.395 4.257 0.75 6.377 1.178 1.993 0.4 3.967 0.879 5.953 1.304 0.817 0.177 1.649 0.291 2.472 0.448 0.673 0.129 1.346 0.266 2.010 0.426 2.618 0.635 5.234 1.28 7.851 1.924 1.452 0.359 2.91 0.691 4.351 1.094 1.463 0.408 2.899 0.894 4.355 1.325 1.031 0.305 2.076 0.553 3.108 0.857 0.893 0.262 1.779 0.546 2.654 0.857 1.942 0.69 3.856 1.474 5.824 2.090 2.32 0.728 4.512 1.748 6.697 2.772 2.018 0.946 3.998 2.009 5.794 3.345 1.863 1.383 3.502 3.037 4.514 5.129 0.711 1.466 1.129 3.052 1.061 4.778-0.070 1.833-0.56 3.498-1.417 5.045-0.75 1.356-1.84 2.48-2.996 3.53-2.836 2.579-6.1 4.481-9.553 6.091-1.805 0.843-3.62 1.672-5.531 2.257-1.43 0.439-2.87 0.86-4.31 1.262-1.325 0.371-2.654 0.724-3.99 1.052-0.724 0.179-1.463 0.315-2.197 0.431-1.065 0.172-2.139 0.298-3.207 0.464-1.183 0.184-2.362 0.4-3.543 0.595-0.885 0.145-1.777 0.257-2.659 0.423-1.618 0.304-3.231 0.636-4.848 0.956-0.943 0.184-1.889 0.363-2.834 0.552-0.528 0.107-1.052 0.242-1.58 0.346s-1.065 0.241-1.577-0.055c-0.687-0.399-0.918-0.879-0.789-1.641 0.127-0.744 0.728-1.007 1.331-1.163 0.781-0.202 1.592-0.279 2.387-0.426 0.675-0.125 1.346-0.278 2.021-0.408 1.356-0.26 2.727-0.452 4.063-0.78 1.627-0.399 3.245-0.843 4.785-1.541 2.168-0.98 4.389-1.845 6.533-2.874 3.092-1.48 6.147-3.043 9.055-4.869 2.5-1.569 5.029-3.096 7.51-4.69 1.555-1 3.043-2.1 4.216-3.564 0.511-0.637 0.641-1.697 0.139-2.331-0.591-0.744-1.188-1.529-1.942-2.081-1.37-1.003-2.816-1.912-4.296-2.74-2.451-1.369-5.020-2.492-7.658-3.462-1.962-0.72-3.9-1.501-5.868-2.201-2.193-0.78-4.399-1.519-6.616-2.238-1.987-0.643-3.981-1.267-5.991-1.826-2.014-0.563-4.053-1.029-6.077-1.552-1.858-0.478-3.704-0.998-5.565-1.458-1.276-0.316-2.57-0.564-3.854-0.843-1.49-0.322-2.979-0.65-4.472-0.96s-2.988-0.602-4.483-0.898c-1.529-0.301-3.057-0.602-4.589-0.887-0.947-0.177-1.896-0.33-2.846-0.483-1.274-0.208-2.549-0.394-3.822-0.602-1.92-0.316-3.84-0.656-5.762-0.96-0.947-0.149-1.901-0.256-2.855-0.365-1.401-0.157-2.806-0.282-4.208-0.457-1.396-0.172-2.788-0.385-4.181-0.582-0.118-0.015-0.235-0.050-0.354-0.060-1.735-0.149-3.471-0.284-5.207-0.448-1.584-0.149-3.162-0.359-4.748-0.488-3.058-0.249-6.132-0.343-9.175-0.715-3.776-0.462-7.569-0.303-11.348-0.59-2.067-0.157-4.151-0.137-6.224-0.137-12.88 0.001-25.762-0.004-38.644 0.054-3.759 0.015-7.52 0.167-11.272 0.38-4.711 0.268-9.418 0.663-14.127 1.005-2.549 0.184-5.099 0.34-7.644 0.56-1.613 0.139-3.217 0.375-4.827 0.567-0.060 0.006-0.118 0.019-0.179 0.025-1.76 0.165-3.522 0.306-5.281 0.501-1.43 0.157-2.851 0.375-4.275 0.567-0.091 0.011-0.179 0.030-0.27 0.038-1.459 0.166-2.923 0.302-4.379 0.501-2.197 0.301-4.391 0.643-6.585 0.976-1.815 0.274-3.622 0.572-5.436 0.843-1.158 0.174-2.322 0.305-3.478 0.483-0.469 0.074-0.923 0.246-1.396 0.327-1.534 0.261-3.073 0.493-4.606 0.754-0.528 0.092-1.042 0.266-1.569 0.357-1.534 0.262-3.073 0.493-4.61 0.754-0.469 0.081-0.925 0.252-1.396 0.335-1.595 0.28-3.195 0.52-4.788 0.813-1.417 0.261-2.825 0.577-4.24 0.856-1.086 0.214-2.179 0.394-3.263 0.616-0.963 0.196-1.915 0.435-2.876 0.637-0.732 0.153-1.47 0.268-2.203 0.415-2.552 0.513-5.108 1.006-7.649 1.563-1.993 0.436-3.962 0.972-5.948 1.434-1.252 0.291-2.519 0.519-3.778 0.794-1.429 0.31-2.855 0.639-4.282 0.96-1.311 0.296-2.631 0.558-3.929 0.903-2.141 0.567-4.266 1.19-6.399 1.788-1.036 0.291-2.063 0.602-3.106 0.857-1.365 0.331-2.74 0.621-4.112 0.917-0.38 0.083-0.768 0.157-1.155 0.181-1.873 0.108-3.653 0.651-5.438 1.159-0.887 0.251-1.742 0.62-2.627 0.898-0.367 0.115-0.768 0.178-1.154 0.184-1.187 0.019-2.298 0.38-3.422 0.694-0.577 0.163-1.159 0.288-1.739 0.433-1.622 0.401-3.249 0.78-4.863 1.208-2.023 0.535-4.035 1.11-6.051 1.662-2.107 0.577-4.219 1.129-6.321 1.726-1.888 0.534-3.763 1.114-5.646 1.667-1.899 0.554-3.799 1.094-5.701 1.645-1.031 0.298-2.063 0.594-3.092 0.911-1.365 0.423-2.722 0.874-4.084 1.302-1.855 0.582-3.71 1.154-5.563 1.73-1.913 0.595-3.833 1.169-5.739 1.786-2.037 0.661-4.063 1.365-6.094 2.046-2.467 0.825-4.939 1.632-7.401 2.476-2.027 0.696-4.048 1.416-6.055 2.163-2.49 0.928-4.971 1.88-7.447 2.846-2.334 0.911-4.666 1.831-6.987 2.785-2.703 1.11-5.419 2.193-8.072 3.414-3.082 1.417-6.11 2.958-9.146 4.476-1.014 0.508-2.050 1.021-2.954 1.696-2.619 1.957-5.466 3.634-7.645 6.14-1.24 1.426-2.109 3.029-2.509 4.887-0.237 1.114 0.137 2.139 0.434 3.17 0.071 0.246 0.39 0.43 0.616 0.618 0.202 0.168 0.434 0.301 0.715 0.493-0.273 0.286-0.505 0.537-0.825 0.873 0.172 0.167 0.319 0.408 0.528 0.488 0.529 0.208 1.080 0.367 1.634 0.502 2.102 0.513 4.221 0.898 6.386 1.070 1.974 0.157 3.938 0.42 5.909 0.635 0.181 0.019 0.359 0.036 0.541 0.043 4.601 0.143 9.2 0.373 13.802 0.404 7.403 0.050 14.808-0.009 22.209-0.070 3.49-0.030 6.978-0.181 10.468-0.251 2.376-0.050 4.755-0.035 7.132-0.095 2.945-0.076 5.892-0.208 8.837-0.301 4.931-0.155 9.865-0.282 14.794-0.453 3.185-0.111 6.367-0.274 9.552-0.429 4.776-0.233 9.553-0.462 14.328-0.724 3.515-0.193 7.023-0.439 10.536-0.651 0.78-0.046 1.564-0.030 2.345-0.070 2.792-0.142 5.585-0.291 8.379-0.448 1.708-0.095 3.429-0.113 5.122-0.34 2.214-0.296 4.44-0.266 6.659-0.395 1.649-0.098 3.296-0.196 4.942-0.322 2.607-0.197 5.211-0.411 7.815-0.635 0.867-0.074 0.867-0.119 1.133-0.991 0.543-1.763 1.129-3.515 1.667-5.276 0.434-1.423 0.809-2.865 1.248-4.29 0.452-1.458 0.96-2.899 1.422-4.352 0.298-0.936 0.556-1.888 0.834-2.832 0.319-1.084 0.643-2.167 0.956-3.254 0.097-0.34 0.157-0.687 0.25-1.096-0.374-0.092-0.71-0.113-0.987-0.254-1.316-0.66-1.742-1.713-0.684-3.168 0.598-0.825 1.529-1.241 2.456-1.567 0.662-0.233 0.972-0.619 1.232-1.265 0.72-1.791 1.548-3.541 2.347-5.3 0.108-0.237 0.27-0.478 0.47-0.635 0.191-0.149 0.528-0.322 0.689-0.246 0.226 0.104 0.48 0.429 0.483 0.664 0.011 0.651-0.075 1.311-0.167 1.963-0.078 0.558-0.221 1.107-0.331 1.662-0.095 0.483-0.189 0.968-0.31 1.584 0.424-0.038 0.715-0.034 0.991-0.094 2.076-0.46 4.151-0.931 6.225-1.406 1.396-0.321 2.781-0.69 4.184-0.976 1.583-0.322 3.181-0.572 4.772-0.863 1.622-0.296 3.244-0.613 4.867-0.903 1.273-0.226 2.554-0.411 3.827-0.637 1.859-0.329 3.709-0.696 5.571-1.012 1.831-0.31 3.674-0.567 5.508-0.867 1.123-0.184 2.238-0.411 3.358-0.605 0.798-0.137 1.601-0.252 2.403-0.363 1.159-0.161 2.327-0.296 3.484-0.464 1.248-0.181 2.491-0.39 3.74-0.572 1.49-0.216 2.979-0.404 4.467-0.626 1.332-0.197 2.663-0.434 3.995-0.635 0.918-0.139 1.84-0.262 2.764-0.371 1.459-0.172 2.919-0.327 4.378-0.491 1.697-0.19 3.398-0.383 5.096-0.577 0.090-0.011 0.178-0.034 0.268-0.040 3.714-0.25 7.422-0.644 11.161-0.497 1.316 0.052 2.797 1.188 2.885 2.772 0.010 0.21 0.055 0.42 0.038 0.631-0.153 1.786 0.502 3.401 1.115 5.013 0.39 1.025 0.951 1.987 1.316 3.019 0.394 1.117 1.161 1.938 1.92 2.776 0.549 0.607 0.895 1.262 0.813 2.101-0.132 1.336 0.404 2.516 0.887 3.705 0.474 1.159 0.961 2.317 1.425 3.48 0.96 2.406 1.933 4.806 2.846 7.23 0.696 1.845 1.301 3.723 1.966 5.581 0.598 1.683 1.235 3.352 1.828 5.036 0.533 1.515 1.014 3.050 1.534 4.57 0.591 1.726 1.214 3.438 1.795 5.168 0.464 1.381 0.878 2.78 1.325 4.168 0.247 0.765 0.518 1.522 0.769 2.286 0.616 1.904 1.223 3.812 1.836 5.717 0.558 1.73 1.142 3.447 1.676 5.183 0.464 1.509 0.869 3.036 1.32 4.55 0.408 1.375 0.853 2.74 1.262 4.116 0.486 1.63 0.938 3.269 1.428 4.898 0.454 1.51 0.963 3.007 1.401 4.526 0.666 2.298 1.281 4.611 1.933 6.912 0.582 2.037 1.207 4.058 1.774 6.096 0.448 1.606 0.82 3.235 1.257 4.846 0.375 1.385 0.813 2.752 1.199 4.137 0.499 1.784 0.955 3.58 1.466 5.36 0.433 1.515 0.935 3.010 1.37 4.526 0.305 1.063 0.528 2.149 0.822 3.216 0.387 1.414 0.805 2.82 1.214 4.226 0.34 1.175 0.684 2.348 1.031 3.521 0.473 1.599 0.957 3.195 1.42 4.797 0.274 0.947 0.502 1.908 0.777 2.854 0.497 1.693 1.017 3.377 1.518 5.069 0.272 0.916 0.515 1.84 0.785 2.757 0.301 1.026 0.616 2.050 0.923 3.075 0.331 1.11 0.647 2.228 1 3.332 0.545 1.708 1.109 3.413 1.672 5.113 0.291 0.877 0.606 1.745 0.897 2.622 0.289 0.874 0.549 1.758 0.843 2.628 0.478 1.409 0.942 2.821 1.469 4.211 1.070 2.82 2.185 5.621 3.274 8.433 1.208 3.113 2.584 6.152 4.154 9.101 0.642 1.206 1.297 2.405 1.959 3.599 0.61 1.101 0.923 2.243 0.825 3.531-0.137 1.81-2.125 3.658-3.916 3.697-2.027 0.043-3.452-0.839-4.404-2.521-0.911-1.606-1.762-3.247-2.577-4.902-0.916-1.863-1.8-3.747-2.628-5.651-0.606-1.394-1.094-2.837-1.641-4.257-0.675-1.748-1.325-3.508-2.050-5.234-0.261-0.618-0.684-1.183-1.094-1.723-0.39-0.514-0.635-0.991-0.319-1.646 0.101-0.209 0.068-0.537-0.012-0.773-0.533-1.583-1.11-3.147-1.641-4.729-0.311-0.932-0.548-1.889-0.834-2.831-0.251-0.825-0.533-1.644-0.789-2.469-0.502-1.598-0.993-3.197-1.49-4.797-0.598-1.933-1.223-3.861-1.786-5.808-0.448-1.545-0.817-3.113-1.239-4.666-0.265-0.981-0.574-1.952-0.839-2.932-0.497-1.849-0.967-3.704-1.466-5.553-0.241-0.893-0.539-1.77-0.781-2.659-0.483-1.784-0.937-3.573-1.414-5.356-0.387-1.443-0.804-2.878-1.19-4.32-0.503-1.873-0.976-3.754-1.488-5.625-0.553-2.041-1.159-4.067-1.697-6.113-0.582-2.198-1.084-4.417-1.67-6.613-0.42-1.583-0.932-3.141-1.38-4.716-0.291-1.034-0.533-2.080-0.814-3.118-0.488-1.784-0.995-3.562-1.484-5.344-0.263-0.955-0.505-1.913-0.769-2.868-0.319-1.15-0.649-2.298-0.972-3.451-0.437-1.548-0.861-3.101-1.312-4.646-0.433-1.487-0.905-2.963-1.341-4.449-0.315-1.063-0.586-2.139-0.902-3.202-0.577-1.948-1.183-3.883-1.751-5.83-0.567-1.942-1.080-3.902-1.657-5.843-0.426-1.435-0.928-2.846-1.38-4.275-0.305-0.965-0.579-1.941-0.874-2.91-0.528-1.734-1.060-3.47-1.592-5.203-0.553-1.799-1.1-3.6-1.668-5.393-0.505-1.592-1.045-3.169-1.548-4.76-0.288-0.907-0.522-1.831-0.815-2.74-0.448-1.386-0.921-2.766-1.386-4.147-0.563-1.672-1.125-3.343-1.7-5.011-0.35-1.011-0.728-2.011-1.082-3.019-0.541-1.548-1.065-3.1-1.608-4.645-0.464-1.326-0.971-2.638-1.415-3.972-0.49-1.469-0.937-2.954-1.386-4.434-0.123-0.399-0.188-0.822-0.829-0.53 0-0.404-0.002-0.668 0-0.932 0.010-1.114-0.642-1.865-1.775-1.968-0.505-0.046-1.019-0.006-1.596-0.006-0.108-0.57-0.514-0.663-1.048-0.619-2.515 0.208-5.031 0.391-7.546 0.584-0.029 0.001-0.060 0.006-0.090 0.008-1.942 0.167-3.887 0.306-5.827 0.509-1.463 0.153-2.914 0.399-4.374 0.586-2.385 0.305-4.774 0.588-7.158 0.902-1.548 0.204-3.092 0.453-4.637 0.675-0.918 0.132-1.84 0.261-2.764 0.375-1.281 0.16-2.565 0.291-3.843 0.46-1.098 0.144-2.194 0.315-3.288 0.49-1.094 0.177-2.184 0.371-3.279 0.552-1.361 0.226-2.72 0.445-4.079 0.661-0.887 0.139-1.78 0.27-2.671 0.404-2.644 0.4-5.292 0.78-7.934 1.208-2.042 0.331-4.073 0.721-6.11 1.084-1.619 0.288-3.244 0.554-4.858 0.873-1.407 0.278-2.802 0.621-4.205 0.918-0.819 0.177-1.641 0.347-2.469 0.471-0.542 0.083-0.862 0.333-0.997 0.867-0.483 1.906-0.963 3.812-1.476 5.71-0.452 1.677-0.956 3.337-1.416 5.011-0.294 1.064-0.546 2.139-0.833 3.202-0.319 1.178-0.671 2.343-0.987 3.521-0.319 1.178-0.6 2.367-0.917 3.543-0.17 0.633-0.383 1.252-0.567 1.882-0.055 0.193-0.078 0.397-0.123 0.626 0.149 0.059 0.256 0.139 0.362 0.137 1.41-0.059 2.821-0.123 4.228-0.197 0.869-0.046 1.74-0.107 2.61-0.172 3.029-0.226 6.055-0.46 9.083-0.685 0.75-0.055 1.503-0.071 2.254-0.119 2.101-0.135 4.201-0.279 6.302-0.411 2.339-0.149 4.68-0.294 7.021-0.431 2.193-0.128 4.383-0.245 6.573-0.367 2.131-0.119 4.263-0.214 6.395-0.359 2.636-0.181 5.268-0.404 7.904-0.598 0.509-0.038 1.021-0.034 1.534-0.058 3.093-0.145 6.189-0.258 9.279-0.46 1.098-0.074 2.18-0.366 3.269-0.558 0.649-0.115 1.301-0.226 1.95-0.35 2.209-0.423 4.423-0.849 6.633-1.277 1.704-0.331 3.421-0.621 5.108-1.025 1.859-0.448 3.491 1.089 3.313 2.638-0.113 0.981-0.656 1.649-1.522 2.048-0.404 0.185-0.856 0.282-1.296 0.367-2.242 0.429-4.491 0.827-6.732 1.262-1.676 0.325-3.339 0.704-5.014 1.032-1.526 0.301-3.064 0.543-4.588 0.849-1.32 0.266-2.628 0.579-3.941 0.869-0.7 0.156-1.405 0.315-2.107 0.46-1.969 0.411-3.938 0.809-5.904 1.226-1.024 0.217-2.041 0.472-3.063 0.696-0.673 0.148-1.346 0.298-2.026 0.399-1.154 0.172-2.317 0.305-3.475 0.457-1.189 0.155-2.377 0.315-3.565 0.469-0.684 0.089-1.369 0.167-2.051 0.27-1.361 0.202-2.717 0.416-4.075 0.626-0.089 0.014-0.178 0.031-0.268 0.042-1.311 0.147-2.624 0.286-3.932 0.441-1.522 0.181-3.040 0.386-4.562 0.558-0.806 0.092-1.618 0.137-2.427 0.193-2.16 0.153-4.322 0.278-6.48 0.457-2.122 0.177-4.24 0.411-6.363 0.612-0.448 0.043-0.902 0.032-1.352 0.059-2.821 0.167-5.642 0.327-8.463 0.509-0.958 0.060-1.911 0.185-2.868 0.257-0.42 0.032-0.661 0.231-0.773 0.621-0.238 0.829-0.469 1.657-0.715 2.486-0.635 2.149-1.28 4.294-1.909 6.441-0.285 0.972-0.528 1.957-0.817 2.925-0.437 1.454-0.909 2.899-1.349 4.351-0.294 0.971-0.548 1.952-0.843 2.923-0.469 1.548-0.96 3.084-1.438 4.627-0.282 0.911-0.555 1.824-0.839 2.731-0.469 1.507-0.951 3.012-1.418 4.517-0.282 0.914-0.53 1.839-0.825 2.748-0.472 1.45-0.981 2.887-1.456 4.339-0.296 0.904-0.554 1.82-0.843 2.727-0.449 1.414-0.917 2.82-1.361 4.236-0.296 0.94-0.546 1.893-0.843 2.831-0.464 1.459-0.951 2.904-1.426 4.359-0.296 0.906-0.582 1.819-0.882 2.723-0.469 1.409-0.956 2.81-1.417 4.22-0.278 0.849-0.518 1.711-0.79 2.564-0.474 1.479-0.968 2.954-1.442 4.435-0.301 0.937-0.565 1.887-0.867 2.825-0.454 1.417-0.934 2.829-1.386 4.245-0.291 0.911-0.534 1.836-0.829 2.743-0.464 1.421-0.963 2.834-1.43 4.252-0.301 0.906-0.567 1.824-0.859 2.731-0.464 1.443-0.942 2.88-1.4 4.325-0.279 0.88-0.522 1.774-0.798 2.654-0.484 1.543-0.987 3.077-1.475 4.619-0.286 0.911-0.549 1.828-0.843 2.736-0.457 1.411-0.946 2.81-1.397 4.226-0.29 0.908-0.522 1.834-0.804 2.743-0.478 1.545-0.976 3.082-1.463 4.626-0.286 0.911-0.567 1.822-0.851 2.731-0.291 0.935-0.577 1.871-0.869 2.805-0.436 1.388-0.874 2.776-1.316 4.163-0.444 1.397-0.891 2.793-1.333 4.192-0.34 1.080-0.666 2.167-1.017 3.247-0.457 1.413-0.942 2.816-1.391 4.228-0.288 0.911-0.518 1.836-0.806 2.747-0.478 1.507-1 3.003-1.475 4.512-0.305 0.963-0.532 1.952-0.843 2.914-0.411 1.269-0.867 2.524-1.312 3.782-0.268 0.754-0.542 1.509-0.839 2.254-0.165 0.415-0.38 0.808-0.573 1.214h-0.902z"></path>
        </svg>

    if (icon === 'eye')
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
        <path fill="#000" d="M485.546 252.825c-0.144-0.605-0.058-1.252-0.288-1.843-0.087-0.245-0.303-0.375-0.389-0.605-0.144-0.345-0.115-0.734-0.303-1.065-41.757-79.928-132.656-137.192-228.552-137.192-95.911 0-186.796 57.178-228.581 137.091-0.187 0.331-0.159 0.72-0.302 1.065-0.101 0.231-0.302 0.36-0.389 0.605-0.23 0.59-0.144 1.238-0.288 1.843-0.259 1.080-0.504 2.117-0.504 3.226s0.259 2.131 0.504 3.226c0.144 0.604 0.058 1.252 0.288 1.843 0.087 0.245 0.302 0.375 0.389 0.604 0.144 0.346 0.115 0.735 0.302 1.065 41.771 79.928 132.671 137.192 228.581 137.192 95.896 0 186.796-57.178 228.552-137.091 0.202-0.331 0.173-0.72 0.303-1.065 0.087-0.231 0.303-0.36 0.389-0.604 0.231-0.591 0.144-1.238 0.288-1.843 0.245-1.094 0.504-2.131 0.504-3.226s-0.259-2.145-0.504-3.226zM256 371.068c-80.85 0-160-45.947-199.438-115.118 39.654-69.258 118.69-115.046 199.438-115.046 80.82 0 159.985 45.961 199.423 115.118-39.654 69.272-118.675 115.046-199.423 115.046zM256 198.441c3.974 0 7.171 3.211 7.171 7.2 0 3.959-3.211 7.185-7.171 7.185v0.014c-23.815 0-43.182 19.367-43.182 43.153 0 3.974-3.226 7.2-7.185 7.2-3.974 0-7.2-3.226-7.2-7.2 0-31.75 25.731-57.48 57.48-57.537 0.029 0 0.058-0.014 0.087-0.014zM255.669 155.259c-55.68 0-100.792 45.126-100.792 100.792s45.126 100.791 100.791 100.791c55.651 0 100.791-45.14 100.791-100.791 0-55.68-45.14-100.791-100.791-100.791zM255.669 342.443c-47.645 0-86.393-38.747-86.393-86.393s38.747-86.393 86.393-86.393c47.645 0 86.393 38.747 86.393 86.393s-38.747 86.393-86.393 86.393z"></path>
        </svg>


    if (icon === 'shark')
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
        <path d="M130 318.477c2.179-4.26 4.64-10.213 6.917-17.039 6.102-18.294 9.83-39.199 9.83-60.488 0-50.514-7.655-88.587-32.567-140.29-13.034-27.049-3.589-61.641 30.046-61.641 35.715 0 100.678 42.243 138.995 80.472 78.060 77.877 121.502 142.845 121.909 225.979 0.053 10.868-7.933 20.103-18.693 21.617-4.149 0.584-8.26 0.813-12.659 0.813-16.137 0-33.421-4.471-48.137-13.464-14.716 8.991-32 13.464-48.137 13.464s-33.421-4.471-48.137-13.464c-14.716 8.991-32 13.464-48.137 13.464-1.459 0-2.8 0.060-5.595 0.229-6.057 0.367-8.604 0.44-12.564 0.128-12.666-0.995-23.666-6.373-34.343-17.238-9.088-9.25-7.681-23.035 0.388-30.893 0.257-0.459 0.555-1.016 0.881-1.652zM154.601 84.48c26.925 56.671 35.593 100.639 35.593 156.47 0 29.264-6.124 60.829-15.556 83.719 2.658-0.15 4.42-0.212 6.596-0.212 11.427 0 24.696-4.625 32.641-12.712 8.515-8.666 22.479-8.666 30.994 0 7.942 8.084 21.214 12.712 32.641 12.712s24.696-4.625 32.64-12.712c8.515-8.666 22.479-8.666 30.994 0 4.85 4.938 11.689 8.584 18.879 10.678-8.096-57.995-45.49-110.32-107.485-172.172-26.347-26.284-72.607-57.629-97.933-65.772zM120.832 472.981c-28.499 0-60.009-9.393-81.85-28.411-9.047-7.879-9.995-21.601-2.117-30.649s21.602-9.995 30.649-2.117c13.011 11.329 34.487 17.731 53.318 17.731s40.31-6.402 53.318-17.731c8.178-7.12 20.355-7.12 28.532 0 13.011 11.329 34.488 17.731 53.318 17.731s40.31-6.402 53.318-17.731c8.178-7.12 20.355-7.12 28.532 0 13.010 11.329 34.488 17.731 53.318 17.731s40.31-6.402 53.318-17.731c9.047-7.879 22.77-6.93 30.649 2.117s6.93 22.77-2.117 30.649c-21.841 19.019-53.351 28.411-81.85 28.411-22.762 0-47.443-5.993-67.584-18.092-20.144 12.102-44.825 18.092-67.584 18.092s-47.443-5.993-67.584-18.092c-20.143 12.102-44.826 18.092-67.584 18.092z"></path>
        </svg>

mixin scripts(share)
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Rubik:400,500,700', media='all')

    -if (!prod)
        link(rel='stylesheet', href='styles/header_global.css?t=' + time, media='all')

    link(rel='stylesheet', href='styles/main_global.css?t=' + time, media='all')

    - if (share)
        script(src='//platform-api.sharethis.com/js/sharethis.js#property=5a748f426507d000137b57b6&product=custom-share-buttons')
    - if (prod)
        script(src='js/main.min.js?t=' + time)
    - else
        script(src='js/jquery1.10.js?t=' + time)
        script(src='js/auto-complete.js?t=' + time)
        script(src='js/jquery.validationEngine.js?t=' + time)
        script(src='js/jquery.validationEngine-ru.js?t=' + time)
        script(src='js/slick.js?t=' + time)
        script(src='js/jquery.sticky-kit.min.js?t=' + time)
        script(src='js/script.js?t=' + time)
