include mixins.pug
doctype html
html(lang='ru')
    +dev_head('Crypto главная')

    body.no_transition
        .wrapper
            .main_content
                .section_inner
                    +top_info()

                    ul.bread_crumbs
                        li: a.crumb_link(href='#') Cryptocomes
                        li: a.crumb_link(href='#') CryptoEvents

                    .article_container
                        .article_date._event._mt_5 21 MARCH - 24 MARCH

                        .article_caption Chinese Conglomerate Fosun to Invest $3.2 Bln in AI, Biotech, Fintech

                        ul.article_stat
                            li
                                span.article_stat_val Zurich Switzerland
                            li
                                span.article_stat_val._stat_views 212

                        figure
                            .article_img
                                a.article_img_link(href='#'): img(src='i/article_new.jpg')

                        .article_lead._event Fosun is planning to invest 100 bln Yuan($16 bln) in AI, biotech and fintech areas over next decade.

                        p Fosun is planning to invest 100 bln Yuan ($16 bln) in&nbsp;
                            a(href='#') Artificial Intelligence
                            | , biotech and fintech areas over next decade. The company’s main focus will be India and Africa and Portuguese-speaking markets

                        p Fosun is planning to invest 100 bln Yuan ($16 bln) in&nbsp;
                            a(href='#') Artificial Intelligence
                            | , biotech and fintech areas over next decade. The company’s main focus will be India and Africa and Portuguese-speaking markets

                        p Fosun is planning to invest 100 bln Yuan ($16 bln) in&nbsp;
                            a(href='#') Artificial Intelligence
                            | , biotech and fintech areas over next decade.

                        .article_info_holder
                            dl.article_info
                                dt Company:
                                dd CocaCola

                                dt Website:
                                dd
                                    a.gl_link(href='#') https://cocacola.com

                                dt Сontacts:
                                dd Leah Callon-Butler Chief Impact Officer leah@intimate.io

                        p
                            a.btn_v4.subscribe_btn._tw(href='#')
                                span follow US on TWITTER

                    a.btn_v4.comment_btn(href='#') Click to leave your comment

            .nav_holder
                +header()
                +main_menu()
                +search()

            +footer(false, true)

        +scripts()
