include mixins.pug
doctype html
html(lang='ru')
    +dev_head('Crypto главная')

    body.no_transition
        .wrapper
            .main_content
                .section_inner
                    +top_info(true)

                    ul.bread_crumbs
                        li: a.crumb_link(href='#') Cryptocomes
                        li: a.crumb_link(href='#') Press releases
                    
                    h1.block_title._submit Submit your Press release

                    .article_container._fz_14
                        p Мы предлагаем две опции для публикации вашего пресс-релиза

                        ul
                            li Стандартное бесплатное размещение
                            li Премиум размещение за $200, дающее максимальный охват и дополнительные опции для продвижения

                    form.validateMe(action='#' data-prompts='true')
                        .new_release_form
                            .new_release_form_caption 1. Press release content
                            .form_cell
                                label.label_v2(for='release_title')
                                    span Title
                                    span._required &nbsp;*
                                .input_w
                                    input#release_title.input_v3
                            .form_cell
                                label.label_v2(for='release_description')
                                    span Description
                                    span._required &nbsp;*
                                .input_w
                                    input#release_description.input_v3
                            .form_cell
                                label.label_v2(for='release_content')
                                    span Content
                                    span._required &nbsp;*
                                .input_w
                                    textarea#release_content.input_v3
                                    
                        .new_release_form
                            .new_release_form_caption 2. Contacts
                            .form_cell
                                label.label_v2(for='release_company_name')
                                    span Organization Name
                                    span._required &nbsp;*
                                .input_w
                                    input#release_company_name.input_v3
                            .form_cell
                                label.label_v2(for='release_company_site')
                                    span Website
                                    span._required &nbsp;*
                                .input_w
                                    input#release_company_site.input_v3
                            .form_cell
                                label.label_v2(for='release_company_email')
                                    span Your Email
                                    span._required &nbsp;* (invisible on site)
                                .input_w
                                    input#release_company_email.input_v3
                            .form_cell
                                label.label_v2(for='release_company_user')
                                    span Your Name
                                    span._required &nbsp;* (invisible on site)
                                .input_w
                                    input#release_company_user.input_v3

                        .new_release_form
                            .new_release_form_caption 3. Additional contacts (premium option)
                            .form_cell
                                label.label_v2(for='release_additional_contacts') Additional contacts
                                .input_w
                                    textarea#release_additional_contacts.input_v3._h_90
                            .form_cell
                                label.label_v2(for='release_contact_twitter') Twitter
                                .input_w
                                    input#release_contact_twitter.input_v3
                            .form_cell
                                label.label_v2(for='release_contact_facebook') Facebook
                                .input_w
                                    input#release_contact_facebook.input_v3
                            .form_cell
                                label.label_v2(for='release_contact_telegram') Telegram
                                .input_w
                                    input#release_contact_telegram.input_v3
                            .form_cell
                                label.label_v2(for='release_contact_linkedin') LinkedIn
                                .input_w
                                    input#release_contact_linkedin.input_v3
                            .form_cell
                                label.label_v2(for='release_contact_reddit') Reddit
                                .input_w
                                    input#release_contact_reddit.input_v3
                            .form_cell
                                label.label_v2(for='release_contact_medium') Medium
                                .input_w
                                    input#release_contact_medium.input_v3
                            .form_cell
                                label.label_v2(for='release_company_steemit') Steemit
                                .input_w
                                    input#release_company_steemit.input_v3
                            .form_cell
                                label.label_v2(for='release_company_google') Google+
                                .input_w
                                    input#release_company_google.input_v3
                            .form_cell
                                label.label_v2(for='release_company_youtube') Youtube
                                .input_w
                                    input#release_company_youtube.input_v3
                            .form_cell
                                label.label_v2(for='release_company_github') Github
                                .input_w
                                    input#release_company_github.input_v3
                            .form_cell
                                label.label_v2(for='release_company_other') Other
                                .input_w
                                    input#release_company_other.input_v3

                        .new_release_form
                            .new_release_form_caption 4. Advantages of premium version
                            .form_cell
                                label.checkbox_v1
                                    input.hide(type='checkbox')
                                    span.check_text: span.mb Post a press-release in our social media (facebook, twitter, telegram..)
                                    
                            .form_cell
                                label.checkbox_v1
                                    input.hide(type='checkbox')
                                    span.check_text: span.mb Make unique picture

                                .form_upload_block
                                    p
                                        b Upload a picture or your logo
                                    .input_w
                                        label.btn_v1.upload_btn.btn_violette_2: span ATTACH FILE
                                            input#release_files.hide(type='file')

                                    p.clr_gray Мы нарисуем отличную картинку  основываясь на вашем лого. Либо пришлите нам готовую
                                    
                            .form_cell
                                label.checkbox_v1
                                    input.hide(type='checkbox')
                                    span.check_text: span.mb Permament link with “dofollow” to site
                                    
                            .form_cell
                                label.checkbox_v1
                                    input.hide(type='checkbox')
                                    span.check_text: span.mb Special placement on a homepage and in top of the category

                            .form_cell
                                label.checkbox_v1
                                    input.hide(type='checkbox')
                                    span.check_text: span.mb Schedule publication date and time

                                .form_upload_block
                                    .input_w
                                        input#release_publication_date.input_v3
                            
                        .release_summary
                            .form_cell
                                a.btn_v1.btn_violette_4.create_release_btn(href='#'): span SUBMIT FREE PRESS RELEASE
                            .form_cell
                                button.btn_v1.btn_violette_2.create_release_btn: span SUBMIT PAID PRESS RELEASE $200
                                
                        .article_container._fz_12
                            p Having sent your premium press release, proceed to the payment by opening a new tab. <br>The press release will be published only after receiving the transferred payment.

                            p CryptoComes has a right to refuse to publish your press release at any stage offering you a refund if and when it was paid for. Feel free to ask anything: #[a(href='mailto: partners@cryptocomes.com') partners@cryptocomes.com] 

            .nav_holder
                +header()
                +main_menu()
                +search()

            +footer(false, true)

        +scripts()
