include mixins.pug
doctype html
html(lang='ru')
    +dev_head('Crypto главная')

    body.no_transition
        .wrapper
            .main_content
                .section_inner
                    +top_info()

                    .new_release_holder
                        h2 Submit a Events
                        p Share your press release with our readers. It will appear at the top of the Home Page in Press releases section. Readers are also able to access Press Releases in our catalog. We publish Press releases only after the payment has been cleared and an editor reviewed the text.

                    .new_release_form
                        form(action='#')
                            .form_cell
                                label.label_v2(for='event_title') Title
                                .input_w
                                    input#event_title.input_v3
                            .form_cell
                                label.label_v2(for='event_description') Description
                                .input_w
                                    input#event_description.input_v3
                            .form_cell
                                label.label_v2(for='event_content') Content
                                .input_w
                                    textarea#event_content.input_v3
                            .form_group
                                .form_cell
                                    .form_group
                                        .form_cell
                                            label.label_v2(for='event_date_start')
                                                span Date&nbsp;
                                                span.clr_gray — start
                                            .input_w
                                                input#event_date_start.input_v3(data-inputmask="'alias': 'mm.dd.yyyy', 'placeholder': 'MM.DD.YYYY', 'clearIncomplete': 'true'")
                                        .form_cell
                                            label.label_v2(for='event_date_end')
                                                span Date&nbsp;
                                                span.clr_gray — end
                                            .input_w
                                                input#event_date_end.input_v3(data-inputmask="'alias': 'mm.dd.yyyy', 'placeholder': 'MM.DD.YYYY', 'clearIncomplete': 'true'")
                                .form_cell
                                    label.label_v2(for='event_site') Site
                                    .input_w
                                        input#event_site.input_v3
                            .form_group
                                .form_cell
                                    label.label_v2(for='event_countries') Countries
                                    .input_w
                                        input#event_countries.input_v3.completeLocation(data-url='./data/countries.json')
                                .form_cell
                                    label.label_v2(for='event_cities') Cities
                                    .input_w
                                        input#event_cities.input_v3.completeLocation(data-url='./data/cities.json')
                            .form_cell
                                label.label_v2(for='release_files')
                                    span File Upload Image/logo Upload
                                    span.clr_gray &nbsp;— min 720x480, max 1mb
                                .input_w
                                    label.btn_v4.upload_btn.gray_btn_2: span Select file
                                        input#release_files.hide(type='file')
                            .form_group
                                .form_cell
                                    label.label_v2(for='event_author_email') Your Email
                                    .input_w
                                        input#event_author_email.input_v3.success
                                .form_cell
                                    label.label_v2(for='event_author_name') Your Name
                                    .input_w
                                        input#event_author_name.input_v3.error

                            .release_summary
                                .form_group
                                    .form_cell
                                        button.btn_v4.btn_violette_2.create_release_btn: span Submit events

            .nav_holder
                +header()
                +main_menu()
                +search()

            +footer()

        +scripts()
