include mixins.pug
doctype html
html(lang='ru')
    +dev_head('Crypto главная')

    body.no_transition
        .wrapper
            .main_content
                .section_inner
                    +top_info(true)

                    h1.block_title Submit your Press Release

                    .new_release_form
                        form.validateMe(action='#' data-prompts='true')
                            .form_cell
                                label.label_v2(for='release_title') Title
                                .input_w
                                    input#release_title.input_v3(class='validate[required]')
                            .form_cell
                                label.label_v2(for='release_content') Content
                                .input_w
                                    textarea#release_content.input_v3(class='validate[required]')
                            .form_group
                                .form_cell
                                    label.label_v2(for='release_company_name') Company name
                                    .input_w
                                        input#release_company_name.input_v3(class='validate[required]')
                                .form_cell
                                    label.label_v2(for='release_company_site') Company site
                                    .input_w
                                        input#release_company_site.input_v3(class='validate[required]')
                            .form_cell
                                label.label_v2(for='release_contacts') Contacts
                                .input_w
                                    input#release_contacts.input_v3(disabled='disabled')
                            //-.form_cell
                                label.label_v2(for='release_files')
                                    span File Upload Image/logo Upload
                                    span.clr_gray &nbsp;— min 720x480, max 1mb
                                .input_w
                                    label.btn_v4.upload_btn.gray_btn_2: span Select file
                                        input#release_files.hide(type='file')
                            //.form_cell
                                label.label_v2(for='release_time') Publication time
                                .input_w
                                    input#release_time.input_v3.success
                            //.form_cell
                                label.label_v2(for='release_email') Your Email
                                .input_w
                                    input#release_email.input_v3.error

                            .form_cell
                                button.btn_v4.btn_violette_2.create_release_btn: span Submit press release

                            .release_summary
                                p Footer form desctiption some text with some words. The company’s main focus will be India and Africa and Portuguese-speaking markets

                                //.form_cell
                                    p
                                        span.clr_gray The price per release is&nbsp;
                                        span 0.8 BTC
                                    span._hash 1ECGUKEosEhaZnywCVxw6e1VUcPRqGkhvd


            .nav_holder
                +header()
                +main_menu()
                +search()

            +footer(false, true)

        +scripts()
