include mixins.pug
doctype html
html(lang='ru')
    +dev_head('Crypto price')

    body.no_transition
        .wrapper
            .main_content
                .section_inner
                    +top_info()

                    .attention_block._warn
                        p Indonesia Central Bank: Cryptocurrency Payments 'Not Legitimate'

                    .stat_holder
                        .stat_holder_title
                            span.clr_violette._fw_b Coins

                            ul.stat_holder_controls
                                li: a.stat_link(href='#') Monthly
                                li: a.stat_link._active(href='#') Daily

                        dl.stat_list
                            dt
                                a.stat_item(href='#')
                                    span Bitcoin
                                    span._abbr BTC
                            dd
                                span.clr_green +8.29%

                            dt
                                a.stat_item(href='#')
                                    span Ethereum
                                    span._abbr ETH
                            dd
                                span.clr_green +6.12%

                            dt
                                a.stat_item(href='#')
                                    span Ripple
                                    span._abbr XRP
                            dd
                                span.clr_green +8.29%

                            dt
                                a.stat_item(href='#')
                                    span Bitcoin Cash
                                    span._abbr BHC
                            dd
                                span.clr_green +6.12%

                            dt
                                a.stat_item(href='#')
                                    span Litecoin
                                    span._abbr LTC
                            dd
                                span.clr_green +8.29%

                            dt
                                a.stat_item(href='#')
                                    span NEO
                                    span._abbr NEO
                            dd
                                span.clr_green +6.12%

                            dt
                                a.stat_item(href='#')
                                    span Cardano
                                    span._abbr ADA
                            dd
                                span.clr_green +8.29%

                            dt
                                a.stat_item(href='#')
                                    span Stellar
                                    span._abbr XLM
                            dd
                                span.clr_green +6.12%

                            dt
                                a.stat_item(href='#')
                                    span EOS
                                    span._abbr EOS
                            dd
                                span.clr_green +8.29%

                            dt
                                a.stat_item(href='#')
                                    span IOTA
                                    span._abbr MIOTA
                            dd
                                span.clr_green +6.12%

                        p
                            a.stat_item._more(href='#') More coins

                    //-.stat_holder
                        .stat_holder_title
                            span.clr_violette._fw_b Crypto Converter
                        form(action='#')
                            .form_cell
                                label.label_v1(for='xchange_give') I give
                                .input_w._has_currency
                                    input#xchange_give.input_v2(placeholder='')
                                    .stat_currency BTC
                            .form_cell
                                label.label_v1(for='xchange_get') I get
                                .input_w._has_currency
                                    input#xchange_get.input_v2(placeholder='')
                                    .stat_currency: .stat_select_w
                                        select.stat_select
                                            option USD
                                            option UAH
                                            option RUB
                                        .select_arrow

                    .stat_widget_holder
                        +widget_converter()

                    .stat_caption Bitcoin Price Index

                    .stat_widget_holder
                        +widget_summary()

                    h3.stat_label Share bitcoin price now

                    ul.action_soc._brand
                        li: a.action_sh._f(href='#' data-network="facebook" class='st-custom-button')
                        li: a.action_sh._t(href='#' data-network="twitter" class='st-custom-button')
                        li: a.action_sh._i(href='#' data-network="instagram" class='st-custom-button')
                        li: a.action_sh._rd(href='#' data-network="reddit" class='st-custom-button')
                        li: a.action_sh._tg(href='#')

                    .stat_widget_holder
                        +widget_chart()

                    .stat_widget_holder
                        +widget_history()

                    .related_title._stories Related Articles and News

                    ul.news_list._related._stories
                        +loop_while(3)
                            li
                                .news_item
                                    .news_date 2 min<br>ago
                                    a.news_name(href='#') Russia's Sberbank Has Launched&nbsp;a&nbsp;Blockchain Lab

                            li
                                .news_item
                                    .news_date 1 hr<br>ago
                                    a.news_name(href='#') PBoC Official Calls for Wider Ban on Chinese Crypto Trading

                    .comments_block

            .nav_holder
                +header()
                +main_menu(true)
                +search()

            +footer()

        +scripts(true)
