include mixins.pug
doctype html
html(lang='ru')
    +dev_head('Crypto success')

    body.no_transition
        .wrapper
            .main_content
                .section_inner
                    +top_info(true)

                    .msg_block.subscribe_success
                        h2.block_title Press release was submitted succesfully!

                        .subscribe_success_msg

                        p We have accepted your press release for publication on the CryptoComes website.

                        p It will be published in the nearest time possible. Please note that this service should be paid for in advance

                        p
                            a.gl_link(href='#') Back to events

            .nav_holder
                +main_menu(true)
                +search()

            +header()
            +footer(false, true)

        +scripts(true)
