include mixins.pug
doctype html
html(lang='ru')
    +dev_head('Crypto success')

    body.no_transition
        .wrapper
            .main_content
                .section_inner
                    +top_info()

                        .attention_block._warn
                            p Indonesia Central Bank: Cryptocurrency Payments 'Not Legitimate'

                    .msg_block
                        .msg_title Success!

                        p We have accepted your press release for publication on the<br>CryptoComes website.<br>It will be published in the nearest time possible. Please note that this service should be paid for in advance

                        .msg_status._success
                        p
                            a.msg_link(href='#') BACK TO EVENTS

            .nav_holder
                +main_menu(true)
                +search()

            +header()
            +footer()

        +scripts(true)
