@font-face {
  font-family: 'crypto_icons';
  src:  url('fonts/crypto_icons.eot?3rb3es');
  src:  url('fonts/crypto_icons.eot?3rb3es#iefix') format('embedded-opentype'),
    url('fonts/crypto_icons.ttf?3rb3es') format('truetype'),
    url('fonts/crypto_icons.woff?3rb3es') format('woff'),
    url('fonts/crypto_icons.svg?3rb3es#crypto_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'crypto_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-btc:before {
  content: "\e943";
}
.icon-chain:before {
  content: "\e94c";
}
.icon-gags:before {
  content: "\e94a";
}
.icon-sponsored:before {
  content: "\e94b";
}
.icon-buck_circle:before {
  content: "\e947";
}
.icon-close_circle:before {
  content: "\e948";
}
.icon-check_circle:before {
  content: "\e949";
}
.icon-globe:before {
  content: "\e945";
}
.icon-buck:before {
  content: "\e946";
}
.icon-btc_circle:before {
  content: "\e944";
}
.icon-medium:before {
  content: "\e941";
}
.icon-github:before {
  content: "\e942";
}
.icon-stairs:before {
  content: "\e93f";
}
.icon-voice:before {
  content: "\e940";
}
.icon-person:before {
  content: "\e93e";
}
.icon-plus:before {
  content: "\e93d";
}
.icon-flag:before {
  content: "\e93c";
}
.icon-404:before {
  content: "\e907";
}
.icon-clock:before {
  content: "\e930";
}
.icon-rocket:before {
  content: "\e931";
}
.icon-filter:before {
  content: "\e927";
}
.icon-calendar:before {
  content: "\e928";
}
.icon-chevron-right:before {
  content: "\e925";
}
.icon-chevron-left:before {
  content: "\e926";
}
.icon-flash_circle:before {
  content: "\e93b";
}
.icon-share-alt:before {
  content: "\e939";
}
.icon-envelope:before {
  content: "\e93a";
}
.icon-attach:before {
  content: "\e936";
}
.icon-quote_r:before {
  content: "\e937";
}
.icon-quote_l:before {
  content: "\e938";
}
.icon-hash:before {
  content: "\e935";
}
.icon-check_2:before {
  content: "\e934";
}
.icon-eye_dot:before {
  content: "\e933";
}
.icon-triangle_r:before {
  content: "\e932";
}
.icon-ai:before {
  content: "\e92f";
}
.icon-ufo_3:before {
  content: "\e92a";
}
.icon-chevron_r_thin:before {
  content: "\e92b";
}
.icon-chevron_l_thin:before {
  content: "\e92c";
}
.icon-asc:before {
  content: "\e92d";
}
.icon-desc:before {
  content: "\e92e";
}
.icon-bonfire:before {
  content: "\e929";
}
.icon-crown:before {
  content: "\e910";
}
.icon-feather:before {
  content: "\e911";
}
.icon-futurama:before {
  content: "\e912";
}
.icon-gone:before {
  content: "\e913";
}
.icon-heart:before {
  content: "\e914";
}
.icon-ico:before {
  content: "\e915";
}
.icon-lamp:before {
  content: "\e916";
}
.icon-quote:before {
  content: "\e917";
}
.icon-startwo:before {
  content: "\e918";
}
.icon-vial:before {
  content: "\e919";
}
.icon-dg:before {
  content: "\e91a";
}
.icon-en:before {
  content: "\e91b";
}
.icon-gp:before {
  content: "\e91c";
}
.icon-in:before {
  content: "\e91d";
}
.icon-inst:before {
  content: "\e91e";
}
.icon-pint:before {
  content: "\e91f";
}
.icon-rd:before {
  content: "\e920";
}
.icon-sk:before {
  content: "\e921";
}
.icon-sl:before {
  content: "\e922";
}
.icon-stm:before {
  content: "\e923";
}
.icon-tmblr:before {
  content: "\e924";
}
.icon-flash:before {
  content: "\e90f";
}
.icon-crypto:before {
  content: "\e908";
}
.icon-splash:before {
  content: "\e909";
}
.icon-say:before {
  content: "\e90a";
}
.icon-shark:before {
  content: "\e90b";
}
.icon-rss:before {
  content: "\e90c";
}
.icon-star:before {
  content: "\e90d";
}
.icon-ufo:before {
  content: "\e90e";
}
.icon-eye:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e900";
}
.icon-fb:before {
  content: "\e901";
}
.icon-tg:before {
  content: "\e903";
}
.icon-triangle:before {
  content: "\e904";
}
.icon-tw:before {
  content: "\e905";
}
.icon-check:before {
  content: "\ea10";
}
.icon-arrow-up:before {
  content: "\ea3a";
}
.icon-arrow-right:before {
  content: "\ea3c";
}
.icon-arrow-down:before {
  content: "\ea3e";
}
.icon-arrow-left:before {
  content: "\ea40";
}
.icon-youtube:before {
  content: "\ea9d";
}
