@font-face {
  font-family: 'crypto_icons';
  src:  url('fonts/crypto_icons.eot?xjkr8t');
  src:  url('fonts/crypto_icons.eot?xjkr8t#iefix') format('embedded-opentype'),
    url('fonts/crypto_icons.ttf?xjkr8t') format('truetype'),
    url('fonts/crypto_icons.woff?xjkr8t') format('woff'),
    url('fonts/crypto_icons.svg?xjkr8t#crypto_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'crypto_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-filter:before {
  content: "\e927";
}
.icon-calendar:before {
  content: "\e928";
}
.icon-chevron-right:before {
  content: "\e925";
}
.icon-chevron-left:before {
  content: "\e926";
}
.icon-crown:before {
  content: "\e910";
}
.icon-feather:before {
  content: "\e911";
}
.icon-futurama:before {
  content: "\e912";
}
.icon-gone:before {
  content: "\e913";
}
.icon-heart:before {
  content: "\e914";
}
.icon-ico:before {
  content: "\e915";
}
.icon-lamp:before {
  content: "\e916";
}
.icon-quote:before {
  content: "\e917";
}
.icon-startwo:before {
  content: "\e918";
}
.icon-vial:before {
  content: "\e919";
}
.icon-dg:before {
  content: "\e91a";
}
.icon-en:before {
  content: "\e91b";
}
.icon-gp:before {
  content: "\e91c";
}
.icon-in:before {
  content: "\e91d";
}
.icon-inst:before {
  content: "\e91e";
}
.icon-pint:before {
  content: "\e91f";
}
.icon-rd:before {
  content: "\e920";
}
.icon-sk:before {
  content: "\e921";
}
.icon-sl:before {
  content: "\e922";
}
.icon-stm:before {
  content: "\e923";
}
.icon-tmblr:before {
  content: "\e924";
}
.icon-flash:before {
  content: "\e90f";
}
.icon-crypto:before {
  content: "\e908";
}
.icon-splash:before {
  content: "\e909";
}
.icon-say:before {
  content: "\e90a";
}
.icon-shark:before {
  content: "\e90b";
}
.icon-rss:before {
  content: "\e90c";
}
.icon-star:before {
  content: "\e90d";
}
.icon-ufo:before {
  content: "\e90e";
}
.icon-share-alt:before {
  content: "\e907";
}
.icon-eye:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e900";
}
.icon-fb:before {
  content: "\e901";
}
.icon-tg:before {
  content: "\e903";
}
.icon-triangle:before {
  content: "\e904";
}
.icon-tw:before {
  content: "\e905";
}
.icon-check:before {
  content: "\ea10";
}
.icon-arrow-up:before {
  content: "\ea3a";
}
.icon-arrow-right:before {
  content: "\ea3c";
}
.icon-arrow-down:before {
  content: "\ea3e";
}
.icon-arrow-left:before {
  content: "\ea40";
}
.icon-youtube:before {
  content: "\ea9d";
}
