@import "variables";

@font-face {
  font-family: 'crypto_icons';
  src:  url('#{$icomoon-font-path}/crypto_icons.eot?hh30o3');
  src:  url('#{$icomoon-font-path}/crypto_icons.eot?hh30o3#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/crypto_icons.ttf?hh30o3') format('truetype'),
    url('#{$icomoon-font-path}/crypto_icons.woff?hh30o3') format('woff'),
    url('#{$icomoon-font-path}/crypto_icons.svg?hh30o3#crypto_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'crypto_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-crown {
  &:before {
    content: $icon-crown;
  }
}
.icon-feather {
  &:before {
    content: $icon-feather;
  }
}
.icon-futurama {
  &:before {
    content: $icon-futurama;
  }
}
.icon-gone {
  &:before {
    content: $icon-gone;
  }
}
.icon-heart {
  &:before {
    content: $icon-heart;
  }
}
.icon-ico {
  &:before {
    content: $icon-ico;
  }
}
.icon-lamp {
  &:before {
    content: $icon-lamp;
  }
}
.icon-quote {
  &:before {
    content: $icon-quote;
  }
}
.icon-startwo {
  &:before {
    content: $icon-startwo;
  }
}
.icon-vial {
  &:before {
    content: $icon-vial;
  }
}
.icon-dg {
  &:before {
    content: $icon-dg;
  }
}
.icon-en {
  &:before {
    content: $icon-en;
  }
}
.icon-gp {
  &:before {
    content: $icon-gp;
  }
}
.icon-in {
  &:before {
    content: $icon-in;
  }
}
.icon-inst {
  &:before {
    content: $icon-inst;
  }
}
.icon-pint {
  &:before {
    content: $icon-pint;
  }
}
.icon-rd {
  &:before {
    content: $icon-rd;
  }
}
.icon-sk {
  &:before {
    content: $icon-sk;
  }
}
.icon-sl {
  &:before {
    content: $icon-sl;
  }
}
.icon-stm {
  &:before {
    content: $icon-stm;
  }
}
.icon-tmblr {
  &:before {
    content: $icon-tmblr;
  }
}
.icon-flash {
  &:before {
    content: $icon-flash;
  }
}
.icon-crypto {
  &:before {
    content: $icon-crypto;
  }
}
.icon-splash {
  &:before {
    content: $icon-splash;
  }
}
.icon-say {
  &:before {
    content: $icon-say;
  }
}
.icon-shark {
  &:before {
    content: $icon-shark;
  }
}
.icon-rss {
  &:before {
    content: $icon-rss;
  }
}
.icon-star {
  &:before {
    content: $icon-star;
  }
}
.icon-ufo {
  &:before {
    content: $icon-ufo;
  }
}
.icon-share-alt {
  &:before {
    content: $icon-share-alt;
  }
}
.icon-eye {
  &:before {
    content: $icon-eye;
  }
}
.icon-search {
  &:before {
    content: $icon-search;
  }
}
.icon-close {
  &:before {
    content: $icon-close;
  }
}
.icon-fb {
  &:before {
    content: $icon-fb;
  }
}
.icon-tg {
  &:before {
    content: $icon-tg;
  }
}
.icon-triangle {
  &:before {
    content: $icon-triangle;
  }
}
.icon-tw {
  &:before {
    content: $icon-tw;
  }
}
.icon-check {
  &:before {
    content: $icon-check;
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up;
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down;
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left;
  }
}

