@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?3rb3es');
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?3rb3es#iefix') format('embedded-opentype'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?3rb3es') format('truetype'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?3rb3es') format('woff'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?3rb3es##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  &:after,
  &:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: '#{$icomoon-font-family}' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.icon-btc {
  &:before {
    content: $icon-btc;
  }
}

.icon-chain {
  &:before {
    content: $icon-chain;
  }
}

.icon-gags {
  &:before {
    content: $icon-gags;
  }
}

.icon-sponsored {
  &:before {
    content: $icon-sponsored;
  }
}

.icon-buck_circle {
  &:before {
    content: $icon-buck_circle;
  }
}

.icon-close_circle {
  &:before {
    content: $icon-close_circle;
  }
}

.icon-check_circle {
  &:before {
    content: $icon-check_circle;
  }
}

.icon-globe {
  &:before {
    content: $icon-globe;
  }
}

.icon-buck {
  &:before {
    content: $icon-buck;
  }
}

.icon-btc_circle {
  &:before {
    content: $icon-btc_circle;
  }
}

.icon-medium {
  &:before {
    content: $icon-medium;
  }
}

.icon-github {
  &:before {
    content: $icon-github;
  }
}

.icon-stairs {
  &:before {
    content: $icon-stairs;
  }
}

.icon-voice {
  &:before {
    content: $icon-voice;
  }
}

.icon-person {
  &:before {
    content: $icon-person;
  }
}

.icon-plus {
  &:before {
    content: $icon-plus;
  }
}

.icon-flag {
  &:before {
    content: $icon-flag;
  }
}

.icon-404 {
  &:before {
    content: $icon-404;
  }
}

.icon-clock {
  &:before {
    content: $icon-clock;
  }
}

.icon-rocket {
  &:before {
    content: $icon-rocket;
  }
}

.icon-filter {
  &:before {
    content: $icon-filter;
  }
}

.icon-calendar {
  &:before {
    content: $icon-calendar;
  }
}

.icon-chevron-right {
  &:before {
    content: $icon-chevron-right;
  }
}

.icon-chevron-left {
  &:before {
    content: $icon-chevron-left;
  }
}

.icon-flash_circle {
  &:before {
    content: $icon-flash_circle;
  }
}

.icon-share-alt {
  &:before {
    content: $icon-share-alt;
  }
}

.icon-envelope {
  &:before {
    content: $icon-envelope;
  }
}

.icon-attach {
  &:before {
    content: $icon-attach;
  }
}

.icon-quote_r {
  &:before {
    content: $icon-quote_r;
  }
}

.icon-quote_l {
  &:before {
    content: $icon-quote_l;
  }
}

.icon-hash {
  &:before {
    content: $icon-hash;
  }
}

.icon-check_2 {
  &:before {
    content: $icon-check_2;
  }
}

.icon-eye_dot {
  &:before {
    content: $icon-eye_dot;
  }
}

.icon-triangle_r {
  &:before {
    content: $icon-triangle_r;
  }
}

.icon-ai {
  &:before {
    content: $icon-ai;
  }
}

.icon-ufo_3 {
  &:before {
    content: $icon-ufo_3;
  }
}

.icon-chevron_r_thin {
  &:before {
    content: $icon-chevron_r_thin;
  }
}

.icon-chevron_l_thin {
  &:before {
    content: $icon-chevron_l_thin;
  }
}

.icon-asc {
  &:before {
    content: $icon-asc;
  }
}

.icon-desc {
  &:before {
    content: $icon-desc;
  }
}

.icon-bonfire {
  &:before {
    content: $icon-bonfire;
  }
}

.icon-crown {
  &:before {
    content: $icon-crown;
  }
}

.icon-feather {
  &:before {
    content: $icon-feather;
  }
}

.icon-futurama {
  &:before {
    content: $icon-futurama;
  }
}

.icon-gone {
  &:before {
    content: $icon-gone;
  }
}

.icon-heart {
  &:before {
    content: $icon-heart;
  }
}

.icon-ico {
  &:before {
    content: $icon-ico;
  }
}

.icon-lamp {
  &:before {
    content: $icon-lamp;
  }
}

.icon-quote {
  &:before {
    content: $icon-quote;
  }
}

.icon-startwo {
  &:before {
    content: $icon-startwo;
  }
}

.icon-vial {
  &:before {
    content: $icon-vial;
  }
}

.icon-dg {
  &:before {
    content: $icon-dg;
  }
}

.icon-en {
  &:before {
    content: $icon-en;
  }
}

.icon-gp {
  &:before {
    content: $icon-gp;
  }
}

.icon-in {
  &:before {
    content: $icon-in;
  }
}

.icon-inst {
  &:before {
    content: $icon-inst;
  }
}

.icon-pint {
  &:before {
    content: $icon-pint;
  }
}

.icon-rd {
  &:before {
    content: $icon-rd;
  }
}

.icon-sk {
  &:before {
    content: $icon-sk;
  }
}

.icon-sl {
  &:before {
    content: $icon-sl;
  }
}

.icon-stm {
  &:before {
    content: $icon-stm;
  }
}

.icon-tmblr {
  &:before {
    content: $icon-tmblr;
  }
}

.icon-flash {
  &:before {
    content: $icon-flash;
  }
}

.icon-crypto {
  &:before {
    content: $icon-crypto;
  }
}

.icon-splash {
  &:before {
    content: $icon-splash;
  }
}

.icon-say {
  &:before {
    content: $icon-say;
  }
}

.icon-shark {
  &:before {
    content: $icon-shark;
  }
}

.icon-rss {
  &:before {
    content: $icon-rss;
  }
}

.icon-star {
  &:before {
    content: $icon-star;
  }
}

.icon-ufo {
  &:before {
    content: $icon-ufo;
  }
}

.icon-eye {
  &:before {
    content: $icon-eye;
  }
}

.icon-search {
  &:before {
    content: $icon-search;
  }
}

.icon-close {
  &:before {
    content: $icon-close;
  }
}

.icon-fb {
  &:before {
    content: $icon-fb;
  }
}

.icon-tg {
  &:before {
    content: $icon-tg;
  }
}

.icon-triangle {
  &:before {
    content: $icon-triangle;
  }
}

.icon-tw {
  &:before {
    content: $icon-tw;
  }
}

.icon-check {
  &:before {
    content: $icon-check;
  }
}

.icon-arrow-up {
  &:before {
    content: $icon-arrow-up;
  }
}

.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;
  }
}

.icon-arrow-down {
  &:before {
    content: $icon-arrow-down;
  }
}

.icon-arrow-left {
  &:before {
    content: $icon-arrow-left;
  }
}

.icon-youtube {
  &:before {
    content: $icon-youtube;
  }
}

