$icomoon-font-path: "fonts" !default;

$icon-person: \e93e;
$icon-plus: \e93d;
$icon-flag: \e93c;
$icon-404: \e907;
$icon-clock: \e930;
$icon-rocket: \e931;
$icon-filter: \e927;
$icon-calendar: \e928;
$icon-chevron-right: \e925;
$icon-chevron-left: \e926;
$icon-flash_circle: \e93b;
$icon-share-alt: \e939;
$icon-envelope: \e93a;
$icon-attach: \e936;
$icon-quote_r: \e937;
$icon-quote_l: \e938;
$icon-hash: \e935;
$icon-check_2: \e934;
$icon-eye_dot: \e933;
$icon-triangle_r: \e932;
$icon-ai: \e92f;
$icon-ufo_3: \e92a;
$icon-chevron_r_thin: \e92b;
$icon-chevron_l_thin: \e92c;
$icon-asc: \e92d;
$icon-desc: \e92e;
$icon-bonfire: \e929;
$icon-crown: \e910;
$icon-feather: \e911;
$icon-futurama: \e912;
$icon-gone: \e913;
$icon-heart: \e914;
$icon-ico: \e915;
$icon-lamp: \e916;
$icon-quote: \e917;
$icon-startwo: \e918;
$icon-vial: \e919;
$icon-dg: \e91a;
$icon-en: \e91b;
$icon-gp: \e91c;
$icon-in: \e91d;
$icon-inst: \e91e;
$icon-pint: \e91f;
$icon-rd: \e920;
$icon-sk: \e921;
$icon-sl: \e922;
$icon-stm: \e923;
$icon-tmblr: \e924;
$icon-flash: \e90f;
$icon-crypto: \e908;
$icon-splash: \e909;
$icon-say: \e90a;
$icon-shark: \e90b;
$icon-rss: \e90c;
$icon-star: \e90d;
$icon-ufo: \e90e;
$icon-eye: \e906;
$icon-search: \e902;
$icon-close: \e900;
$icon-fb: \e901;
$icon-tg: \e903;
$icon-triangle: \e904;
$icon-tw: \e905;
$icon-check: \ea10;
$icon-arrow-up: \ea3a;
$icon-arrow-right: \ea3c;
$icon-arrow-down: \ea3e;
$icon-arrow-left: \ea40;
$icon-youtube: \ea9d;

