$icomoon-font-path: "fonts" !default;

$icon-crypto: "\e908";
$icon-splash: "\e909";
$icon-say: "\e90a";
$icon-shark: "\e90b";
$icon-rss: "\e90c";
$icon-star: "\e90d";
$icon-ufo: "\e90e";
$icon-share-alt: "\e907";
$icon-eye: "\e906";
$icon-search: "\e902";
$icon-close: "\e900";
$icon-fb: "\e901";
$icon-tg: "\e903";
$icon-triangle: "\e904";
$icon-tw: "\e905";
$icon-check: "\ea10";
$icon-arrow-up: "\ea3a";

